[2017-12-16 16:28] charettes commented on #4008
@jmichalicek I think the change should only be done for `delay()`/`apply_async()` because AFAIK `task.apply()` is an equivalent of `task()` and doesn't perform a serialization roundtrip for the sake of preserving provided `args`/`kwargs` identity.

[2017-12-16 16:39] AlexHill commented on #4008
I agree with leaving the existing behaviour of apply() alone. A patch
should only address the case of using delay() and apply_async() while
always_eager is enabled.

On Sun, 17 Dec 2017 at 00:28 Simon Charette <notifications@github.com>
wrote:

[2017-12-16 17:15] jmichalicek commented on #4008
@charettes @AlexHill Makes sense if `apply()` is intended to be conceptually different from `apply_async()` beyond just that one is async and the other is not.

I have always thought of them as "do the exact same thing, except one of these runs async in a separate process".  They are calling the same task with the same inputs so to me should pass the same data into the task.  But if I misunderstoo

[2017-12-16 21:28] Korijn commented on #4008
Looks great to me @charettes! Thanks!

[2017-12-16 23:36] danigosa commented on #4342
@georgepsarakis you got it:

**Override patch in the worker app file directly at `vim /usr/local/lib/python3.6/site-packages/celery/utils/functional.py`**
![image](https://user-images.githubusercontent.com/1827475/34075257-bab6b672-e2c1-11e7-9378-37856ab61962.png)

Then:
`rm -rf /usr/local/lib/python3.6/site-packages/celery/utils/__pycache__ `

Then include them in cython compilation:

![image](ht

[2017-12-17 10:05] zivsu commented on #4400
I also encountered the same problem，have you solved it? @jenstroeger

Thanks!

[2017-12-17 10:18] georgepsarakis commented on #4400
@jenstroeger that does not sound like a feasible flow, I think the worker just continuously requeues the message in order to postpone execution until the ETA condition is finally met. The concept of the queue is to distribute messages as soon as they arrive, so the worker examines the message and just requeues.

Please note that this is my guess, I am not really aware of the internals of the ETA i

[2017-12-17 11:54] georgepsarakis commented on #4342
@danigosa if that is not too much to ask, could you please try:

[code]

If you can't get it to work, I will try and recreate the Cython conditions for a possible fix.

[2017-12-17 15:49] auvipy commented on #3551
follow this to fix https://github.com/celery/celery/pull/4078

[2017-12-17 23:55] dfresh613 commented on #4449
Any thoughts as to a possible work around, or root cause?

[2017-12-18 03:36] Daynity commented on #3932
I add this to my celery config and it works.
[code]

[2017-12-18 08:52] cajbecu opened #4457 "Connection to broker lost. Trying to re-establish the connection: OSError: [Errno 9] Bad file descriptor"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Software
celery==4.1.0
kombu==4.1.0
amqp==2.2.2
Python 3.6.1
broker: rabbitmq 3.6.14
result backend: redis

## Steps to repro

[2017-12-18 17:09] shihanwan commented on #4341
Confirmed on 4.1.0

[2017-12-18 17:12] auvipy commented on #4341
does it exist in master too?

[2017-12-18 19:03] georgepsarakis commented on #4341
@auvipy the [PR](https://github.com/celery/celery/pull/4101) with this feature was merged after 4.1.0 was released.

[2017-12-18 19:17] udbhav commented on #3631
I tried removing `stopasgroup` and `killasgroup`, now, the error is `billiard.exceptions.WorkerLostError: Worker exited prematurely: exitcode 0.` Would that mean I need to raise the amount of time that supervisor will wait before killing a process?

I tried asking my question about `stopasgroup` on IRC, but didn't get much response. Would like to reiterate that it's quite confusing to have 2 oppos

[2017-12-18 20:24] wcooley commented on #4356
NB: This can happen also with a 4.1.0 producer and 3.1.25 consumer, where the consumer calls `retry()`. It seems that when it returns the message to the queue, it has translated the body to the protocol 1 format but it retains the headers for protocol 2, so it is detected as 2.

I manually applied #4357 to my production system (eek!) and it appears to be working.

[2017-12-19 06:15] thedrow commented on #4356
Great!

[2017-12-19 07:30] thedrow commented on #4341
Should we close then?

[2017-12-19 08:37] auvipy commented on #3500
If anyone interested to work on that please open a new issue describing the to-do's

[2017-12-19 09:07] #4108 closed

[2017-12-19 09:08] #4011 closed

[2017-12-19 09:08] auvipy commented on #4114
try master to check if it still exist

[2017-12-19 09:08] #4114 closed

[2017-12-19 09:10] auvipy commented on #4121
please send a fix with testcase if you think it's a defect and could be improved.

[2017-12-19 09:10] #4121 closed

[2017-12-19 09:19] auvipy commented on #3577
@jxskiss you could send a pr for adding this into celery

[2017-12-19 09:19] #3577 closed

[2017-12-19 09:23] auvipy commented on #4117
if the issue still exist on master plz report or send a pr with suggested fix

[2017-12-19 09:23] #4117 closed

[2017-12-19 09:24] auvipy commented on #4117
and use pyamqp

[2017-12-19 09:25] auvipy commented on #3860
use the latest releases of all packages and check again. if any issues raises please report

[2017-12-19 09:28] auvipy commented on #3819
is this issue still exist in master?

[2017-12-19 09:30] auvipy commented on #3789
could you verify the issue on top of master?

[2017-12-19 09:32] auvipy commented on #3776
please report again if this exists on top of master

[2017-12-19 09:32] #3776 closed

[2017-12-19 09:34] #4133 closed

[2017-12-19 09:36] auvipy commented on #4125
hey, could you verify this on top of master?

[2017-12-19 09:37] canassa commented on #3860
This issue is no hapenning, I am closing it. Thanks

[2017-12-19 09:37] #3860 closed

[2017-12-19 09:42] auvipy commented on #4147
I have added to v5 milstone for tracking

[2017-12-19 09:45] auvipy commented on #4155
please check the master branch and report again

[2017-12-19 09:45] #4155 closed

[2017-12-19 09:50] #4122 closed

[2017-12-19 09:51] #4024 closed

[2017-12-19 09:59] auvipy commented on #3539
fixed https://github.com/celery/celery/pull/3752

[2017-12-19 09:59] #3539 closed

[2017-12-19 10:01] auvipy commented on #4163
could you verify this issue on top of master?

[2017-12-19 10:03] auvipy commented on #4168
Ask this type of questions to the celery-users mailing list and use the latest releases.

[2017-12-19 10:03] #4168 closed

[2017-12-19 10:05] auvipy commented on #4174
I am unsure it still exists on master? closing conditionally hoping to reopen if get report again on master

[2017-12-19 10:05] #4174 closed

[2017-12-19 10:07] #4049 closed

[2017-12-19 10:09] auvipy commented on #4179
use latest releases

[2017-12-19 10:09] #4179 closed

[2017-12-19 10:16] auvipy commented on #4191
sorry for late response could you verify the issue on top of latest master?

[2017-12-19 10:19] auvipy commented on #3642
@lpsinger is this issue fixed on master?

[2017-12-19 10:20] #3833 closed

[2017-12-19 10:22] #4193 closed

[2017-12-19 10:25] #4186 closed

[2017-12-19 10:27] auvipy commented on #3538
https://github.com/celery/celery/pull/4437 should fix this, if not plz report

[2017-12-19 10:27] #3538 closed

[2017-12-19 10:28] auvipy commented on #4196
https://github.com/celery/celery/pull/4437 this should fix if not mistaken.

[2017-12-19 10:28] #4196 closed

[2017-12-19 10:30] auvipy commented on #4202
please follow the docs and try again on top of master

[2017-12-19 10:30] #4202 closed

[2017-12-19 10:43] auvipy commented on #4134
closing as fixed

[2017-12-19 10:43] #4134 closed

[2017-12-19 10:48] auvipy commented on #4150
let's continue the discussion https://github.com/celery/celery/issues/3781 here

[2017-12-19 10:48] #4150 closed

[2017-12-19 10:51] auvipy commented on #4207
If you could verify this again on top of latest master plz ping me to reopen

[2017-12-19 10:52] #3805 closed

[2017-12-19 10:57] auvipy commented on #4068
sorry you could't provide support for celery 3.x branch... please consider and upgrade to 4.1 or upcoming 4.2 release. I will focus more on future v5 of celery

[2017-12-19 10:57] #4068 closed

[2017-12-19 10:58] auvipy commented on #4062
report if upgrading to 4.1+ don't resolve this type of issues.

[2017-12-19 10:58] #4062 closed

[2017-12-19 11:01] auvipy commented on #4164
please try the master branch and see if recent commits fix this issue. if not please ping to reopen

[2017-12-19 11:01] #4164 closed

[2017-12-19 11:02] #4181 closed

[2017-12-19 11:06] auvipy commented on #3476
we decided not to support 3.1 branch anymore. try the latest branch and reopen if it still exist.

[2017-12-19 11:06] #3476 closed

[2017-12-19 11:08] #3868 closed

[2017-12-19 11:13] auvipy commented on #4229
could you verify this again on top of master branch? and try upgrading all the dependencies

[2017-12-19 11:13] #4229 closed

[2017-12-19 11:18] auvipy commented on #4172
closing as not a bug, if any documentation or code fixes are suggested plz send a pr

[2017-12-19 11:18] #4172 closed

[2017-12-19 11:28] auvipy commented on #4247
what is your intended outcome should be?

[2017-12-19 11:30] auvipy commented on #4248
follow docs and if you don;t understand post a detail question to celery-users mailing list

[2017-12-19 11:30] #4248 closed

[2017-12-19 11:34] auvipy commented on #4249
try latest branch and docs and if still problem exist please report

[2017-12-19 11:34] #4249 closed

[2017-12-19 11:40] auvipy commented on #4084
could you also check latest master and report?

[2017-12-19 11:49] #3937 closed

[2017-12-19 11:59] auvipy commented on #3528
this should be fixed on latest master please check and report if not

[2017-12-19 11:59] #3528 closed

[2017-12-19 12:02] auvipy commented on #4159
lets continue discussion on #3990

[2017-12-19 12:02] #4159 closed

[2017-12-19 12:09] auvipy commented on #4087
could you verify the issue on top of latest master? and report if still exist I will reopen

[2017-12-19 12:09] #4087 closed

[2017-12-19 12:12] auvipy commented on #4256
I don't think it's a celery issue. check your packages and apps

[2017-12-19 12:12] #4256 closed

[2017-12-19 12:14] auvipy commented on #4256
both should be from site package

[2017-12-19 12:15] auvipy commented on #4256
but if you have any suggested workaround feel free to send pr

[2017-12-19 12:23] auvipy commented on #3812
change to v5 if not possible to fix before 4.2 release

[2017-12-19 12:27] #4341 closed

[2017-12-19 12:32] auvipy commented on #4050
try to use the latest versions of the dependencies and verify on top of celery master branch. closing conditionally for now

[2017-12-19 12:34] auvipy commented on #4267
try latest releases and check the baster branch.

[2017-12-19 12:34] #4267 closed

[2017-12-19 13:04] auvipy commented on #4269
could you verify this against current master? and report?

[2017-12-19 13:04] #4269 closed

[2017-12-19 13:08] auvipy commented on #2991
could you check the master branch with latest versions of dependency?

[2017-12-19 13:13] lpsinger commented on #3642
No.

[2017-12-19 13:19] auvipy commented on #4275
it's better to post this type of questions to https://groups.google.com/forum/#!forum/celery-users

[2017-12-19 13:19] #4275 closed

[2017-12-19 13:25] auvipy commented on #3759
https://github.com/celery/kombu/pull/817 work in progress

[2017-12-19 13:26] auvipy commented on #3759
@AlexHill do you have time to take a look on fixing the issue?

[2017-12-19 13:28] auvipy commented on #4279
check the kombu and celery internal and docs about contribution

[2017-12-19 13:48] auvipy commented on #4284
this should exist in master too?

[2017-12-19 13:53] auvipy commented on #4287
try the latest master branch and report for reopening

[2017-12-19 13:53] #4287 closed

[2017-12-19 13:54] auvipy commented on #4288
this type of questions better fitted for celery-users mailing list or IRC

[2017-12-19 13:54] #4288 closed

[2017-12-19 13:55] #3537 closed

[2017-12-19 13:58] auvipy commented on #3723
I think this is fixed in master

[2017-12-19 13:59] auvipy commented on #4277
plz ask this type of questions to mailing list or irc.

[2017-12-19 13:59] #4277 closed

[2017-12-19 14:01] auvipy commented on #4294
you would get the answer of the question by digging into the code or on a thread in the mailing list.

[2017-12-19 14:01] #4294 closed

[2017-12-19 14:04] auvipy commented on #4300
could you check the latest master if the issue is fixed?

[2017-12-19 14:05] auvipy commented on #4295
I have added this to next release milestone with the hope to be tracked before the release

[2017-12-19 14:06] auvipy commented on #4297
try the latest master branch of celery with updated dependencies and report again

[2017-12-19 14:06] #4297 closed

[2017-12-19 14:07] auvipy commented on #4298
could you plz check the master if it still exists?

[2017-12-19 14:09] auvipy commented on #4289
you could use the latest release or master branch and ask for help in mailing list, if still it seems to be a bug pin me here to reopen.

[2017-12-19 14:09] #4289 closed

[2017-12-19 14:11] alukach commented on #4147
@auvipy Do you think this is a good idea? I'm admittedly uncertain.

[2017-12-19 14:13] auvipy commented on #4453
sorry you dont support celery 3 anymore. upgrading to celery 4.1+ should resolve many of your issue. celery 4.2 is coming in next january.

[2017-12-19 14:13] #4453 closed

[2017-12-19 14:18] auvipy commented on #4441
I am closing this as not a celery bug

[2017-12-19 14:18] #4441 closed

[2017-12-19 14:19] auvipy commented on #4440
post your question to mailing list/irc after that report here again.

[2017-12-19 14:19] #4440 closed

[2017-12-19 14:23] auvipy commented on #4410
plz send a pr if you have any proposed solution. not sure if it is fixed in master, so you could also try master  latest changes

[2017-12-19 14:42] auvipy commented on #3118
closing as done

[2017-12-19 14:42] #3118 closed

[2017-12-19 14:44] auvipy commented on #3033
if the issue still persist in master plz ping here to reopen.

[2017-12-19 14:44] #3033 closed

[2017-12-19 14:46] auvipy commented on #2689
could you verify on master?

[2017-12-19 14:50] auvipy commented on #3193
can you verify this on master? adding this to celery 5 milestone for further investigation

[2017-12-19 14:54] auvipy commented on #3149
I am closing this issue, if it still hits in master or new release plz report.

[2017-12-19 14:54] #3149 closed

[2017-12-19 14:56] auvipy commented on #3134
can you check on master

[2017-12-19 14:57] auvipy commented on #3134
4.1 fixes a lot of this issues, so try the latest master and report again.

[2017-12-19 14:57] #3134 closed

[2017-12-19 15:01] auvipy commented on #3359
please try the celery master and report if it's still an issue

[2017-12-19 15:01] #3359 closed

[2017-12-19 15:03] auvipy commented on #3317
lets try the master and report issues on https://github.com/celery/kombu/pull/817

[2017-12-19 15:03] #3317 closed

[2017-12-19 15:05] auvipy commented on #3709
can anyone verify the status on master branch?

[2017-12-19 15:06] auvipy commented on #3378
report if it still an issue on master

[2017-12-19 15:06] #3378 closed

[2017-12-19 15:07] auvipy commented on #3328
closing in favor of https://github.com/celery/kombu/pull/817

[2017-12-19 15:07] #3328 closed

[2017-12-19 15:09] auvipy commented on #3396
try master and report if it's still the issue

[2017-12-19 15:10] auvipy commented on #3406
try master and report if it's still the issue

[2017-12-19 15:10] #3406 closed

[2017-12-19 15:10] auvipy commented on #3411
try master and report if it's still the issue.

[2017-12-19 15:10] #3411 closed

[2017-12-19 15:11] auvipy commented on #3416
try master and report if it's still the issue

[2017-12-19 15:11] #3416 closed

[2017-12-19 15:12] auvipy commented on #3427
try master and report if it's still the issue

[2017-12-19 15:12] #3427 closed

[2017-12-19 15:12] auvipy commented on #3471
try master and report if it's still the issue

[2017-12-19 15:12] #3471 closed

[2017-12-19 15:16] auvipy commented on #3472
try master and report if it's still the issue

[2017-12-19 15:16] #3472 closed

[2017-12-19 15:18] auvipy commented on #1709
try master and report if it's still the issue

[2017-12-19 15:18] auvipy commented on #3483
try master and report if it's still the issue

[2017-12-19 15:18] #3483 closed

[2017-12-19 15:20] auvipy commented on #3504
seems to be fixed on master

[2017-12-19 15:20] #3504 closed

[2017-12-19 15:21] auvipy commented on #3561
could you guys verify if this still exist in master?

[2017-12-19 15:23] auvipy commented on #4147
I don't have any final thought right now. just milestoning for future tracking.

[2017-12-19 15:25] auvipy commented on #3631
could you also try on master?

[2017-12-19 15:36] charettes commented on #3631
@auvipy on master `celery`, `kombu`, and `billiard`? Is there any reason to believe a recent commit fixed the issue?

[2017-12-19 15:40] auvipy commented on #3163
does this still happens in master? could you verify?

[2017-12-19 15:46] warvariuc commented on #4269
I migrated to Huey instead, so I cannot check.

[2017-12-19 15:47] auvipy commented on #3279
probably you could try latest master and check https://github.com/celery/celery/issues/3339 this issue

[2017-12-19 15:47] #3279 closed

[2017-12-19 15:58] #3276 closed

[2017-12-19 16:00] #3415 closed

[2017-12-19 16:01] #3419 closed

[2017-12-19 16:02] #3302 closed

[2017-12-19 16:03] auvipy commented on #3310
try master branch and report if it still exists

[2017-12-19 16:03] #3310 closed

[2017-12-19 16:04] auvipy commented on #3312
report if it still exist in master

[2017-12-19 16:05] auvipy commented on #3315
reopen if it is still an issue on master

[2017-12-19 16:05] #3315 closed

[2017-12-19 16:09] auvipy commented on #3363
reopen if it's still on master

[2017-12-19 16:09] #3363 closed

[2017-12-19 16:11] auvipy commented on #3377
any one can report if this still on master?

[2017-12-19 16:12] auvipy commented on #3384
I thinks it's fixed on django-celery

[2017-12-19 16:12] #3384 closed

[2017-12-19 16:19] auvipy commented on #3385
I hope this already fixed on master

[2017-12-19 16:19] #3385 closed

[2017-12-19 16:20] auvipy commented on #3387
try latest releases and master branch and reopen if it still exist on master

[2017-12-19 16:20] #3387 closed

[2017-12-19 16:21] auvipy commented on #3894
could you verify this on top of master?

[2017-12-19 16:33] auvipy commented on #3768
if anyone can verify this on master there would be consensus to fix it on next big release

[2017-12-19 16:35] auvipy commented on #3571
could you verify this still happens on master?

[2017-12-19 16:37] auvipy commented on #3549
This may be specific too backend. could you verify it on current master?

[2017-12-19 16:39] auvipy commented on #3559
is the bug still live in master?

[2017-12-19 16:40] auvipy commented on #3518
try new releases...

[2017-12-19 16:40] #3518 closed

[2017-12-19 16:41] auvipy commented on #3512
post this type of question to irc or mailing list.

[2017-12-19 16:41] #3512 closed

[2017-12-19 16:41] auvipy commented on #3522
should be fixed on master

[2017-12-19 16:41] #3522 closed

[2017-12-19 16:43] auvipy commented on #3458
sorry  for late response. could you still verify this on latest master?

[2017-12-19 16:43] #3458 closed

[2017-12-19 16:43] auvipy commented on #3458
and post questions to irc or mailing lists first

[2017-12-19 16:56] auvipy commented on #3422
it still on master? ask is no longer working on celery

[2017-12-19 16:56] #3638 closed

[2017-12-19 17:00] auvipy commented on #3744
closing in favor of https://github.com/celery/celery/issues/3874 hope it's fixed

[2017-12-19 17:00] #3744 closed

[2017-12-19 17:00] auvipy commented on #3735
is this still the case in master?

[2017-12-19 17:02] auvipy commented on #3704
check master branch and verify

[2017-12-19 17:02] #3704 closed

[2017-12-19 17:02] #3700 closed

[2017-12-19 17:03] #3659 closed

[2017-12-19 17:04] auvipy commented on #3682
try latest master branch and report if it still happen.

[2017-12-19 17:04] #3682 closed

[2017-12-19 17:05] #3657 closed

[2017-12-19 17:07] auvipy commented on #3755
ask this type of question to mailing list.

[2017-12-19 17:07] #3755 closed

[2017-12-19 17:08] auvipy commented on #3765
what's it's status on latest master?

[2017-12-19 17:10] auvipy commented on #3762
post questions to mailing list or irc

[2017-12-19 17:12] #3859 closed

[2017-12-19 17:16] auvipy commented on #3841
should be fixed on master

[2017-12-19 17:16] #3841 closed

[2017-12-19 17:20] #3824 closed

[2017-12-19 17:26] auvipy commented on #3821
seems it's fixed

[2017-12-19 17:26] #3821 closed

[2017-12-19 20:45] NomadDemon commented on #3923
Hi

I just cancelled my celery stuff. Dont have time right now to develop this app :(

[2017-12-20 05:02] auvipy commented on #3454
this type of questions are better fitted for mailing list or irc channel.

[2017-12-20 05:02] #3454 closed

[2017-12-20 05:03] auvipy commented on #3456
it's better to ask support questions either in mailing list or irc channel.

[2017-12-20 05:04] #3453 closed

[2017-12-20 05:06] auvipy commented on #3448
try latest release and better post questions to mailing list, and if it seems something should be addressed in celery then report in github.

[2017-12-20 05:06] #3448 closed

[2017-12-20 05:13] #3443 closed

[2017-12-20 05:14] auvipy commented on #3434
could anyone verify it against master again?

[2017-12-20 05:20] auvipy commented on #3429
may be this issue is a guide for fix https://github.com/celery/celery/issues/3520

[2017-12-20 05:23] auvipy commented on #3405
report again if it exist after new release

[2017-12-20 05:23] #3405 closed

[2017-12-20 05:26] #3401 closed

[2017-12-20 05:28] #3398 closed

[2017-12-20 05:33] #3390 closed

[2017-12-20 05:49] #3611 closed

[2017-12-20 06:01] auvipy commented on #3589
closing. if it still appears and any one have any code or docs suggestions plz feel free to send a pr referencing this issue.

[2017-12-20 06:03] #3588 closed

[2017-12-20 06:04] #3584 closed

[2017-12-20 06:08] auvipy commented on #3581
verify and report again if the issue still exist on master

[2017-12-20 06:08] #3581 closed

[2017-12-20 06:10] auvipy commented on #3572
feel free to report if it's still the issue

[2017-12-20 06:10] #3572 closed

[2017-12-20 06:15] auvipy commented on #3535
Hi could you verify if the bug is fixed in master? or related issues?

[2017-12-20 06:17] auvipy commented on #3517
please report again with more detail if the bug still in master

[2017-12-20 06:17] #3517 closed

[2017-12-20 06:18] auvipy commented on #3506
this should be fixed on master. report if still exist in latest releases.

[2017-12-20 06:18] #3506 closed

[2017-12-20 06:19] #3501 closed

[2017-12-20 06:22] #3492 closed

[2017-12-20 06:24] auvipy commented on #3711
try latest releases and report again if it is still a bug

[2017-12-20 06:24] #3711 closed

[2017-12-20 06:29] auvipy commented on #3703
ask questions to mailing list first

[2017-12-20 06:29] #3703 closed

[2017-12-20 06:30] auvipy commented on #3702
you could check latest issues/commits.

[2017-12-20 06:30] #3702 closed

[2017-12-20 06:54] pdd-pipixia opened #4458 "How to set celery worker heartbeat queue"
I am using django-celery3.2.1 with rabbitmq as broker. I found celery worker sent heartbeat event to a random queue every time when I restart celery. I want to know how to send the heartbeat event to an appointed queue. Please help me. Thanks very much.

[2017-12-20 07:48] #3630 closed

[2017-12-20 07:49] auvipy commented on #4458
post your questions to mailing list or irc, not in github.

[2017-12-20 07:49] #4458 closed

[2017-12-20 08:02] dtheodor commented on #3456
This is not a question. It's a feature request.

[2017-12-20 08:10] auvipy commented on #4129
@georgepsarakis can we close this or consider it as a new feature request?

[2017-12-20 08:14] hbldh commented on #3572
I rewrote that part of my app to use the proposed solution above and have not had the issue since. It might still be there, but I haven't encountered it due to that.

[2017-12-20 08:31] auvipy commented on #3923
closing for now

[2017-12-20 08:31] #3923 closed

[2017-12-20 08:58] mihajenko commented on #3377
I've been dealing with this bug for over a year now (on 3.xx and 4.xx). I've switched from Windows to Linux during this. My experiences when this can happen:

1. On gevent threads that are taking too long
2. Workers don't consume messages from RabbitMQ fast enough
3. There is resource starvation for one of the dependent processes (ex: database swaps because lack of free memory) or generally when C

[2017-12-20 09:46] auvipy commented on #3377
@mihajenko thanks for you detail explanation

[2017-12-20 09:57] auvipy commented on #3328
https://github.com/celery/celery/issues/3377 last answer is most suitable diagnosis of the issue

[2017-12-20 09:58] auvipy commented on #3773
see the last explanation of @mihajenko https://github.com/celery/celery/issues/3377

[2017-12-20 10:17] auvipy commented on #3631
@charettes since I have seen many times people using older versions and complaining about issues, some of which sometime get fixed but we don't keep track them well. The last reporter seems to use older release, as we can't verify all the issues so telling reporters to verify on latest master branch.

[2017-12-20 10:34] auvipy commented on #4386
whats your celery setup? does using latest releases solve or change the trackback?

[2017-12-20 10:38] auvipy commented on #4048
anyone could verify the issue in recent master with latest dependencies?

[2017-12-20 10:43] auvipy commented on #4281
may be related https://github.com/celery/celery/issues/4022

[2017-12-20 11:08] #3926 closed

[2017-12-20 11:16] not-raspberry commented on #3571
[code]

[2017-12-20 11:16] not-raspberry commented on #3571
Still occurs.

[2017-12-20 14:06] auvipy commented on #4407
I dig it and seems interesting and good fit for celery case.

[2017-12-20 14:18] #3701 closed

[2017-12-20 14:30] auvipy commented on #4305
contributions are wellcome

[2017-12-20 14:32] #4293 closed

[2017-12-20 14:32] auvipy commented on #4293
better to post discussion type issues to mailing list.

[2017-12-20 14:34] auvipy commented on #3758
have a look on this https://github.com/celery/celery/pull/3592 for tracking progress

[2017-12-20 14:34] #3758 closed

[2017-12-20 14:36] auvipy commented on #4273
I would suggest to use the latest releases of celery and check again.

[2017-12-20 14:36] #4273 closed

[2017-12-20 14:38] auvipy commented on #4314
probably a fix is work in progress, plz have a look on the recent pr/commits

[2017-12-20 14:39] auvipy commented on #3690
closing as fixed on master, try latest releases.

[2017-12-20 14:39] #3690 closed

[2017-12-20 14:41] auvipy commented on #3738
check the latest commits to see if redis broaker related issues are fixed

[2017-12-20 14:43] auvipy commented on #4309
is it issue of celery or flower? or both?

[2017-12-20 14:44] auvipy commented on #4320
I think yes. better post this questions to mailing list or IRC

[2017-12-20 14:44] #4320 closed

[2017-12-20 14:52] auvipy commented on #4323
Should this issue considered as feature request or bug ? I would request you to sed improvement for hardcoded part

[2017-12-20 15:10] auvipy commented on #4071
@georgepsarakis do you remember any recent fix about this?

[2017-12-20 15:14] auvipy commented on #4317
there are reports about rpc result backend

[2017-12-20 15:20] auvipy commented on #4115
report again if the problem raise again

[2017-12-20 15:20] #4115 closed

[2017-12-20 15:26] auvipy commented on #3751
removing the --max-tasks-per-child option work for this issue? If you can relate more related issues that would be easier for tracing the bug

[2017-12-20 15:32] auvipy commented on #4343
it's better to post how to questions to mailing list to get better answers. we use issue traker for bug report/features request.

[2017-12-20 15:32] #4343 closed

[2017-12-20 15:41] auvipy commented on #4177
I pr is open to address this issue please have a look and try that.

[2017-12-20 15:44] auvipy commented on #4349
I would request to try latest release or latest master update and report again

[2017-12-20 15:44] #4349 closed

[2017-12-20 15:44] paulochf commented on #3279
My colleagues at my work were getting this problem and they solved by switching to [rq](https://github.com/nvie/rq). The `CELERYD_MAX_TASKS_PER_CHILD` setting wasn't enough.

[2017-12-20 15:48] auvipy commented on #4354
could you share more detail? can you also update all the dependency? kombu should be 4.x

[2017-12-20 15:51] auvipy commented on #4270
can you try another broker like rabbitmq?

[2017-12-20 16:04] auvipy commented on #4334
there is also an issue to release official docker image and other modern deployment options like kubernete

[2017-12-20 16:09] auvipy commented on #4374
kindly use the lastest releases and follow the docs, and post on mailing list for help.

[2017-12-20 16:09] #4374 closed

[2017-12-20 16:13] auvipy commented on #4375
thanks for reporting. can you elaborate more and provide a testcase?

[2017-12-20 16:14] hassek commented on #4349
@auvipy will do, I have it on my pipeline.

On another note, do you know if task retries are bound to rate limits? I believe they aren't but I haven't found any docs confirming.

[2017-12-20 16:19] auvipy commented on #4377
@AlexHill @georgepsarakis could you check

[2017-12-20 16:21] auvipy commented on #4360
We decided to no longer prodice support for 3.x branch

[2017-12-20 16:21] #4360 closed

[2017-12-20 16:24] #4329 closed

[2017-12-20 16:27] auvipy commented on #4349
may be there is option to set retry limit time explicitely

[2017-12-20 17:21] jenstroeger commented on #4300
@auvipy, which change set is supposed to fix the issue? I’d like to review.

[2017-12-20 17:33] chiang831 commented on #3589
It took me a while to realize that if there is any exception raised in setup_periodic_tasks, it will get silently suppressed.

The function is called here: https://github.com/celery/celery/blob/master/celery/app/base.py#L950

If anything goes wrong, the exception is only saved in responses, no re-raise or log:
https://github.com/celery/celery/blob/master/celery/utils/dispatch/signal.py#L276

So my

[2017-12-20 18:24] aleperno commented on #3789
I will definitely try to check this issue on master and update this issue. Thanks

[2017-12-20 18:55] georgepsarakis commented on #3701
@villasv great, thanks for sharing the solution :smile: !

[2017-12-20 20:03] andrew80k commented on #4304
Here is my config, only real difference is I use a config to manage the process:

[code]

[2017-12-21 04:15] auvipy commented on #3589
@chiang831 do you have any suggestions to improve it? if so plz send a pr or open a discussion on celery-users mailing list

[2017-12-21 04:23] auvipy commented on #4300
I am not sure actually. so requesting if anyone have time and scope to verify on master branch, we have a planned release of 4.2 within the first/2nd week of january

[2017-12-21 04:32] auvipy commented on #4304
@andrew80k does your script solve the issue? is there any change needed in celery docs or in celery?

[2017-12-21 04:45] auvipy commented on #4184
976515108a4357397a3821332e944bb85550dfa2 apply this and check

[2017-12-21 04:45] #4184 closed

[2017-12-21 04:47] auvipy commented on #3409
check the issue with latest release or master branch and report again

[2017-12-21 04:47] #3409 closed

[2017-12-21 04:52] auvipy commented on #3698
feel frer to start you contribution

[2017-12-21 04:58] #4371 closed

[2017-12-21 05:04] auvipy commented on #4185
can anyone verify the issues on top of latest master? not sure if it's already fixed with latest commit.

[2017-12-21 05:07] auvipy commented on #4405
check if this fix your issue d02d260a192f8923dfa331ae2b503af57534654a

[2017-12-21 05:13] auvipy commented on #4394
I am not sure if that is possible

[2017-12-21 05:34] auvipy commented on #4411
use the new releases and follow the docs and check again

[2017-12-21 05:34] #4411 closed

[2017-12-21 06:05] auvipy commented on #4413
contributions welcome

[2017-12-21 06:08] #3697 closed

[2017-12-21 06:15] auvipy commented on #3796
@dejlek can you verify this with 4.1 and on master?

[2017-12-21 06:18] auvipy commented on #3802
if anyone can verify the issue on latest master branch using the latest dependencies?

[2017-12-21 06:19] georgepsarakis commented on #3796
@auvipy I don't think this is fixed yet.

[2017-12-21 06:20] auvipy commented on #4321
if you could install all the latest commits from master branch and verify?

[2017-12-21 06:22] auvipy commented on #4363
lets us know your feedback

[2017-12-21 08:02] timo-piirmann commented on #3738
Originally we were running redis-server 2.8.x without the latest bugfix versions. After updating to redis-server 3.2.x things seem to have stabled.

But can't yet be 100% sure

[2017-12-21 08:29] syre commented on #3751
@auvipy yes when removing the `--max-tasks-per-child` from the worker launch options, we no longer get the error when trying to revoke a task.

[2017-12-21 09:20] danigosa commented on #4342
There we go, bad luck:

![image](https://user-images.githubusercontent.com/1827475/34248802-9cf667ee-e637-11e7-80f9-3be01b2aabb0.png)

[code]

But nothing we cannot expect using `inspect` : https://github.com/cython/cython/wiki/Unsupported#inspect-support

[2017-12-21 12:18] auvipy commented on #4296
https://github.com/celery/kombu/pull/769 this should fix the issue

[2017-12-21 12:18] #4296 closed

[2017-12-21 12:23] auvipy commented on #4412
could you please send a PR with your proposed fix/workaround on master branch?

[2017-12-21 12:35] auvipy commented on #3459
@justinsousa could you send a pr with your described workaround? or it's already patched by someone?

[2017-12-21 12:37] auvipy commented on #3806
could you elaborate which versions are you using and your setup?

[2017-12-21 12:39] auvipy commented on #4451
could you please elaborate more about your usecase and settings? celery versions etc?

[2017-12-21 12:49] auvipy commented on #4455
if the key is explicitely defined in django settings then your suggested way is right

[2017-12-21 12:51] jenstroeger commented on #4420
Just FYI: this question has _not_ been answered. A task’s arguments are _not_ serialized using JSON.

[2017-12-21 12:56] jenstroeger commented on #4400
@zivsu, as [mentioned above](https://github.com/celery/celery/issues/4400#issuecomment-346769150) I’ve set the `visibility_timeout` to a _very_ large number and that seems to have resolved the symptoms. However, as @georgepsarakis points out, that seems to be a poor approach.

I do not know the cause of the original problem nor how to address it properly.

[2017-12-21 13:00] alexgarel commented on #4412
hi @auvipy, I won't have the time until jannuary. I'll need help on how to write the tests also (that's the reason why I didn't propose a PR).

[2017-12-21 13:25] clokep commented on #3806
Note that I was actually trying to use this inside of a Twisted program originally, but we eventually identified a bunch of issues with that anyway (namely that Celery uses sockets outside of Twisted's reactor, which causes all sorts of performance issues). We ended up rewriting a bunch of this code such that the promise protocol nicety wouldn't be useful anymore.

[2017-12-21 14:02] andrew80k commented on #4304
@auvipy As far as I can tell from here: http://celery.readthedocs.io/en/latest/userguide/daemonizing.html

There isn't any documentation on how to run celerybeat via systemd.  There are several scripts in this thread that could be used as examples and illustrated in the documentation.  I guess it's your call whether it makes sense to add it.  Seems logical to me.

[2017-12-21 14:28] auvipy commented on #4304
I definitely believe adding examples should be beneficial

[2017-12-21 14:36] auvipy commented on #4412
OK. dont get afraid of sending logical changes just for the reason you don't know how to write test. we will certainly try to help you

[2017-12-21 15:02] mvaled commented on #4321
Hi @auvipy,  Unfortunately I'm seeing this in a production server, so I cannot upgrade to master easily.  If I can manage to do it I will let you know.  I will try to put it in a stage server to see if it happens there.

[2017-12-21 15:54] zivsu commented on #4400
@jenstroeger I read some blog, change `visibility_timeout` can not solve the problem completely, so I change my borker to `rabbitmq`.

[2017-12-21 19:29] len-thomas commented on #4226
Using Redis through stunnel seems to have the same, or similar, problem.  The problem seems to happen when stunnel `TIMEOUTidle` closes the stunnel connection.  Still haven't figured out the solution to this:

[code]

[2017-12-21 20:37] georgepsarakis commented on #4420
@jenstroeger I think you are right, it does have to do with [saferepr](https://github.com/celery/celery/blob/120770929f4a37c5373a378b75b5c41a99702af9/celery/app/amqp.py#L337). Try passing `argsrepr=json.dumps(args)` and/or `kwargsrepr=json.dumps(kwargs)` when calling your task, by encoding the task arguments to JSON. That way you can deserialize them consistently and securely. Let me know if this

[2017-12-22 00:04] nixawk commented on #3773
+1 celery (4.0.2)

[code]

[2017-12-22 01:11] alanhamlett commented on #3773
@auvipy please re-open. This is a bug... a hack doesn't qualify as a fix.

[2017-12-22 03:21] mvpboss1004 commented on #4215
Hi, I get the same problem and waste a lot of time on it. Finally I got solution from [https://github.com/celery/celery/issues/4352]. I modify CELERY_BEAT_SCHEDULE back to CELERYBEAT_SCHEDULE and it works.

[2017-12-22 06:55] #3738 closed

[2017-12-22 06:59] #3819 closed

[2017-12-22 07:01] #3981 closed

[2017-12-22 07:02] auvipy commented on #3990
@jonicong did you upgraded all the dependencies to latest?

[2017-12-22 07:04] auvipy commented on #3990
@sherifzain says upgrading to latest releases solve his problems

[2017-12-22 07:20] jsynowiec commented on #3751
@auvipy Not using `--max-tasks-per-child` is a workaround, not a solution. Why did you close this issue if there is still a bug resulting in `Acquire on closed pool` errors. It's also happening in other scenarios. I've tried to describe in detail what I'm observing in https://github.com/celery/celery/issues/3085#issuecomment-321283237

[2017-12-22 08:05] jenstroeger commented on #4400
@zivsu, can you please share the link to the blog?

[2017-12-22 08:29] zivsu commented on #4400
I can't find the blog, I used Redis as broker before. For schedule task, I choose rebbitmq to avoid the error happen again.

[2017-12-22 11:03] agladkov commented on #4281
@auvipy no it is not

@nicolasmota to switch on rising an exception we can add printing deprecation warning for `link/linkk_error` calls
@auvipy, @thedrow what do you think about it?

[2017-12-22 11:13] alexkiro commented on #4411
FWIW, I cannot easily do an upgrade due to various complexities involved. I'll keep trying to find a workaround until I can do a safe upgrade.

[2017-12-22 12:03] auvipy commented on #4411
unfortunately we don't have enough resource to support older releases... you could post on mailing list for discussion and help

[2017-12-22 12:59] auvipy commented on #4098
could you verify this with new releases or on master?

[2017-12-22 13:14] auvipy commented on #4092
sorry for responding too late, whats the status of this issue on latest master?

[2017-12-22 13:22] auvipy commented on #4091
sorry for responding too late, you could proceed with a PR

[2017-12-22 16:33] ocervell commented on #4048
I haven't been able to pinpoint exactly under which conditions the workflows fail.
@itayB, would you be able to test with the latest master with the workflow you described ?

[2017-12-22 16:43] folt opened #4460 "Examples for RPC celery"
Examples for RPC celery
I found a good [example for kombu implementation of RPC](https://github.com/celery/kombu/blob/master/examples/rpc-tut6/)

But I did not find how to do PRC for celery
on this I have a question:
Is it necessary to do RPC with celery or is it better to use workers without celery?
I would like to see my workers run command `celery -A proj worker`

[2017-12-22 18:57] neaket360pi commented on #3751
I created a project to reproduce the `Acquire on closed pool` error most of the time.  I noticed that once the `Acquire on closed pool` error occurs, it will continue to occur every-time until the process is restarted.

It seems like https://github.com/celery/kombu/blob/master/kombu/resource.py#L139 might be getting called at the wrong time and setting `_closed =True`

See instructions in README.m

[2017-12-23 10:16] auvipy commented on #3751
@neaket360pi thanks for your effort. any thought on fix? pr most welcome

[2017-12-23 22:47] ermik commented on #3274
All the while [#301](https://github.com/celery/kombu/issues/301) / [601](https://github.com/celery/kombu/pull/600) are going stale.

[2017-12-24 04:19] auvipy commented on #3274
@ermik try to help to get that in on related issue.

[2017-12-24 10:11] tomaszhlawiczka commented on #4363
Hi,

I'm experiencing pretty the same issue (using `Celery.send_task`) and have a related question:
Why, when calling an **async** task (so the result is **not expected**), Celery starts to listen a **redis publisher** (`self._pubsub.subscribe(key)` called by a signal handler `celery/backends/redis.py`, line 189, in `on_task_call`)?

https://github.com/celery/celery/blob/2547666a1ea13b27bc13ef296a

[2017-12-25 12:27] dmachlin1 commented on #4405
@auvipy No it doesn't.
Why should it fix the issue?
Notice I delay a `group` which calls `apply_async` in `canvas.py`, applying the same fix of the `denied_join_result ` context in the `task_always_eager` case in `canvas.py` doesn't help either.

[2017-12-25 12:46] auvipy commented on #4460
prc or rpc?

[2017-12-26 02:07] ckot commented on #4455
That's a good point. I hadn't thought about settings potentially being defined elsewhere. I merely noticed that it wasn't defined.

[2017-12-26 03:00] tyan4g opened #4461 "django 1.11 with celery can't discover tasks?"
http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html#django-first-steps

follow all the step in the about url , and celery can't found any tasks in my app module.

when using blog.apps.BlogConfig installed apps,

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.mess

[2017-12-26 08:04] folt commented on #4460
@auvipy Sorry - RPC

[2017-12-26 10:08] auvipy commented on #4461
post this to irc or mailing list

[2017-12-26 10:08] #4461 closed

[2017-12-26 11:22] axiaoxin commented on #4177
+1
rollback to 4.0.2 fixed it

[2017-12-26 11:33] lexabug commented on #4326
If you use Celery v4.1.0 try `CELERY_WORKER_HIJACK_ROOT_LOGGER` instead of `CELERY_CELERYD_HIJACK_ROOT_LOGGER` in your django config.

[2017-12-26 11:46] lexabug opened #4462 "INFO log messages land to stderr"
I've set up a basic application with Django 2.0 and Celery 4.1.0 with debug task (as it described [here](http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html#using-celery-with-django)) and one custom task in application tasks module.
My module code look like this:
[code]

When I redirect streams (stdout and stderr) to different logs  (info.log and error.log) info.log is sile

[2017-12-26 11:49] tyan4g commented on #4108
any one solve this?I got this wired problem too .and my celery worker drop the connection .
anyway to solve this??

[2017-12-26 12:32] itsmejainh opened #4463 "Celery Worker - Consume from Queue matching a regex"
**Background**

Celery worker can be started against a set of queues using -Q flag. E.g.

-Q dev.Q1,dev.Q2,dev.Q3

So far I have seen examples where all the queue names are explicitly listed as comma separated values. It is troublesome if I have a very long list.

**Question**

Is there a way I can specify queue names as a regex & celery worker will start consuming from all queues satisfying that

[2017-12-26 13:47] MattBlack85 commented on #4462
You have to start workers with `-f /path/to/logfile.log`
If not passed LOGFILE option, is set by default to stderr. Had the same problem not so long ago

[2017-12-26 13:55] lexabug commented on #4462
@MattBlack85 ii thought that celery allows to configure logging in very flexible manner, so i can separate log messages by their loglevel into different streams. For example, i want to keep INFO and more severe messages in info.log, and everything from WARNING and above into error.log. Another one thing that i want to run celery app with circus process manager that allows to capture standard strea

[2017-12-26 15:36] MattBlack85 commented on #4462
I don't think Celery support what you want out of the box, it sounds a bit like an edge case, you should override the celery logger to achieve your goal. With - f your startup configuration should work fine (I use supervisisord with a very similar configuration and it works)

[2017-12-26 15:44] Kimice opened #4464 "Maximum recursion depth exceeded while calling a Python object"
Hi, when I call celery apply_async function, sometimes it raise Exception like this. It seems like getting config failed. This bug can't always reappear. I guess celery may be not init correctly. I'm so confused with this bug.

celery==4.1.0

I init celery with flask like this.

[code]

[code]

[2017-12-26 16:06] lexabug commented on #4462
@MattBlack85 Supervisord pretty much the same as the circus.
If I use `-f` that would put all log entries to a file leaving standard streams empty, thus I wouldn't need those directives setting up log files and I think I would lose advantage of rotating log files by the circus.

[2017-12-26 17:07] MattBlack85 commented on #4462
Dunno circus specific but apparently for me using - f and configuring supervisor to do logrotation works pretty well. Also error logs go to a second file specified in the supervisor configuration while only the other ones go to LOGFILE

[2017-12-26 17:19] MattBlack85 commented on #4462
This is my config
[code]

[2017-12-26 18:47] nskalis commented on #4108
@tyan4g you have to bring up the client/consumer (that is the receiver of the task/message that you are sending), after you do that, you can use `send_task` (or whatever) and will work

[2017-12-27 06:59] lexabug commented on #4462
Thank you I'll try something like that w/ circus.

[2017-12-27 07:26] georgepsarakis commented on #4464
Can I ask the following:
- What is the purpose of using a custom base task class?
- Why override `__call__` instead of `run`? I think you should not override the `__call__` method and not use the `app_context` context manager, as I assume this is possibly causing the recursion.

[2017-12-27 07:29] lexabug commented on #4462
@MattBlack85 I've tried that approach and I noticed there a security concern.  Your config (so does mine) tells supervisord to rotate logs larger than 1MB and keep up to 10 backups. I assume that supervisord process is executed by root user thus log files are owned by it. In order to let celery process to write the same log files it should be executed by root too, which is not secure since in such

[2017-12-27 08:37] anuragjain commented on #3796
@auvipy I can confirm this bug still exists in 4.1.0 with rabbitmq broker.

[2017-12-27 08:53] MattBlack85 commented on #4462
Right that's true but my workers are dockerized so that is not a big issue for us cause only celery is running within that container

[2017-12-27 10:02] MattBlack85 commented on #4462
btw I think you can drop privileges when starting processes and you should still be fine, afair master process intercepts children log emissions and write them to file

[2017-12-27 10:25] fnordian opened #4465 "Celery.close() leaks redis connections"
## Checklist

- [X] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [X] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:3.6.3
            billiard:3.5.0.3 py-amqp:2.2.2
plat

[2017-12-27 23:34] neaket360pi commented on #3751
I will probably have time to look into this issue in the new year.   I still have to investigate the issue some more before suggesting or making a fix.

Next steps will be to see if forking is raising some unexpected exceptions in Celery or Kombu.
I am guessing the `_after_fork_cleanup_resource` code in Kombu is doing something unexpected.
[code]

[2017-12-27 23:44] akira commented on #3765
This is on Celery 3.x branch, not 4.x.

[2017-12-28 08:25] b3g00d opened #4466 "Celery schedule doesn't work after change local datetime for testing"
When I turn `ntp` on. My schedule with crontab working fine. But after I change the datetime back to the pass and turn `ntp` off. The schedule with crontab not working anymore. How can I test with specific time ?

[2017-12-28 08:39] pachewise commented on #4452
@auvipy @glynjackson - this is mentioned in the Django section, and in the what's new in 4.0 section... I'm guessing we just want to reword a bit and add a note in the userguide/configuration? similar issue with documentation seen in #4198

[2017-12-28 09:17] allanlei commented on #4298
Yes.  Still happening as of 2547666a1ea13b27bc13ef296ae43a163ecd4ab3

[2017-12-28 09:50] danigosa commented on #4342
@georgepsarakis according to this: https://github.com/cython/cython/blob/master/tests/run/cyfunction.pyx

the cyfunction object has a direct `__name__` attribute on the `func_globals` attribute, that is something like this should work:

[code]
So an ugly but working solution would be:

[code]

[2017-12-28 10:31] #4452 closed

[2017-12-28 17:09] georgepsarakis commented on #3812
I had setup some tasks to replicate the issue, and from what I have tested so far, the problem does not seem to exist any more in current master. I think it was fixed by #4131, because now [on_fulfilled](https://github.com/celery/celery/blob/master/celery/backends/async.py#L183) is called, which performs the channel unsubscription on the Result Consumer. Can someone else please check/verify?

[2017-12-28 17:17] georgepsarakis commented on #4342
@danigosa can you please try with:

[code]
I think this covers all cases.

[2017-12-28 17:50] danigosa commented on #4342
@georgepsarakis it works for cythonized functions but it doesn't seem to work for plain python ones:

[code]

[2017-12-28 18:02] georgepsarakis commented on #4342
In this case `debug_task` is a `Task` object (notice that is decorated), not a function.

[2017-12-29 14:05] georgepsarakis commented on #3812
@chuanma @gugu if you could possibly check at some point please provide any feedback here. @auvipy @thedrow @AlexHill I used the integration test from #3815 to verify, opened #4468 for that purpose.

[2017-12-29 14:35] danigosa commented on #4342
@georgepsarakis yup it's true my bad, then if you are sure it works for a python function I can assure it works for a cython cyfunction too, I think we made it :)

[2017-12-29 21:21] p-himik commented on #4430
I believe this is a duplicate of #3968

[2017-12-30 11:54] RootLUG commented on #4375
@auvipy Here is a sample code that I used:
[code]

What it is doing is that I wanted to implement task level concurrency locking using this token bucket implementation. I hooks to the task start & stop events and the bucket remove the token until the previous  task finished. According to docs, celery is using the `expected_time` as defined above to determine when the next token would be available

[2017-12-30 22:17] jheld commented on #4418
Hi. You may need to specify the full module path to that task function.

So `'my_app.tasks.task_name'`.

[2017-12-31 04:58] #4418 closed

[2018-01-02 12:22] devintm commented on #4177
+1....

[2018-01-02 19:55] AlmightyOatmeal commented on #3631
I'm getting this:

[code]

With `celery==4.1.0` and `billiard==3.5.0.3` on FreeBSD 11.

Later, I eventually run into:

[code]

[2018-01-02 21:41] legraina commented on #4191
Same issue on master.

Here, my report:
software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:3.5.2 billiard:3.5.0.3 redis:2.10.5
platform -> system:Linux arch:64bit, ELF imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:redis results:disabled
worker_timer_precision: 0.1
accept_content: ['json']

Here the function I'm testing:
[code]

Here, the trace:
[2018-01-02 16:38:16,2

[2018-01-02 21:50] DomHudson commented on #3631
What's the command you're using to start the worker(s) @AlmightyOatmeal  ?

[2018-01-02 22:22] AlmightyOatmeal commented on #3631
@DomHudson:

```$ celery worker -A worker_mongo -l info --concurrency=4```

[2018-01-02 23:12] keaneokelley opened #4470 "Call to ResultSet.get() hangs indefinitely even though all tasks in set have completed"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.

- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
Looks very similar to https://github.com/celery/celery/issues/2672

Consider the following code, an oversimplification of what I am trying to do in a real application:
[code]

## Expected behavior
The ap

[2018-01-02 23:44] DomHudson commented on #3631
Perhaps there is a memory leak - what do you get if you run this command?
[code]
Is the `WorkerLostError` raised randomly during normal operation or only during shutdown like for the OP?

[2018-01-02 23:57] AlmightyOatmeal commented on #3631
@DomHudson,

As I mentioned earlier, this isn't Linux so your grep command will not work. There is no OOM condition. These errors *only* occur during shutdown. The `SIGSEGV` may be chalked up to a swapping issue but the first message is completely unrelated and is still an issue whenever I try to shutdown.

[2018-01-03 00:39] DomHudson commented on #3631
@AlmightyOatmeal  Sorry my mistake

[2018-01-03 01:29] johnarnold commented on #4309
@auvipy  This issue is specifically for celery.  based on the ^^ example of ExtendedCelery, my question relates to default celery behavior -- why have task info that is only in event / event cache, but not in the results backend?  Seems like it trivially increases the message size, and would be extremely useful for most users.

[2018-01-03 02:32] johnarnold commented on #4309
@jobec Do you know if there is a way to make this work with the new "result_backend = " syntax?

CELERY_RESULT_BACKEND = 'path.to.your.module:ExtendedRedisBackend'

[2018-01-03 07:46] jobec commented on #4309
It should work the same. My example was from using it in combination with Django.

cfr. http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html#using-celery-with-django

[2018-01-03 14:51] ryanpetrello commented on #4185
@auvipy which commit do you suspect might resolve this?  I'm currently able to reproduce this issue on celery 4.1.0.

[2018-01-03 15:53] kzidane opened #4471 "DisabledBackend when starting flask --with-threads?"
I'm trying to use Celery for one of my applications and experiencing a strange behavior that I'm not sure why it's caused.

To replicate, here's a simple Flask app:

    # application.py
    from celery.contrib.abortable import AbortableAsyncResult
    from flask import Flask
    from tasks import add

    app = Flask(__name__)

    @app.route("/")
    def index():
        # start the task and ret

[2018-01-03 16:32] neaket360pi commented on #3751
I found the problem and made a possible fix in https://github.com/celery/kombu/compare/master...neaket360pi:fix-producer-pool-after-fork?expand=1

I will likely have to refactor my fix and move it fully into the Celery project to be consistent with other `_after_fork_cleanup_resource` functions.

Scenario.
1. Master Worker uses the Mailbox to send a message.  (Mailbox.producer_pool is cached)
2. C

[2018-01-04 02:48] chenfengyuan commented on #3878
celery use `signal`(`USR1`) to raise `exception` in worker, and `libpq C`(`psycopg2`) doesn't react to Python signals .
According to this article [Cancelling PostgreSQL statements from Python](http://initd.org/psycopg/articles/2014/07/20/cancelling-postgresql-statements-python/), Just call patch function in your celery worker Initialization code will make soft limit exception be raised in a long r

[2018-01-04 03:18] haishenming commented on #4466
Me too. I think this is a bug only for 4.1, when i back to 4.0, it works.

[2018-01-04 13:32] ersel-ionova commented on #3797
Passing a `shared_task` decorated function signature into an `add_periodic_task` call seems to cause this issue.

Alternatively, you can declare a new function using `app.task` decorator instead, which simply calls your `@shared_task` decorated function.

[code]

https://stackoverflow.com/a/46965132

It would be good to hear if this is an integration issue with `@shared_task` and `add_periodic_tas

[2018-01-04 16:45] #4412 closed

[2018-01-04 16:46] auvipy commented on #4412
thanks a lot!

[2018-01-04 17:02] fahyik commented on #4383
Hi!

I am having the exact same problem.
Running with Django 1.10 and RabbitMQ 3.7.2 as Broker.

If I close the broker connection, nothing happens and the request to Django is stuck on an infinite loop without timing out.

@wilson-santos-pf did you manage to find a work around for this?
I am having difficulty handling the failure to publish to RabbitMQ.

[2018-01-04 17:05] #4455 closed

[2018-01-04 17:06] #4326 closed

[2018-01-04 20:47] johnarnold commented on #4309
I figured it out, it just took some debugging. For any future searchers, this syntax worked for me:
[code]

I've now extended my results with quite a bit of context info, but there's no access to the received/started times and other metadata in scope when the results are stored, so further changes to celery itself would be needed in order to exposed that stuff.

Are there any comments on generally

[2018-01-04 21:05] johnarnold commented on #4309
Also, here's my modifications to  @jobec example: https://gist.github.com/johnarnold/600948d37d1456197906728aea12874a

[2018-01-05 12:42] gautamkumar94 commented on #3196
use celery version 3.1.25 . celery haven given support to windows for version  celery==4.0 n above

[2018-01-06 00:30] hakanEdico commented on #3796
Also exists in 4.1.0 with SQS

[2018-01-07 21:05] arizhakov commented on #4039
Are there any ideas on possible solutions? An idea is to try to [increase the socket timeout](https://stackoverflow.com/questions/24803021/celery-first-steps-timeout-error-on-result-get). Another idea I had was to catch the specific error and reattempt the task.

What would be recommended by celery contributors/developers? Any additional diagnostics that could help? Thanks!

[2018-01-08 10:52] Skeen commented on #4387
Milestone 4.2 is passed it's due date and several issues are still open (33/98 issues are still open (33%)).
I'm new to the project and therefore have a question regarding this.

Usually projects utilize one of two models, with regards to milestones, either:
1. Push the due date until all milestone issues have been resolved, or
2. To release whatever is ready on the due date, and trim the rest?

W

[2018-01-08 13:53] nadavperetz commented on #3990
Hi guys! I'm experiencing same issue:

software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:3.5.2
            billiard:3.5.0.3 sqs:N/A
platform -> system:Linux arch:64bit, ELF imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:sqs results:disabled

BROKER_TRANSPORT: 'sqs'
CELERY_RESULT_SERIALIZER: 'json'
TESTING: False
TaskBase: <class 'celery.app.task.Task'>
BROKER_TRANSPO

[2018-01-08 17:33] danhenriquesc commented on #3938
@rambhairao Hi! Did you found the fix for this issue?

[2018-01-08 17:36] danhenriquesc commented on #2039
@Federico-Comesana @hebertjulio Hi guys! I'm having same issue. Did you guys fixed that?

[2018-01-08 18:19] danhenriquesc commented on #2873
Hi! I'm having the same issue with Celery 4.1.0 and kombu 4.1.0. Any idea?

[2018-01-08 22:30] rafacabral opened #4477 "can I do my methods on tasks?[Class Based]"
[code]

[2018-01-09 06:55] auvipy commented on #3230
closing this as not a celery bug

[2018-01-09 06:55] #3230 closed

[2018-01-09 12:13] auvipy commented on #4105
can you send a patch with test to fix the issue?

[2018-01-09 12:15] #4100 closed

[2018-01-09 12:18] #4082 closed

[2018-01-09 12:33] auvipy commented on #3921
can you look into the last comment of the issue https://github.com/celery/celery/issues/4075

[2018-01-09 12:34] auvipy commented on #4075
closing to continue discussion on older issue

[2018-01-09 12:34] #4075 closed

[2018-01-09 12:35] auvipy commented on #4069
were you able to spot the bug and fix?

[2018-01-09 12:37] auvipy commented on #3921
@mirasrael plz send a pr with test

[2018-01-09 12:38] auvipy commented on #4080
try latest release and report

[2018-01-09 12:38] #4080 closed

[2018-01-09 12:39] auvipy commented on #4060
what version and setting of celery are you using

[2018-01-09 12:49] auvipy commented on #4059
ValueError: invalid literal for int() with base 10: '11211;10.100.199.202'

changing the value should work

[2018-01-09 13:01] auvipy commented on #4045
put this kind of discussion to celery-users google group

[2018-01-09 13:01] #4045 closed

[2018-01-09 13:05] ChillarAnand commented on #4069
No :-(

[2018-01-09 13:36] auvipy commented on #4014
send a pr with you suggested solution

[2018-01-09 13:39] auvipy commented on #4010
add a pr to resolve it

[2018-01-09 14:03] JeffreyDevloo commented on #4059
Could you elaborate on what value would be correct? I have nothing to work with at the moment

[2018-01-09 16:23] yhvh commented on #4214
Re-examining this today.

I found the celery image had been deprecated, with the main argument I think being that the main use case is with django and, since the container shares the application code (for tasks), it makes sense to just use the same container. This is Indeed what I have done this in past projects.

https://hub.docker.com/r/library/celery/
https://github.com/docker-library/celery/is

[2018-01-09 17:29] luiscastillocr commented on #3389
Why not using the celery signals?
http://docs.celeryproject.org/en/latest/userguide/signals.html#task-failure

[2018-01-09 18:38] luiscastillocr commented on #3389
`import socket
from celery.signals import task_failure
from django.conf import settings
from django.core.mail import send_mail

@task_failure.connect()
def celery_task_failure_email(task_id, exception, einfo, sender, *args, **kwargs):

    subject = "[Django][{queue_name}@{host}] Error: Task {task_name} ({task_id}): {exception}".format(
        queue_name=sender.queue,
        host=socket.gethostn

[2018-01-10 00:12] KBoehme commented on #4222
I am seeing this behavior as well `celery (4.0.2)`. Further it seems when a celery.exceptions.Reject or celery.exceptions.Retry exception are thrown in a task none of the Task on_failure(), on_success(), on_retry(), or even after_return() handlers run. I would expect the after_return() handler to at least run... I guess celery is handling these exceptions differently  to cause this discrepancy?

[2018-01-10 10:21] b3g00d opened #4478 "Celery take block request too long"
I'm using celery with 1 concurrency for FIFO task.
But when I using CLI for doing task, It only take 3-4s. On celery worker, look like celery block 5s after some requests.
[code]
This is celery log when blocking request

[2018-01-10 15:49] PromyLOPh opened #4480 "Application is not thread-safe"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

[code]

## Steps to reproduce

Using code from the user manual, but two threads running concurrently:

[code]

## Expected behav

[2018-01-10 17:25] muelli commented on #4028
http://docs.celeryproject.org/en/latest/faq.html#does-celery-support-task-priorities states:

So Celery does support priority queues, right?

[2018-01-10 18:50] #4477 closed

[2018-01-11 06:16] auvipy commented on #4480
did you check workers guide? celery doesn't follow this type of threading AFAIK

[2018-01-11 06:46] auvipy commented on #4460
check celery broker/result back end docs

[2018-01-11 06:46] #4460 closed

[2018-01-11 07:59] PromyLOPh commented on #4480
Yes, I did. Since the exceptions occur within the *calling* application
(inside .get(), to be precise) I don’t think this is an issue with the
worker.

I’m speculating here, but it looks like the ampq transport (or one of
the layers above) is lacking proper serialization, thus the two
concurrent .get() calls interfere with each other.

[2018-01-11 09:15] auvipy commented on #4409
were you able to apply any fix or workaround?

[2018-01-11 09:28] auvipy commented on #4346
yes 4.2 release is due in january 2018

[2018-01-11 09:28] #4346 closed

[2018-01-11 09:30] #4327 closed

[2018-01-11 09:32] auvipy commented on #4299
I think this issue is resolved in master, could you try master and report?

[2018-01-11 09:40] auvipy commented on #4279
http://docs.celeryproject.org/en/latest/getting-started/brokers/sqs.html

[2018-01-11 09:40] #4279 closed

[2018-01-11 09:45] #4271 closed

[2018-01-11 09:47] auvipy commented on #4127
could you please elaborate? and also plz post to mailing list

[2018-01-11 09:55] auvipy commented on #4063
can you verify this in master?

[2018-01-11 10:16] auvipy commented on #4026
could you check docs if your suggested features exist? or simply similar

[2018-01-11 10:41] auvipy commented on #4030
does this still exists in master will all new dependencies?

[2018-01-11 10:44] auvipy commented on #4021
check the celery docs in detail. also I kafka is not supported now

[2018-01-11 10:44] #4021 closed

[2018-01-11 10:47] auvipy commented on #4020
plz send a fix

[2018-01-11 10:48] auvipy commented on #4019
have you any suggested workarounds?

[2018-01-11 10:49] auvipy commented on #3985
this should have already been fixed with newer release. Report if not

[2018-01-11 10:49] #3985 closed

[2018-01-11 10:51] auvipy commented on #3971
sorry for taking so long to reply, is this still and issue in new release of master?

[2018-01-11 10:51] #3959 closed

[2018-01-11 10:52] auvipy commented on #3949
thanks for the explanations. contributions are most welcome

[2018-01-12 03:37] kevinchenghua commented on #4471
I'm a novice of Flask and Celery. I have similar problem during handling multi-request by `--with-threads`. The app runs well if request comes one by one. And, the app start to hang until first meet to concurrent requests. The task finished, but the app didn't catch the result.

I changed to use prefork WSGI, like gunicorn, to handle multi-request. The app can handle multi-request now.

I guess it

[2018-01-12 03:44] Kimice commented on #4464
@georgepsarakis I have init celery following the guide.But bug still exist sometimes.
Is it possible to be associated with concurrency？

[2018-01-12 05:31] thedrow commented on #4387
The only blocker to the release currently is https://github.com/celery/celery/issues/4423 because we added a new feature which needs documentation.
@georgepsarakis Can you start working on the release notes please?

[2018-01-12 05:36] thedrow opened #4483 "Add test coverage for #4356"
#4356 is a critical fix for a bug that occurs when messages migrate between Celery 3 and Celery 4 clusters.
Due to it's severity It was merged without proper test coverage.
We need to ensure this code is covered by the appropriate unit tests.

[2018-01-12 21:06] georgepsarakis commented on #4387
@thedrow I will try to start it shortly.

[2018-01-13 11:18] auvipy commented on #3812
closing as fixed for now

[2018-01-13 11:25] #4356 closed

[2018-01-13 11:27] auvipy commented on #4299
de-milestoning to next release, plz report again after 4.2 release

[2018-01-13 12:26] auvipy commented on #2649
https://github.com/celery/celery/commit/be55de622381816d087993f1c7f9afcf7f44ab33

[2018-01-13 12:26] #2649 closed

[2018-01-13 12:33] auvipy commented on #4387
i have updated the milestone issues

[2018-01-13 14:34] auvipy commented on #4430
closing in favor of the older issue

[2018-01-13 14:34] #4430 closed

[2018-01-13 17:41] davidhyman commented on #3971
No worries - I'll give it a go soon™️ and get back to you

[2018-01-14 07:05] auvipy commented on #3968
@lpsinger @tbazadaykin could you please review and check the proposed fix at #4481

[2018-01-14 07:07] auvipy commented on #3902
@p-col could you check #4481 and #3968

[2018-01-14 07:07] #3902 closed

[2018-01-14 07:11] #4092 closed

[2018-01-14 07:40] auvipy commented on #4299
https://github.com/celery/celery/issues/4244 is this related?

[2018-01-14 09:18] #4368 closed

[2018-01-14 12:00] thedrow commented on #4314
This is fixed in master so there's no actionable item other than #4387

[2018-01-14 12:00] #4314 closed

[2018-01-14 13:35] georgepsarakis commented on #4387
@auvipy @thedrow if possible, let's please freeze the merging of Pull Requests. What do you think?

[2018-01-14 14:10] auvipy commented on #4387
yes no more pr atm.

[2018-01-14 14:58] auvipy commented on #4478
version of celery and broker?

[2018-01-14 15:01] auvipy commented on #4463
post this type of question to mailing list or irc

[2018-01-14 15:01] #4463 closed

[2018-01-14 16:25] #3968 closed

[2018-01-14 16:29] auvipy commented on #4387
https://github.com/celery/celery/pull/4481 one last merge. and locked

[2018-01-15 08:15] auvipy commented on #4462
so this isn't a bug? Is there any thought to improve the edge case? or this can left close

[2018-01-15 08:22] auvipy commented on #4298
any workaround?

[2018-01-15 08:28] auvipy commented on #4375
Any fix as contribution is welcome

[2018-01-15 08:30] auvipy commented on #4177
hope fully https://github.com/celery/celery/pull/4173 will fix the issue. wait for 4.2 release

[2018-01-15 08:30] #4177 closed

[2018-01-15 08:32] auvipy commented on #4191
thanks for feedback. if the issue still exist after 4.2 release, work should be carried out for v5

[2018-01-15 08:35] auvipy commented on #4185
I am not sure so could you plz try the master branch? If after releasing 4.2 it still exists work would be carried out to fix

[2018-01-15 08:39] auvipy commented on #4309
what is your suggestion? code change or documentation? if you have anything in mind feel free to send a pr

[2018-01-15 08:45] auvipy commented on #3796
lets tackle this after 4.2 release

[2018-01-15 13:11] italomaia opened #4485 "How is memory handled when a task is called from another?"
Given a scenario where a async task calls another async task, will both be kept in memory until both end? Is it good design to call one task from another or should I chain them together?

[2018-01-15 13:19] #3845 closed

[2018-01-15 13:31] sebastiaopf commented on #4408
@auvipy thanks for your reply. I'd be happy to try and see what I can find.
Could you point me in the general direction I should be looking for this?
I'm not familiar with celery's source code structure.

[2018-01-15 13:57] ryanpetrello commented on #4185
@auvipy we could give it a _try_, but it may be hard to say for sure - _personally_, we only seem to encounter this hang once every few _weeks_, so it's pretty hard to narrow down.

[2018-01-15 14:04] AlexHill commented on #4485
It's perfectly fine and common practise to call a task asynchronously from
within another task - just don't block waiting for its result.
On Mon, 15 Jan 2018 at 9:11 pm, Italo Maia <notifications@github.com> wrote:

[2018-01-15 15:11] #4485 closed

[2018-01-15 15:17] auvipy commented on #4480
lets wait for 4.2 release and see if it's already resolved

[2018-01-15 15:25] auvipy commented on #4465
Lets wait for 4.2 release, but it's likely to be a valid issue

[2018-01-15 15:47] auvipy commented on #3878
@chenfengyuan thanks for your reply. should we add something to docs? what's your opinion?

[2018-01-15 15:47] #3878 closed

[2018-01-15 15:50] auvipy commented on #4466
I think this issue is fixed on master, do check after 4.2 release

[2018-01-15 15:51] #4466 closed

[2018-01-15 15:54] auvipy commented on #4039
may be better to increase time out first

[2018-01-15 15:57] auvipy commented on #4222
does this happen in 4.1/master?

[2018-01-15 16:09] auvipy commented on #3148
were you able to fix the issue?

[2018-01-15 16:10] #2848 closed

[2018-01-15 16:12] #2850 closed

[2018-01-15 16:14] auvipy commented on #2873
can you cleanly apply the patch on pyamqp?

[2018-01-15 16:22] auvipy commented on #3270
what's it's situation after 4.1/master?

[2018-01-15 16:34] #3252 closed

[2018-01-15 16:34] #3032 closed

[2018-01-15 16:37] auvipy commented on #3765
closing for now. verify after 4.2 release

[2018-01-15 16:37] #3765 closed

[2018-01-15 16:37] #3148 closed

[2018-01-15 16:38] #3220 closed

[2018-01-15 16:39] auvipy commented on #3247
plz verify this after 4.2 release

[2018-01-15 16:39] #3247 closed

[2018-01-15 16:41] auvipy commented on #3257
Can anyone verify this using 4.1 or master? 4.2 is also going to be release in this month so if possible plz verify with new versions and report

[2018-01-15 16:41] #3257 closed

[2018-01-15 16:42] auvipy commented on #3266
plz reopen if it still the issue after new release

[2018-01-15 16:42] #3266 closed

[2018-01-15 16:43] muelli commented on #4028
I'd appreciate an example of how to make proper use of priority queues with Celery without resorting to separate queues.

[2018-01-15 16:45] auvipy commented on #3549
plz report again if you face the same issue with newer releases.

[2018-01-15 16:45] #3549 closed

[2018-01-15 16:48] auvipy commented on #3735
plz try the new release and post your support questions to mailing list. report here again if the issue still exists after following proper guideline.

[2018-01-15 16:48] #3735 closed

[2018-01-15 16:51] auvipy commented on #3571
Lets see if it gone away after 4.2 release by this month.

[2018-01-15 16:53] auvipy commented on #3559
hope this is fixed in master.

[2018-01-15 16:53] #3559 closed

[2018-01-15 16:56] auvipy commented on #3912
@normic did you tried @atkawa7 solution?

[2018-01-15 17:16] auvipy commented on #4215
AppRegistryNotReady is a django issue. plz check django app docs and report if anything is in celery

[2018-01-15 17:16] #4215 closed

[2018-01-15 17:19] #3894 closed

[2018-01-15 17:22] auvipy commented on #4154
any workaround or suggested fix?

[2018-01-15 17:33] auvipy commented on #3843
isn't it possible to override ?

[2018-01-15 17:41] auvipy commented on #2961
I am against removing this. documentation improvement should be the go.

[2018-01-15 17:41] #2961 closed

[2018-01-15 17:44] #2494 closed

[2018-01-15 18:48] normic commented on #3912
@auvipy Of course I did and it fixed my problem, I've written this in my comment (probably you overlooked the second sentence). I simply wrote it to help sort out things.

[2018-01-15 20:12] maxdebayser commented on #4168
Sorry to comment on a closed issue, but I want to know the answer to this question too. @niharathomas , did you ask on the mailing list? The only similar question I could find is: https://groups.google.com/forum/#!searchin/celery-users/revoked|sort:date/celery-users/BmZWwr8BubA/La9kuQ7GAgAJ

[2018-01-15 21:36] MShekow opened #4486 "Memory hogging in client when using RPC (with RabbitMQ)"
## Description
In my scenario I have a client program that puts thousands of tasks on the queue (`generate_data.delay()`). The workers produce a result that is of considerable size (suppose each result uses 1 MB of memory). The result is pickled back, and the client processes the results in some way, whenever results are available. In other words, once `AsyncResult.ready() == True`, I `get()` the

[2018-01-16 04:24] dagrooms52 commented on #3759
So this is still an open issue? I'm going to go use a language that has asynchronous tasks as a first class citizen...

[2018-01-16 06:07] thijstriemstra commented on #3921
Also encountered this issue (I think) using Celery 4.1.0, rabbitmq log was filling up with 1000s of messages like:

[code]

This happened after I restarted the device running the rabbitmq server and worker. The client calling the tasks would go crazy on rabbitmq once that server+worker came back online. Removing the `result_backend = rpc://` fixed the problem.

[2018-01-16 06:54] auvipy commented on #3921
report again after v4.2 release

[2018-01-16 07:11] auvipy commented on #3759
@dagrooms52 yes as no one contributed... you are free to take over

[2018-01-16 07:40] MYMhaly opened #4487 "duplicate task in each work."
## Checklist
celery 4.1.0 (latentcall)

i found celery workers get duplicate tasks . the workers will get the same task.

## Steps to reproduce
the details can be found at (#3270 ), totally the same.
and i found that the same problem issued in 2012, lasts for 5 years?

and config below does not work.
BROKER_TRANSPORT_OPTIONS = {'visibility_timeout': 3600}
## Expected behavior

## Actual behavior

[2018-01-16 07:44] auvipy commented on #4487
i have reopened that issue. lets discuss there for fix

[2018-01-16 07:44] #4487 closed

[2018-01-16 07:56] b3g00d commented on #4478
@auvipy
I'm using `Redis` as broker, and celery 4.1.
After changed to pool `Gevent`, seem everything run faster.

[2018-01-16 08:26] Kurara opened #4488 "launching worker from python: error with configuration from object."
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
Version celery: 4.1.0 (latentcall)

I'm trying to launch a worker from python code. When I use the class C

[2018-01-16 08:37] #4478 closed

[2018-01-16 08:41] auvipy commented on #4470
closing in favor of https://github.com/celery/celery/issues/2672 lets continue there

[2018-01-16 10:51] Alexeyisme commented on #3270
Hi! I also encountered duplication problem.
We have ETA tasks for 1-4 hours ahead. In the attached log You can see, that task with id `06eaa034-0e0c-49e8-88ec-08279c871cb1` was received by two workers and executed twice (client device received two same push-notifications).
Already tried huge VISIBILITY_TIMEOUT.
[code]

[2018-01-16 10:54] thedrow commented on #4387
We should finish #4423 before the release but it doean't apply to the release notes.

[2018-01-16 16:35] #4070 closed

[2018-01-16 17:37] paultiplady commented on #4383
I seem to be hitting this issue on Celery 4.0.0 and 4.0.1 as well. I've just retried with 4.1.0 and the code path is the same.

Step-debugging through the code, my stack looks like this:

[code]

At `publish`, I have `retry_policy={'interval_step': 0.2, 'interval_max': 0.2, 'interval_start': 0, 'max_retries': 3}`. When we drop into `ensure_connection` under `default_channel`, I have `max_retries=N

[2018-01-16 17:43] paultiplady commented on #4383
This seems to be a bug in Kombu: https://github.com/celery/kombu/issues/735

[2018-01-16 17:46] fahyik commented on #4383
@paultiplady thanks for your reply, yea i read it on the other thread as well.
I am using kombu 4.0.2 with celery 4.1.0 as a temporary fix ;)

[2018-01-16 18:02] paultiplady commented on #4383
Ah, that's helpful, thanks -- I didn't spot that my Kombu version was stuck at 4.1.0, even though I was pinning Celery to 4.0.2.

[2018-01-16 18:10] paultiplady commented on #4383
Not sure what the project's bug announcement policy is, but it seems like it would be prudent to update the Celery requirements to blacklist the broken `4.1.0` kombu version? Any user on `celery>=4.0.0,<=5.0.0` is going to be affected by this bug, since Celery doesn't pin the Kombu dep tightly. This bug is obscure enough that most users won't notice it, until it causes an outage.

[2018-01-16 19:02] auvipy commented on #4383
fixed by https://github.com/celery/kombu/pull/769

[2018-01-16 19:02] #4383 closed

[2018-01-16 19:03] auvipy commented on #4383
olz try master or wait for 4.2 release

[2018-01-16 22:50] Giaco9 commented on #4028
Hi, I'm trying to run a single worker with 2 different queues. One is with higher priority than the other one. I'm using celery v4.1.0 and as transport redis v3.2.6. This is my configuration.

[code]

In this way all my tasks are run randomly. Instead I need that all the "slow_task"s are run after all the other one. How can I do it?

The worker starts with this command

[code]

Thanks for your hel

[2018-01-17 09:55] haishenming commented on #4466
i'l try, thanks

[2018-01-17 10:08] auvipy commented on #3545
@jonathanstrong do you have any suggested solution for the issue? plz feel free to start a pr if anything on you mind which could be improved

[2018-01-17 10:18] auvipy commented on #3456
do you have anything in mind that could be started as pr and we could continue discussion there?

[2018-01-17 10:31] auvipy commented on #3451
whats the update on latest releases?

[2018-01-17 10:44] #3451 closed

[2018-01-17 10:46] auvipy commented on #3916
any change after using latest release or fixes from master? would be helpful if you could try 4.2 when its released and let us know

[2018-01-17 10:48] auvipy commented on #3246
closing for now, will open if any future reports

[2018-01-17 10:48] #3246 closed

[2018-01-17 10:50] #3248 closed

[2018-01-17 10:55] auvipy commented on #4147
could you look intro this issue?

[2018-01-17 10:59] auvipy commented on #3350
can anyone verify if the changes in master fix this issue?

[2018-01-17 11:01] auvipy commented on #3329
hi @bruno-rino what's the status of the issue with new release of celery?

[2018-01-17 11:05] auvipy commented on #3407
https://github.com/celery/celery/issues/893 is this issue related?

[2018-01-17 11:27] auvipy commented on #3430
anyone provide a testcase to start work towards fix?

[2018-01-17 11:30] auvipy commented on #3768
could anyone start with a testcase to start for a fix? also may be this is a duplicate or not

[2018-01-17 11:31] auvipy commented on #3768
may be duplicate of https://github.com/celery/celery/issues/3430 report if not

[2018-01-17 11:31] #3768 closed

[2018-01-17 11:40] alukach commented on #4147
@auvipy I'm mostly looking for input from others more familiar with the design and long term vision of this library. Do such people exist?

[2018-01-17 12:44] auvipy commented on #4147
exist but lacks time and fund. I was supposed to point you to https://github.com/celery/celery/issues/893 this issue and some similar one actually. Since it's a huge project with low resource, We have to focus on high priority issues first, I have been investing lot of my times now a days analyzing the existing issues, and older discussions. I was able to reduce open issues from 495 to 290 only in

[2018-01-17 13:11] Kimice commented on #4464
This seems to be related to [laziness](http://docs.celeryproject.org/en/latest/userguide/application.html#laziness).
This bug haven't appear since I manually finalized app like this.

[code]

[2018-01-17 13:26] auvipy commented on #3407
@alukach

[2018-01-17 13:38] #4005 closed

[2018-01-17 13:39] #4007 closed

[2018-01-17 13:39] auvipy commented on #4007
fixed

[2018-01-17 13:40] auvipy commented on #3991
i hope latest releases fixes this

[2018-01-17 13:40] #3991 closed

[2018-01-17 13:42] #3989 closed

[2018-01-17 13:43] auvipy commented on #3988
let us know the status if you were able to fix

[2018-01-17 13:45] auvipy commented on #3986
@pnovotnak any suggested improvement?

[2018-01-17 14:47] auvipy commented on #3957
sorry for taking soo long to respond! which celery version and settings are you using? did you used py-amqp? it's the recommended client for rabbitmq now

[2018-01-17 14:49] auvipy commented on #3957
did you tried retry feature?

[2018-01-17 14:50] auvipy commented on #3956
try latest release and report issues

[2018-01-17 14:50] #3956 closed

[2018-01-17 14:52] auvipy commented on #3955
were you able to find any fix? if so feel free to send a pr

[2018-01-17 14:54] #3947 closed

[2018-01-17 14:55] auvipy commented on #3946
This might be fixed in master. could you check?

[2018-01-17 14:57] #3945 closed

[2018-01-17 14:58] auvipy commented on #3942
@georgepsarakis was this issue resolved in master?

[2018-01-17 15:01] auvipy commented on #3939
possible duplicate of https://github.com/celery/celery/issues/3986 plz cross check and report

[2018-01-17 15:01] #3939 closed

[2018-01-17 15:02] auvipy commented on #3938
could anyone try the master branch with all updated dependencies?

[2018-01-17 15:06] auvipy commented on #3932
this might be an issue with HAProxy

[2018-01-17 15:07] auvipy commented on #3930
feel free to send updated code as fix

[2018-01-17 15:08] auvipy commented on #3928
plz use latest versions of celery and dont use any relational db as message broaker

[2018-01-17 15:08] #3928 closed

[2018-01-17 15:13] auvipy commented on #3919
did you got your solution? it's better to ask question in irc or mailing list

[2018-01-17 15:19] Chris7 commented on #3407
I believe it is the exact as #893. I wish github search was better :(. Closing this for you.

[2018-01-17 15:19] #3407 closed

[2018-01-17 15:20] #3915 closed

[2018-01-17 15:20] Chris7 commented on #3407
Though maybe one issue should stay open to mark the feature request? I vote for #893 if that is the case.

[2018-01-17 15:21] auvipy commented on #3911
Better to ask support questions in IRC or Mailing list

[2018-01-17 15:21] #3911 closed

[2018-01-17 15:23] #3901 closed

[2018-01-17 15:26] auvipy commented on #3877
should be fixed by https://github.com/celery/kombu/pull/733

[2018-01-17 15:26] #3877 closed

[2018-01-17 15:27] auvipy commented on #3774
this is a duplicate

[2018-01-17 15:27] #3774 closed

[2018-01-17 15:29] auvipy commented on #3778
possibly a duplicate. try new versions to see if it's fixed already

[2018-01-17 15:29] #3778 closed

[2018-01-17 15:33] auvipy commented on #3781
closing now. will revisit after v4.2 release

[2018-01-17 15:33] #3781 closed

[2018-01-17 15:34] auvipy commented on #3789
this might probably been fixed in master. report if not

[2018-01-17 15:34] #3789 closed

[2018-01-17 15:36] auvipy commented on #3798
hope the issue is resolved in master. report if not

[2018-01-17 15:36] #3798 closed

[2018-01-17 15:38] auvipy commented on #3809
this is possibly fixed in newer release. beside it's better to ask your questions in irc or mailing list

[2018-01-17 15:38] #3809 closed

[2018-01-17 15:40] auvipy commented on #3808
try the new release and docs and report the issue again

[2018-01-17 15:42] auvipy commented on #3816
new releases should fix this. report if not

[2018-01-17 15:42] #3817 closed

[2018-01-17 15:45] #3844 closed

[2018-01-17 15:48] auvipy commented on #3848
report again if you face the issue with 4.x versions and if possible with suggested fixes

[2018-01-17 15:49] auvipy commented on #3856
could you verify the issue on latest master?

[2018-01-17 15:51] auvipy commented on #3854
possibly this has been fixed in master. wait for 4.2 release and report again

[2018-01-17 15:51] #3854 closed

[2018-01-17 15:52] auvipy commented on #3407
yes lets continue disucssion there

[2018-01-17 15:54] #4057 closed

[2018-01-17 15:59] #4029 closed

[2018-01-17 16:03] #4031 closed

[2018-01-17 16:04] #4064 closed

[2018-01-17 16:06] #4012 closed

[2018-01-17 16:06] #3992 closed

[2018-01-17 16:08] #3900 closed

[2018-01-17 16:08] #3897 closed

[2018-01-17 16:09] #3896 closed

[2018-01-17 16:09] bruno-rino commented on #3329
Still occurs with celery 4.1.0

[2018-01-17 16:09] #3895 closed

[2018-01-17 16:11] auvipy commented on #3866
probably fixed. try new version

[2018-01-17 16:11] #3866 closed

[2018-01-17 16:11] #3857 closed

[2018-01-17 16:13] nitinmeharia opened #4489 "django.db.utils.DatabaseError: DatabaseWrapper objects created in a thread can only be used in that same thread"
### Application details:
[code]

### Error log
[code]

## Steps to reproduce
[code]
Its a django 1.11 application where we are getting this error.

[2018-01-17 16:14] #3692 closed

[2018-01-17 16:15] auvipy commented on #3655
we re-added windows

[2018-01-17 16:15] #3655 closed

[2018-01-17 16:19] auvipy commented on #3672
seems resolved

[2018-01-17 16:19] #3672 closed

[2018-01-17 16:23] auvipy commented on #3653
is the bug fixed in newer release or master?

[2018-01-17 16:25] #3645 closed

[2018-01-17 16:28] auvipy commented on #3633
can you re-verify this on top of master?

[2018-01-17 16:28] AvnerCohen commented on #4226
We see a similar behavior.
I suspect `broker_pool_limit = None` is a workaround to the core underline issue.
Quite clearly we have seen this coming up just after the upgrade to 4.1.

This is not related in any way to a long running process, We see this 10 seconds after running the worker.
We use rabbit as the broker, and I see this happening on redis for @len-thomas , So I assume it's something on

[2018-01-17 16:31] auvipy commented on #3329
that's sad. could you investigate to find out a fix? at least a testcase?

[2018-01-17 18:47] april commented on #3633
Are we talking `HEAD` or simply the newest published version of celery?

[2018-01-17 20:12] DylanYoung commented on #3915
Closed for what reason?

[2018-01-17 20:45] johnarnold commented on #4309
https://github.com/celery/celery/pull/4490

[2018-01-17 21:05] mvaled commented on #3798
Hi @auvipy

I stopped embedding the WorkerController in my own processes.  I should have closed this myself.  Thanks.

[2018-01-18 01:25] keaneokelley commented on #4470
In #2672, it sounds like the issue was sporadic; it happens for me every single time.

[2018-01-18 04:32] auvipy commented on #4470
so you are facing quite different problem?

[2018-01-18 04:33] auvipy commented on #3798
thanks for clarifying :)

[2018-01-18 04:36] auvipy commented on #3915
as the issue is reletad to old version of celery. if you can reproduce it on master will re open it :)

[2018-01-18 05:29] georgepsarakis commented on #3633
The suggestion refers to installation from Github directly (latest commit on `master` branch), not PyPI.

[2018-01-18 05:40] auvipy commented on #2843
@asmodehn can you send a PR?

[2018-01-18 07:49] lexabug commented on #4462
I'm not sure, perhaps it's an intended behavior. I wonder if there a way of configuring celery's logger just to use stream handlers and separate log entries like i want: info and all that above to stdout, all that above info - to stderr.

[2018-01-18 07:49] lexabug commented on #3247
When 4.2 is going to be released?

[2018-01-18 08:16] auvipy commented on #3247
see just 1 issue remain that's documentation related https://github.com/celery/celery/milestone/19

[2018-01-18 09:59] wosc commented on #2633
I had a similar issue, and as I understand it, it boils down to this: `Task.__call__` is **never called** in the [normal course of things](https://github.com/celery/celery/blob/master/celery/app/trace.py#L292), so if one inherits and starts overriding `__call__`, one gets strange behaviour, like `self.request` not being the actual request, because `Task.__call__` pushes another strange request thi

[2018-01-18 14:51] asmodehn commented on #2843
Sorry, I left this issue a while ago, while working on the old version of celery...
I just remember it took me a long time to understand tasks possible states, depending on settings.
I am not working with celery any longer and I have forgotten all of it.

[2018-01-18 16:28] xunto opened #4491 "[BUG] ready() always returns False for groups"
## Steps to reproduce

[code]

## Expected behavior
I expect ```ready()``` to return ```True``` when all tasks are finished.

## Actual behavior
Looks like this code will never finish execution as ```ready()``` always return ```False``` even if all tasks are finished. Tested on celery master branch.

[2018-01-18 17:35] KBoehme commented on #3653
Just tried again from master branch (pip version: celery (4.1.0)) and still see same behavior. A task that successfully finished after warm/soft/cozy/graceful shutdown gets requeued. And according to the comment above, this happens with other brokers as well.

[2018-01-18 18:30] auvipy commented on #2633
I will reopen it if you can reproduce it on master

[2018-01-18 18:40] auvipy commented on #3653
lets wait and see how it behave after 4.2 release. will look into it after 4.2 release this month

[2018-01-18 18:42] auvipy commented on #4491
version of celery and broker?

[2018-01-18 18:48] densaface commented on #2633
It reproduced 100% on different ubuntu VMs.

[2018-01-18 18:51] auvipy commented on #2633
celery master branch?

[2018-01-18 18:57] densaface commented on #2633
yes, if command "pip install celery" installs master branch... Or wait, how i can check master branch? I install also "pip install django-celery". Maybe django-celery removes celery...

[2018-01-18 20:51] shaysshaysbliss commented on #4356
Help please

[2018-01-18 20:52] shaysshaysbliss commented on #4356
#4357 and #4358 need gelp

[2018-01-19 06:07] georgepsarakis commented on #3942
The given example works as expected with the current master, although no fix has been applied on `celery.utils.functional.regen`. I am not really sure I can reproduce it. @tbazadaykin I am closing this, but if you can give more exact details on how to reproduce this, please feel free to re-open.

[2018-01-19 06:07] #3942 closed

[2018-01-19 06:53] auvipy commented on #893
https://github.com/celery/celery/issues/3198

[2018-01-19 06:58] auvipy commented on #2849
pypy supports 3.5 now. after 4.2 release, if you agree I will start working on dropping 2.7 from master, and start working on v5 @thedrow

[2018-01-19 07:38] auvipy commented on #3025
what's the update on the issue? any pr? workaround?

[2018-01-19 07:42] auvipy commented on #3625
can anyone verify the issue on current master?

[2018-01-19 07:43] auvipy commented on #3617
curious to know about the current resolution of the issue

[2018-01-19 07:44] #3612 closed

[2018-01-19 07:50] #3585 closed

[2018-01-19 07:51] xBeAsTx commented on #3625
Yep. And I think we can fix this problem. Because possibility of using on_message callback depends not on asyncing backends but on possibility using native joins. Give me some time I will make pull request for this.

[2018-01-19 07:51] auvipy commented on #3576
any suggested changes on your mind? feel free send a PR

[2018-01-19 08:18] auvipy commented on #3535
hope this is fixed in master, will reopen if it still exists after 4.2 release

[2018-01-19 08:20] auvipy commented on #3479
we might get that package merged into celery

[2018-01-19 08:26] auvipy commented on #3770
didn't find any code on master. feel free to check latest code and send a pr to improve the doc if needed

[2018-01-19 08:26] #3770 closed

[2018-01-19 08:30] auvipy commented on #3760
@jolovejo could you verify the issue on recent master?

[2018-01-19 08:30] #3760 closed

[2018-01-19 08:32] auvipy commented on #3743
is it still reproducable in master? will revisit after 4.2 release

[2018-01-19 08:34] auvipy commented on #3729
I hope upgrading to new versions should solve. report if thats not the case

[2018-01-19 08:34] #3729 closed

[2018-01-19 08:38] auvipy commented on #3728
closing as fixed. report if it's not.

[2018-01-19 08:38] #3728 closed

[2018-01-19 08:40] auvipy commented on #3685
I am closing the issue hoping to be fixed in master. report if not

[2018-01-19 08:40] #3685 closed

[2018-01-19 08:41] auvipy commented on #3633
this might be a serialization issue

[2018-01-19 09:01] monakhv commented on #3422
Is there any possibility that the ussue will be resolved?

[2018-01-19 09:03] auvipy commented on #3632
closing for now

[2018-01-19 09:03] #3632 closed

[2018-01-19 09:04] #3629 closed

[2018-01-19 09:06] auvipy commented on #3628
any kind of contribution is welcome... @jobec

[2018-01-19 09:08] auvipy commented on #3938
could canyone try the patch pointed here https://github.com/celery/py-amqp/issues/181

[2018-01-19 09:11] auvipy commented on #3625
sure plz

[2018-01-19 09:13] auvipy commented on #2849
yes 4.x series will be an LTS till jan 2020 :) and with python 2.7 support

[2018-01-19 09:14] auvipy commented on #2849
I will do it right after the release of 4.2 :1st_place_medal:

[2018-01-19 09:28] lexabug commented on #3247
Was that fixed in 4.1? My app is built with django 2.0 and celery 4.1. Config has the following lines:
[code]
My default retry delay is 5s. And when task is retried i see the following line:
[code]
But afte 5 seconds task is not retried. Seems like ETA of retried task is misinterpreted when non-UTC tz is used.

[2018-01-19 10:16] auvipy commented on #3823
@georgepsarakis @thedrow any thoughts?

[2018-01-19 12:38] elyezer commented on #3422
There two ways to get this working AFAIK, one would be that Celery start using Python's built in subprocess module instead of Billiard. The other option is to write a coverage.py plugin that would also hook into Billiard and collect coverage data.

I've patched coverage.py to add support to Billiard [1]. It has been a while that I don't use it but that gives you a base for what would be needed on

[2018-01-19 14:03] auvipy commented on #3422
We have a plan to replace billiard in next major version v5

[2018-01-19 14:54] auvipy commented on #4386
try 4.1/4.2[upcoming release]

[2018-01-19 14:54] xunto commented on #4491
@auvipy as I said ```Tested on celery master branch.``` and ```RabbitMq 3.7.2 Erlang 20.1.7```

[2018-01-19 16:04] auvipy commented on #4491
master from github or pip install?

[2018-01-19 16:06] auvipy commented on #4491
do you find any open or closed issue similar https://github.com/celery/celery/issues?q=is%3Aissue+is%3Aopen+label%3A%22Component%3A+Canvas%22

[2018-01-19 18:30] DylanYoung commented on #3915
Was it fixed? Is there a commit reference? A closed issue should reference a reason for closing it ;)

The fact that it appears in an old version is only more reason to investigate whether there is a many-years' old bug in the software.

That said, when we get Celery upgraded, I'll see if I can reproduce.

[2018-01-19 18:48] elyezer commented on #3422
@auvipy that is good to know. Will it be replaced by another tool or will use Python's builtin modules?

[2018-01-20 04:54] auvipy commented on #3915
I will certainly reopen it then for sure :)

[2018-01-20 09:33] auvipy commented on #3422
that's still need design decision but we will replace it for sure, leveraging goodies from python3.5+ and modern eco system. here is a open issue https://github.com/celery/ceps/issues/1 feel free to share your views.

[2018-01-20 17:34] keaneokelley commented on #4470
Yes and no; I am using `get()` with the underlying call to `join_native()`, while the other issue uses `join()`, if that makes a difference. Both issues lead to the code blocking, but my issue happens every time instead of every 1/10 times

[2018-01-20 18:33] georgepsarakis commented on #3823
@Korijn I guess you could retry the specific task at regular intervals. See [here](http://docs.celeryproject.org/en/latest/reference/celery.app.task.html#celery.app.task.Task.retry) for details on how to execute this from within the task code.

[2018-01-20 20:09] strawposter opened #4492 "separate setting different queues"
Does celery support different settings for different queues through a single application config? For example, I want to have a different value for worker_prefetch_multiplier for queues of long tasks and queues of short tasks.

[2018-01-21 06:55] #3823 closed

[2018-01-21 20:27] erebus1 commented on #4354
I've just tried to reproduce with such libs
**python libs:**
amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
kombu==4.1.0
redis==2.10.6

redis version: 4.0.6

And bug is still here,
It's pretty easy to reproduce: just restart worker during running task multiple times (often it enough up to 20 times)

I will glad to provide any other details, but which exactly do you need?

[2018-01-21 21:11] erebus1 commented on #4354
Here is fresh redis monitor log
[code]
1) 1516567796.571797 [0 127.0.0.1:53346]  "BRPOP" "celery" "celery\x06\x163" "celery\x06\x166" "celery\x06\x169" "1"
kombu make blocking request to redis with 1sec timeout to extract task from queue
2) 1516567797.278662 [0 127.0.0.1:53372] "LPUSH" "celery"
task put itself in queue

as you see 1516567797.278662  -  1516567796.571797 is less than 1 sec, so redi

[2018-01-22 13:55] cfriver opened #4494 "(celery 4.1.0) -Ofair doesn't work"
When 2 worker w-a and w-b are started, one second submission of the 2 task intervals of the t-a and t-b will have a probability of prefetching unfairness.
For example, w-a gets the t-a task and is executing, w-b is idle, and the t-b task is delivered at this time or will be allocated to w-a. This is not what I want, when w-b idle should be allocated to w-b. I tried to close the prefetch with -Ofai

[2018-01-22 14:27] mattLLVW commented on #4388
Could you post your systemd and celery file?
You can tell systemd where to store the PID, but you have to escape it:
[code]
Notice the double percent.

[2018-01-22 14:57] me115 opened #4495 "celery quit immediately after starting"
I use celery in django.  when I start the debug consumer process,  it quit immediately after starting.

my input command:
`celery -A common worker --loglevel=DEBUG`
ps: common is my module name

output shows:

here you see,  after connected to redis broken. it quit immediaterly without any log.

my  project dir:
workdir/
.............../manage.py  (django manage.py file)
............../common/cele

[2018-01-22 16:03] tyarimi commented on #4405
I'm getting the same error. @ask is this going to be fixed?

[2018-01-22 17:32] madprogrammer opened #4496 "dispatch/signal.py docs don't reflect real behaviour"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [X] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
See https://github.com/celery/celery/blob/120770929f4a37c5373a378b75b5c41a99702af9/celery/utils/dispatch/s

[2018-01-23 01:07] rob-deutsch opened #4497 "Celery hangs with .s() in @on_after_configure/@on_after_finalize"
## Environment

[code]
[code]

## Steps to reproduce
Note: This is a simplified example. In reality I'm trying to create some periodic tasks, and that's not working. I believe its not working because `add.s()` hangs indefinitely, and this is the simplest replicating example that I can come up with.

1. Copy the [Celery django example](https://github.com/celery/celery/tree/master/examples/django) a

[2018-01-23 04:26] auvipy commented on #4405
ask do not maintain this project actively now a days

[2018-01-23 06:28] wsYdd commented on #3808
This new release is v4.2？
When do you plan to release this version?

[2018-01-23 07:38] auvipy commented on #3808
I will reopen if this can be reproduced in master. check the milestone only 1 documentation blocker remain

[2018-01-23 08:55] thedrow commented on #4341
Please follow #4387.
We just need the release notes and resolve another issue.

[2018-01-23 12:31] gabriellima commented on #4041
I'm having this issue, using celery `4.1.0`.

If I let settings as below, many tasks are generated each second.

Even more, `due` periodic tasks are also sent as many per second.

Only solution for now is to set `CELERY_ENABLE_UTC` to `True` and updating periodic tasks using `crontab` to `UTC` hours, minutes, etc.

[code]

Example:
[code]

Return from `celery beat`:

[code]

[2018-01-23 15:53] auvipy commented on #4041
try master branch

[2018-01-23 16:22] gabriellima commented on #4041
Hi @auvipy . Thank you for the return, I've already tried and got the following error:

[code]

Installed today using `pip install https://github.com/celery/celery/zipball/master#egg=celery`

[2018-01-23 17:55] georgepsarakis commented on #4041
This seems to be caused by https://github.com/celery/celery/pull/4381/files . Very weird though, since the signature of `shadow_name` does have [3 arguments](https://github.com/celery/celery/blob/1844ece4b091ec454389ea378bae4917fa48b899/celery/app/task.py#L543).

[2018-01-23 21:03] dralley commented on #4451
This does sound similar to something we've been experiencing. https://pulp.plan.io/issues/2835#note-15

[2018-01-24 07:04] me115 commented on #4495
resolved:
It's because I used an old redis lib. kombu call redis use function
 def can_read(self, timeout=0):
but the older version only has can_read() without any params.

[2018-01-24 07:04] #4495 closed

[2018-01-24 12:06] xbogdan opened #4498 "Chain with one task doesn't run"
## Checklist
[code]

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery. (with the master

## Steps to reproduce
I created a github repo for: https://github.com/xbogdan/myapp

Basically if you do

[2018-01-24 13:03] lboc80 opened #4499 "celery + rabbitMQ - Cannot connect to broker"
after successfully testing celery with the message broker (rabbitmq) installed locally (`BROKER_URL = 'amqp://localhost'`) in a django app, i'm experiencing issues while connecting to broker:

    (projenv_py36) ➜  proj_pop_app (dev)  celery -A proj worker --app=config.celery:app -l info

    [config]
    .> app:         celeryProj:0x1068e7cc0
    .> transport:   amqp://rabbit:**@mq0.stg.eu-west-1

[2018-01-24 13:17] MattBlack85 commented on #4499
I'd try to use `ping` against that host first to see if is reachable, if yes you could have an authentication problem (bad credentials)

[2018-01-24 13:33] lboc80 commented on #4499
@MattBlack85
thanks. Well the following is not a good sign:

[code]

[2018-01-24 15:29] libre-man opened #4500 "Support `async` keyword in python 3.7"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
When importing celery in python 3.7 this fails with a syntax error. This is because `async` is used as a p

[2018-01-24 15:58] auvipy commented on #4500
3.7 is not officially supported yet. that will be supported on v5 of celery after 4.2 release

[2018-01-24 19:00] MattBlack85 commented on #4499
@lboc80 that could be a real internal host not being part of the DNS data records. Try to get in touch with your DevOps and ask them for the instance IP and try using that instead of the name. There is still a possibility that the host is up but is not resolvable

[2018-01-25 06:25] Joukosucl opened #4502 "How to execute task registered on the other host"
env:  python2.5 + celery4.1 + rabbitmq 3.7.2 + redis 3.2.8

I test the function send_task and found it can't execute the task on the other host
e.g.
 host A:   task plus -> bind queue normal_queue -> bind exchange normal_exchange
 host B:   task minus -> bind queue abnormal_queue -> bind exchange abnormal_exchage

execute `send_task('plus', args=(12,3))` on host B,  but message was sent to default

[2018-01-25 07:10] wrobeladam opened #4503 "ry apply vs delay"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [ ] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

## Expected behavior

## Actual behavior

[2018-01-25 13:29] Joukosucl commented on #4502
i tried with python3.6 and also like this

[2018-01-25 19:50] adelavega opened #4506 "rdb breakpoint not logged"
## Checklist

- [ X] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).

[code]

- [ X] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
I'm trying to interactively debug using `rdb.set_trace()` in my task. I set the trace point, tr

[2018-01-25 21:09] moltman commented on #4041
confirming reproducing this in celery 4.1.0, but inconsistently and not for all scheduled tasks.

a task was listed as due multiple times per second and therefore launched about 32000 times before it was caught. the actual schedule is set for daily at midnight UTC and the problem started occurring at 16.20 UTC. Several other schedules have not exhibited this behavior yet and upon restart we have n

[2018-01-26 02:43] wonderbeyond opened #4507 "Please make a new release to pypi!"
Half a year has passed since [pr#4173](https://github.com/celery/celery/pull/4173) been merged, which fixed a critical bug about timezone.

I have always been installing celery via:

[code]

However, since I switched to *Pipenv*, a new problems arise: After I execute:

[code]

I did get an entry in Pipfile like below:

[code]

But got below in Pipfile.lock (without the github link):

[code]

---

[2018-01-26 10:31] doihaveto commented on #4465
I am experiencing the same issue, at least from version 4.0.
Here's a dirty fix for the code posted above:
[code]

Redis is supposed to manage connections on its own, which is probably why an explicit connection close is missing from Celery. `celery_app.backend.client.connection_pool.disconnect()` will forcefully disconnect all the connections in the redis connection pool.
There's probably a bette

[2018-01-26 11:26] disconnect3d opened #4508 "Save task name/args/kwargs to db backend AND make it work fine with eager tasks"
Hello,

I am using latest stable celery (4.1.0).
I am trying to make my own db backend by taking current db backend and changing it a little bit for my needs. The basic idea is that I rewritten the `Task` model by adding some fields to it (`args`, `kwargs`, `name_id`) and so added those fields into `Task` ctor and filling them in `_store_result`inside my own `DatabaseBackend` - so I am just passin

[2018-01-26 16:35] Neal-Wang commented on #3773
@auvipy Could you give a quick fix? I'm not familiar with celery. Thank you!

[2018-01-26 17:05] bpereto commented on #4502
You have to define the queue, in which your task should go. If you don't specify, it goes as its defined in your routing settings or the default queue.

`send_task('plus', args=(12,3), queue='normal_queue)`

Here is more information:
http://docs.celeryproject.org/en/latest/userguide/routing.html

[2018-01-27 09:21] #4502 closed

[2018-01-27 11:01] lboc80 opened #4509 "celery daemonization with Docker Alpine - celeryd down: no pidfiles found"
I'm trying to setup the celery daemon to run at startup in an Alpine docker container.

This is the Dockerfile section:
[code]

the celeryd script is this:
`https://github.com/celery/celery/blob/master/extra/generic-init.d/celeryd`

and the celery configuration file (`docker/celeryd.conf`) content is:

[code]

the build run successfully, however on running the container and checking `celeryd` stat

[2018-01-27 14:26] rsyring commented on #4387
Would love to see this get released soon.  I just spent time trying to figure out why automatic retries weren't working (#4341).

[2018-01-27 21:39] dpanic commented on #3773
+1 4.4

[2018-01-28 06:54] georgepsarakis commented on #4387
Reportedly there is an issue with `master` after (probably) merging [this PR](https://github.com/celery/celery/pull/4381):
- https://github.com/celery/celery/issues/4498
- https://github.com/celery/celery/issues/4041

[2018-01-28 13:15] thedrow commented on #4387
Where do you see the reports regarding master?

[2018-01-28 16:20] georgepsarakis commented on #4387
In #4498 :

On the master branch it doesn't work at all. You get this:

And in #4041 https://github.com/celery/celery/issues/4041#issuecomment-359845025

[2018-01-28 19:00] pachewise commented on #4387
@georgepsarakis that error happens when the method is called from the Class object, instead of an instance... my guess is this issue happens when `apply_async` is called on unbound Tasks (haven't confirmed it yet).

[2018-01-29 01:58] shitikanth commented on #4198
Just wasted an hour on this. Guys, please fix the documentation. How hard can it be to rename some variables in the documentation?

[2018-01-29 05:51] #4198 closed

[2018-01-29 15:01] VictorLeP commented on #3808
I still notice a (slowly) ever-growing `SUBSCRIBE` command on master (using `redis-cli monitor`), when using RabbitMQ as broker and Redis as backend. (The sheer size of this command seems to eventually cause the `ResponseError` reported in https://github.com/celery/celery/issues/3808#issuecomment-288965295). So it seems this issue is still present.

Report:
[code]

[2018-01-29 16:00] sposs commented on #3401
I'd like to go back to the explanation provided by @ask. Indeed, I'm very must facing the problem myself with celery v4.1.0. I have a task that produces many images that I need to upload in parallel, and after the upload is completed I need to cleanup. Essentially, my chain is
[code]
The issue is that I do not understand how to write my `upload_and_register` task that handles the output of `handle

[2018-01-29 16:53] xunto commented on #4491
@auvipy not sure but doesn't seem so. From my pont of view - no.

[2018-01-29 18:56] Sovetnikov commented on #3401
@sposs, IMO dmap (and analogous task logic implementation) is not production ready in celery ...
"Advanced" task chaining (beyond task A | task B | task C | task ...) is not what celery is aimed to.
I have similar demand to chain tasks with lots of forks and joins, and i'm now looking at dask and dask distributed to make it work (https://distributed.readthedocs.io/en/latest/)

[2018-01-30 01:44] Audace opened #4511 "InterfaceError when using the celery_worker pytest fixture"
## Checklist
- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.
Report:
[code]

## Steps to reproduce
- Create an integration test with pytest. Use the celery_worker fixture while marking the fu

[2018-01-30 07:05] linar-jether commented on #3401
@sposs, See my comment above, we're achieving this by pushing the task signatures (i.e. the join part) as arguments to the `dmap` function.

[code]

[2018-01-30 07:31] sposs commented on #3401
Small correction:
[code]
should be
[code]

But otherwise it works absolutely perfectly! I've been banging my head for a clear answer and this one is excellent. Thanks!

[2018-01-30 07:43] sposs commented on #3401
Final comment for other users: the `final` must contain the rest of the chain, in my case:
[code]
Fortunately, celery allows defining chains a priori, so it's easy to create one, even complex and pass it in. This stuff is really great.

[2018-01-30 08:09] Kurara commented on #4296
I don't have the issue solved. I'm using celery 4.1 and kombu 4.1. Should I use a newer kombu version?

When there is some problem with workers, the program that manage the task at some point send a task. The code of it is `app.send_task('module.name', [])`  and it frezzes there. It should gives an error of conection or something. Not be blocked there for whole one day. Maybe I'm missing a configu

[2018-01-30 09:21] Maximilan4 opened #4512 "It is possible to use celery for infinity loop tasks ?"
Just a question, because i cant find at stackoverflow and etc.
I  have a system, that must manage some bots (simple start|stop). I created one task, what should run an infinity process. For single instance it works fine, task starts and stops in web interface. But when i am trying to create new bot instance (same infinity task with another params), celery has one of next behaviors:
- new task cant

[2018-01-30 12:08] auvipy commented on #4296
wait for 4.2 release

[2018-01-30 12:39] alekibango commented on #3617
i processed 10e10+ tasks, still works, rabbitmq got a bit more reliable last 2 years.
Holding my fingers crossed and writing my own custom brokers using python3.6 and asyncio.

What you can try in between is making use of multiple amqp servers, potentialy shoveling tasks from one to another if needed.

[2018-01-30 14:29] alekibango commented on #3576
will try, thanks for pushing celery forward :)

[2018-01-30 14:35] AvnerCohen opened #4513 "Error on terminating Pool: AttributeError("'error' object has no attribute 'errno'",)"
We are seeing the above mentioned error.
Coming from:
https://github.com/celery/celery/blob/master/celery/concurrency/asynpool.py#L182

A quick test on this test in the REPL reproduces this error:

[code]

With the *socket* class however, this works just fine:
[code]

Given that this code is in place since 2013, maybe I am doing something wrong here?

[2018-01-30 18:04] georgepsarakis commented on #4512
Your use case does not seem like a task queue, but more of a remote orchestration. You should configure your application to run as daemon (depending on your OS) and I would suggest [Fabric](http://www.fabfile.org/) as a solution to remote management.

[2018-01-30 19:39] ckm2k1 commented on #3772
@thedrow The prefixes for settings in the docs don't seem to correspond to what Celery 4.1.0 expects.
Ex:
Bad: `CELERY_TASK_ALWAYS_EAGER = True`
Good: `CELERY_ALWAYS_EAGER = True`

Like @marcomayer, this took some time to figure out and is quite frustrating to debug unless you step through Celery's own code and watch _very carefully_ over the config values.

Finally, I don't think that asking peop

[2018-01-31 03:14] auvipy commented on #3772
open source projects rely on it's contributors. so feel free

[2018-01-31 06:44] #4512 closed

[2018-01-31 06:45] thedrow commented on #4387
Is anyone addressing the release blockers?

[2018-01-31 08:37] Kurara commented on #4296
Why? Is this a bug of the 4.1.0 release? In the meantime should I downgrade to 4.0.x? Thanks

[2018-01-31 08:47] auvipy commented on #4296
in thee mean time try to install from github master

[2018-01-31 08:53] Maximilan4 commented on #4512
@georgepsarakis , thanks for your asnwer. My problem was in concurrency param, on localhost i have default 4 child processes, but on prod version i have only one. I think you are right, and i needs to create system daemons. I also can run daemons in celery, but only a n-count, because one worker = one daemon process. The scalability problem.

[2018-01-31 08:59] #3617 closed

[2018-01-31 11:44] brabiega commented on #3723
I've just tested against master, unfortunately the bug still exists.

[code]

The result is

[code]

[2018-01-31 11:55] champ commented on #4003
@thedrow I've scanned the changelogs for 4.0.x and 4.1.x - the only reference to `--autoscale` I found in those releases is this one in 4.0.x:

In what exact version was this removed and in what changelog was this reported?

Obviously, the references in the documentation should be removed if it's not still an option.

[2018-01-31 12:46] jonicong commented on #3990
@auvipy right now, i am using latest master celery and kombu with celery solo pool. It seems stable now. Also, tried to use -Ofair option, but not working.

From log only show last received task without error message.

[2018-01-31 13:07] auvipy commented on #3723
could you plz also try upgrading the dependencies to check? like kombu etc

[2018-01-31 13:50] brabiega commented on #3723
Tested with kombu and billiard versions build from master
[code]

[code]

Bug still exists.

[2018-01-31 15:17] auvipy commented on #3990
closing as a duplicate

[2018-01-31 15:17] #3990 closed

[2018-01-31 17:11] adrienjt commented on #3813
I encountered the same issue, with critical consequences. I'm running 4.1.0, would rather not run master. So while #4131 isn't released yet, I came up with a work-around: call `AsyncResult.forget()` after `AsyncResult.get()`. It's a little extreme, but if you can afford it, it patches the memory leak.

[2018-01-31 17:15] auvipy commented on #3813
you can try from master

[2018-01-31 17:52] adrienjt commented on #3813
@auvipy I do not want to run master in production. My message above is just an FYI of the workaround I'm using, in case anybody in my situation stumbles upon this page.

[2018-01-31 19:29] brabiega commented on #3723
Nope. False hope.
Tested with vine 1.1.4 too, got the same error.

[2018-02-01 04:57] kaarthikeyapreyan opened #4514 "Celery Multi does not start multiple workers in parallel"
I am trying to set up a server to run multiple workers on Ubuntu using celery. Set up the daemon using the generic scripts and using rabbit-mq as the broker.

    celery==3.1.23
    django-celery==3.1.17
    django-celery-beat==1.0.1

/etc/default/celeryd - **(internally using celery multi start RRR SSS TTT STST OTS ...)**

    CELERYD_NODES="RRR SSS TTT STST OTS"
    CELERYD_OPTS="-c 4 -Q:RRR r,e

[2018-02-01 07:13] davmlaw commented on #4498
Hi I think it's not just chains, here's a simpler test case:

[code]

Output:
[code]

[2018-02-01 13:56] cjh1 commented on #3955
I am seeing the same issue.

[2018-02-01 19:47] rachit1010 opened #4515 "Emit some SIGNAL for the tasks that are present in the chain after a failed task."
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).

celery -A celeryapp.tasks report

software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:2.7.13
            billiard:3.5.0.3 py-amqp:2.2.2
platform -> system:Darwin arch:64bit imp:CPython
loader   -> celery.loader

[2018-02-01 21:36] mikegrima commented on #4041
Hello!  We recently swapped out APScheduler with Celery (v.4.1.0) in [Security Monkey](https://github.com/Netflix/security_monkey), and we are seeing duplicates tasks being scheduled as well.

We use celery beat to add tasks that many worker instances will then execute. Exactly one celery beat instance is running at any time.

Our `celeryconfig.py` defines `enable_utc = True`.  We define a method

[2018-02-01 22:29] SaintSimmo opened #4516 "AsyncResult loses .parent when being retrieved via AsyncResult(<id>)"
So my ultimate goal here is to kick off a `Chord` (start with many parallel tasks, once they complete callback to another task with their results). This is easy, but my issue relates to getting the status of the tasks in the `Group`.

The issue is my `AsyncTask` returned from the `Chord` loses it's .parent attribute when recalled via `celery.results.AsyncTask()` (when I want to check the Chord's s

[2018-02-01 22:49] SaintSimmo commented on #4516
Well in classic fashion I spent all day failing, decided to ask people smarter than me, then figured out the answer just a few minutes later. Couple things I was doing wrong, for anyone in the future with the same problem. Here's what the good code should look like:

[code]

[code]

[code]

[code]

So first thing is I had to use the `save()` and `restore()` function of the `GroupResult`, the paren

[2018-02-01 23:39] #4516 closed

[2018-02-01 23:43] sahilkataria commented on #3561
@chrzrdx I used approach #2 above that seems to have solved it for us.

[2018-02-02 03:25] #3561 closed

[2018-02-02 06:19] denhartog commented on #3585
chained groups are still broken; using a "placeholder task" bypasses error of:
AttributeError: 'GroupResult' object has no attribute 'task_id'

[2018-02-02 11:36] last-partizan opened #4517 "Time Zone detection issue"
https://github.com/celery/celery/blob/35fd2d0096cf10d106836ba03819d2e50173b3b4/celery/app/base.py#L1253

[code]

Here is timezone detection code, and looks like most of it never actually used.
`tz` will be actual time zone or 'UTC' if conf.timezone is None, so `if not tz` never happens.

[2018-02-02 16:10] auvipy commented on #4517
could you send a pr?

[2018-02-02 16:38] auvipy commented on #4517
could you send a pr?

[2018-02-02 17:04] ifoukarakis commented on #4222
I'm seeing the same behavior on 4.1.0 when trying with `Reject`. Also`task_failure` signal is also not dispatched (neither `task_retry` or `task_rejected`). I am not sure which would be the proper signal to be dispatched in this situation.

[2018-02-02 23:58] sfdye commented on #4507
+1 for new release

[2018-02-03 06:51] georgepsarakis commented on #4222
@pitervergara can you share your Celery configuration, mostly the broker you are using (RabbitMQ, Redis etc) ?

[2018-02-03 07:23] thedrow commented on #4507
Please avoid creating such issues. Follow #4387 for updates.

[2018-02-03 07:23] #4507 closed

[2018-02-03 11:22] georgepsarakis commented on #4498
@davmlaw can you try binding the task, just to check if this gives us more insight:

[code]

[2018-02-03 14:20] #3751 closed

[2018-02-03 14:20] ifoukarakis commented on #4222
Perhaps I'm able to help. I reproduced this using RabbitMQ as broker and backend. Dependency is `celery==4.1.0`  Here's the worker's code:
[code]
and an example using ipython:
[code]

Please note that when `test_reject.apply_async()` is called, no signals are dispatched.

[2018-02-04 09:48] MShekow opened #4518 "Feature request: configurable max_retries and back-off strategy for database backend"
Suppose you configure your workers to store results in a database backend, e.g. a MySQL database. Suppose this database is down for a few minutes for maintenance. Currently, this results in completely loss of the work done in these tasks, which is highly annoying (suppose that one task takes 3 hours to compute, i.e. the result is very valuable, and I would like to be able to retry putting the resu

[2018-02-04 10:28] georgepsarakis commented on #4518
@MShekow this will be resolved by the exponential backoff feature that is already included in the `master` branch and will be available with the release of 4.2.0 . For details see [here](https://github.com/celery/celery/pull/4101).

[2018-02-04 10:54] last-partizan commented on #4517
Yes, i'll fix it.

[2018-02-04 11:23] last-partizan commented on #4517
I'm looking at tests for this part of code; and it looks like tests ignoring enable_utc completely;

https://github.com/celery/celery/blob/eac96241d2f4d4d2dfe21c071537431518e01718/t/unit/app/test_app.py#L827

Am I right, if enable_utc is False celery must use timezone.local? and utc only if enable_utc is True?

[2018-02-04 11:23] #4518 closed

[2018-02-04 11:24] auvipy commented on #4517
@georgepsarakis

[2018-02-04 13:52] #4517 closed

[2018-02-05 00:09] yccheok opened #4520 "Received unregistered task of type for Celery Periodic Tasks"
I have the following directory structure.

    docker-compose.yml
    insider_trasnaction
        |
        |---- celeryconfig.py
        |---- Dockerfile
        |---- insider_transaction.py
        |---- __init__.py

insider_transaction.py
----------------------

    import time
    from celery import Celery
    from celery.schedules import crontab

    celery = Celery()

    celery.conf.beat_sc

[2018-02-05 01:19] yccheok opened #4521 "Different Celery instance objects using same broker - Is that a good practice?"
I was wondering, is it a good practice, to have different Celery instance objects using same broker?

Currently, I have a rabbitmq, acted as single broker shared among 3 instances of Celery. My Celery instances are as follow

 - `insider_transaction` - Fixed schedule worker. Run every minute
 - `earning` - Worker created by web server.
 - `stock_price` - Worker created by web server.

I designed e

[2018-02-05 12:51] tjerkw opened #4522 "Celery not usefull for long term future tasks (far future)"
Celery has an option todo async tasks or scheduled/future tasks.
One use case it to create async tasks for a lot of business rules. Causing lots of async tasks to be created.

For example:
- Schedule an notification to be sent in 5 months in a userbase of millions: Millions on async tasks

I discussed this with a Co-worker, and our conclusion is that Celery's design for async tasks is not really s

[2018-02-05 15:30] folt opened #4523 "Сelery not run in MacOs to 10.13.3"
## my conf
`celery -A mem_messenger report`

[code]

## Steps to reproduce

I updated mac os to 10.13.3 after which the celery stopped running.
It's possible that not only I got stuck with this.
How to deal with this?

[2018-02-05 20:55] monstermac77 opened #4524 "Celery Workers' Utilization Decreases With More Workers"
I'm trying to make thousands of GET requests in the smallest amount of time possible. I need to do so in a scalable way: doubling the number of servers I use to make the requests should halve the time to complete for a fixed number of URLs.

I'm using Celery with the eventlet pool and RabbitMQ as the broker. I'm spawning one worker process on each worker server with `--concurrency 100` and have a

[2018-02-05 21:04] mikegrima commented on #4041
Update: it looks like we fixed our issue by specifying `timezone = "UTC"` in our `celeryconfig.py` file.

[2018-02-06 03:57] joshma commented on #1221
@ask this is many years later but I think still relevant - socket_timeout is still None, by my understanding of https://github.com/celery/kombu/blob/v4.1.0/kombu/transport/redis.py#L404

Is there a reason there shouldn't be some default timeout set instead? (Asking because our team's about to do so, in order to resolve https://github.com/celery/celery/issues/4453)

[2018-02-06 03:57] joshma commented on #4453
For others watching, our team investigated further and we believe this is the same as https://github.com/celery/celery/issues/1221

[2018-02-06 06:59] thedrow commented on #4387
What's the status of the blockers?

[2018-02-06 10:18] auvipy commented on #4387
one docs update and one bug report which could be fixed after 4.2 release as 4.2.1 IMHO

[2018-02-06 11:24] thedrow commented on #4387
I'm not going to release a regression into the wild. Maybe we should revert the offending change and re-create the PR?

[2018-02-06 14:07] FurqanKhan1 opened #4525 "daemonic processes are not allowed to have children"
I have seen this issue reported before as well ,and apparently it was fixed with 3.11 release of celery .But in the later realizes the issue again persisted.I have a current set-up of pyuthon3.6 ,Django 1.11,rabbit-mq ,Cent-os ,and i have a requirement to make the task allow / run pythons conventional multiprocessing.

I just want to seek clarification on weather is the issue fixed ,as i have cele

[2018-02-06 14:08] cjh1 opened #4526 "Custom requests should be allowed to provide an implementation of on_success"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
Write custom request with a ```on_success(...)``` method.
## Expected behavior
The method would be called

[2018-02-06 14:26] auvipy commented on #4387
this is actually very old issue https://github.com/celery/celery/issues/3723 plz check

[2018-02-06 15:32] thedrow commented on #4387
I was talking about #4198 and #4041 that @georgepsarakis mentioned.
If I'm wrong, this is not a blocker and we need to close issues as duplicates.

[2018-02-06 16:11] mvaled commented on #4526
I would go the other way: Making the custom Request the base for the actual Request class.

[2018-02-06 16:21] cjh1 commented on #4526
@mvaled Not sure I understand, isn't that what is happend [here](https://github.com/celery/celery/blob/master/celery/worker/request.py#L513)?

[2018-02-06 16:34] auvipy commented on #4387
yes this are not blocker

[2018-02-06 17:03] mvaled commented on #4526
@cjh1 If I recall correctly, the `base` there is the custom request, so the custom request is not in control of what to do.  Nevertheless, I don't have a real-life case that would require me to hack the `on_success`.  So, calling super may be just fine.

[2018-02-06 17:06] ehsankhorasani opened #4528 "How to execute two tasks at same time"
I'm working with celery that I encountered a problem.
The first function works without problems, but the second function does not work at all.

I have two functions:
1) This function will be activated when the program is activated, and it will work infinitely:

    from celery.signals import worker_ready

[code]

[2018-02-06 17:13] cjh1 commented on #4526
@mvaled I have pushed an update that removes the implementation in ```create_request_cls``` which is essentially a duplicate of the implementation in ```Request```, thus an implementation in a custom request would now get called. The PR is #4527

[2018-02-06 17:16] mvaled commented on #4526
@cjh1 That's right.  So I would suggest a note in the docs, advising to call super in the custom request.

[2018-02-06 17:45] krzysztof-plutoflume commented on #4296
We're also seeing a similar issue using celery & kombu from their master branches. When the redis broker is down, `apply_async()` will block until redis becomes available again. I've experimented with different broker_transport_options, to no avail.

[2018-02-06 20:19] mikegrima commented on #4041
Turns out I spoke too soon.  Things were looking better, but we have again noticed more duplicates.

[2018-02-06 20:26] mikegrima commented on #4387
It looks like I spoke too soon on #4041.  Should we try running the latest master to see if the issues are fully resolved?

[2018-02-06 20:28] thedrow commented on #4387
Please do.

[2018-02-06 21:18] mikegrima commented on #4041
@thedrow : This graph showcases our ElastiCache usage.  (with 4.1.0 -- just updated the scheduler with the latest master so will see how that goes 🤞 )

Around the 12 hour mark is where things get a little crazy. We also noticed an increase over time in Redis usage so there might be some leakage.

![screen shot 2018-02-06 at 1 13 41 pm](https://user-images.githubusercontent.com/11035926/35884540-dc

[2018-02-06 21:40] monstermac77 opened #4529 "Adding tasks to queue is too slow"
I'm using Celery 4.1.0 on Debian 7. For some reason, adding 7,000 tasks to the queue is incredibly slow and appears to be CPU bound. It takes 12 seconds to execute the code below, which is just adding tasks to the queue.

[code]

Switching between brokers (have tried redis, RabbitMQ, and pyamqp) does not have any significant effect.

Reducing the number of workers (which are each running on their

[2018-02-06 21:47] mikegrima commented on #4041
@thedrow To avoid waiting -- I set the clock to run in the next 15 minutes or so.  Going to monitor it now and see if we see a huge spike.

[2018-02-06 22:02] zpritcha commented on #4041
I'm seeing the same issue - the tasks that are supposed to be scheduled for 10AM UTC via crontab are re-scheduled 56 times, leading to an abundance of tasks in the queue. The AWS autoscaling group I have configured to handle the task queue handled the non-crontab tasks 12-13 times (running once per hour or so) until the 10AM scheduled crontab executed which caused those duplicate tasks to be added

[2018-02-06 22:21] mikegrima commented on #4041
Latest Celery (4.2.0) is still broken:
<img width="368" alt="elasticache_management_console" src="https://user-images.githubusercontent.com/11035926/35887395-fda7adec-0b48-11e8-8369-552b187d35a2.png">

[2018-02-06 22:31] mikegrima commented on #4387
It appears to still be broken for cron tasks.

[2018-02-07 05:50] georgepsarakis commented on #4525
Could you please show an outline of what you are trying to achieve in your task? Some sample code would be nice.

[2018-02-07 09:02] monstermac77 commented on #4331
@linar-jether, how might I implement your solution in python 2.7 (sending tasks in parallel)? Is it possible without the async keyword?

[2018-02-07 10:54] VictorLeP commented on #4387
Issue https://github.com/celery/celery/issues/3808 is also still broken for me on master.

[2018-02-07 13:45] brabiega commented on #4387
I'd bet that fix for #3723 would be quite small if someone with celery internals knowledge could take a look. It's easy to reproduce.

Unfortunately I didn't dig enough on my own...

[2018-02-07 16:31] capital-G opened #4530 "How to route a Message to multiple Tasks with RabbitMQ Exchanges in Celery?"
I use celery with django right now, but as my project gets bigger I really have a problem with routing messages the way I want to.

As I was reading the RabbitMQ documentation I found the concept of Exchanges really intresting as seen [here](https://www.rabbitmq.com/tutorials/tutorial-three-python.html).

Celery also mentions the distribution-capabilites of Exchanges in the documentation http://do

[2018-02-07 18:25] 2miksyn opened #4531 "Enable the choice of the "cache" option of get() method of AsyncResult"
It's offer. I see "cache" option in calling many functions working with "result", but I don't see it in arguments of AsyncResult.get() function. So, when I call:

foo = Signature(...).apply_async()
#wait for task completion
foo.get()

when I see, than result queue (I use deprecated AMPQ) disappears.
When I call:

foo = Signature(...).apply_async()
#wait for task completion
foo.ready() # result goi

[2018-02-07 22:28] Sinkler commented on #2759
@czchen hello! did you find causes of this? probably we have something similar now and it blows my mind 😞

[2018-02-08 07:39] thedrow commented on #4041
OK so it seems that there are two separate issues here. One with master that we have to resolve before the release and another one which we can resolve later.
I think that we should add a check to see if remaining_estimate() returns a negative number and error if that is the case. It's a far better situation than scheduling tons of duplicated tasks.

[2018-02-08 14:53] lambsteak commented on #3759
Hey I was having the same problem but then I realized that the tasks scheduled in celery were in utc timezone whereas I was expecting time in my local timezone and that was the problem for me. I resolved it and the tasks are getting executed for me now as expected.

[2018-02-08 15:41] auvipy commented on #3759
so this is not actually a bug at all?

[2018-02-08 18:28] mikegrima commented on #4041
@thedrow Pardon my ignorance of Celery. What impact will that have on the application making use of Celery?  Will this raise exceptions or otherwise disrupt the beat scheduler and workers?

[2018-02-08 20:25] WoLfulus commented on #4341
I thought I was doing something wrong :(

[2018-02-08 20:26] joshfriend opened #4533 "[pypy] Beat errors on startup with "TypeError: expected string""
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.

[code]

- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

Celery is passing the beat schedule file name as unicode (`u'celerybeat-schedule'`) to the shelve module, which [expects a `str`](https://bitbucket.org/pypy/pypy/src/0e7ea4fe15e82d5124e805e2e4a3

[2018-02-08 21:16] dagrooms52 commented on #3759
That isn't even the OP, I wouldn't jump so quickly to have one user's mistake stand for everyone else's.

My server only uses UTC time in all instances, so @lambsteak seems to have had a one-off mistake.

[2018-02-09 10:34] DomHudson commented on #4528
What concurrency are you running? Could it be that all are stuck on the infinite loop function?

[2018-02-09 23:15] ShaheedHaque commented on #3065
After some hacking around, I have found some interesting related information. I'm a bit of a noob here, so I'm not sure if this is already a well known thing or not...feel free to tell me I am mistaken/ot-of-order.

1. Given the standard Django directory structure of .../proj/proj/myapp, in order to find .../proj/proj/settings.py, if PWD is .../proj, then import proj.setting works naturally enough

[2018-02-10 08:48] georgepsarakis commented on #3808
@VictorLeP there are some channel subscriptions opened by the worker (in case of chord or other workflows using results) and also by the client that waits for the task result. So, depending on the usage, and how many tasks you have simultaneously being executed, you may see a growing number of channels. Are you certain that this appears on `master`?

[2018-02-10 11:07] thedrow commented on #4041
@mikegrima If we uncovered a bug in our scheduler I'd rather error than produce the behavior the OP is describing. The beat scheduler will be disrupted but the workers will continue to work.

[2018-02-10 11:10] thedrow commented on #4500
We could support 3.7 with 4.x as well. It will require some work though.

[2018-02-11 01:19] mikegrima commented on #4041
To provide an update, removing the cron part eliminates the very large increase, but we are still seeing our Redis cache expand in size over time.  This happens regardless of the quantity of workers:

<img width="893" alt="screen shot 2018-02-10 at 5 15 35 pm" src="https://user-images.githubusercontent.com/11035926/36068277-221bdc76-0e86-11e8-83cb-54c282bd3f6f.png">

[2018-02-11 10:20] thedrow commented on #4041
@mikegrima Then that's a different problem. Please search our issues and if you don't find one that matches your problem, open a new issue.

[2018-02-11 16:34] mctd commented on #3813
I'm using Celery 4.1 with a fire-and-forget logic for hundreds of thousands tasks: chords that ends with saving into a database, returning no results.
Because of that issue, my task producer's memory will grow until the process gets killed by the OS. The quick and dirty workaround I found is to periodically call `app.backend._pending_results[0].clear()`.
Calling `AsyncResult.forget()` will dramati

[2018-02-11 16:51] #4521 closed

[2018-02-11 16:51] #4520 closed

[2018-02-11 17:24] ShaheedHaque opened #4535 "No "celery inspect" support for periodic (or queued) tasks"
## Checklist

- [N, Celery 4.1.0] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [Y] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

I [struggled for some time](https://github.com/celery/django-celery-beat/issues/126) thinki

[2018-02-12 05:02] rachit1010 commented on #4515
Can someone check on this one?

[2018-02-12 11:33] chraj007 opened #4537 "Worker prefetching tasks even after setting acks_late=True, worker_prefetch_multiplier=1 and -Ofair"
## Checklist
software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:3.6.4
            billiard:3.5.0.3 redis:2.10.6
platform -> system:Darwin arch:64bit imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:redis results:redis://localhost:6379/0

broker_url: 'redis://localhost:6379/0'
result_backend: 'redis://localhost:6379/0'
include: ['dh_celery.task_setup']
CELERY_TASK_ACKS_L

[2018-02-12 14:39] ecmascriptguru commented on #1300
Hi @ask
The **--time-limit** option doesn't work on my window machine at all. It did work with `time.sleep(<num>)` but doesn't work with real process to scrap something at all.

Let me share the code here
[code]

According to instructions, it should raise the **SoftTimeLimitExceeded** after 1 second but I can't get at all. Would you like to invest a few minutes for me?

Thanks,
Alexis

[2018-02-13 03:42] infintesimal opened #4538 "Celery Fails when trying to connect to a non-durable queue"
Project Report
[code]
Hi all,
I have found a problem in addressing existing, non-durable queue. I am using RabbitMQ 3.7.3
Here's the scenario: I use either pika or RabbitMQ Admin to create a non-durable queue, in this case it is named 'getting started.' (Note in steps to reproduced, I have pasted in [my note to the celery users group ](https://groups.google.com/forum/#!topic/celery-users/IhKsCzRf6

[2018-02-13 07:20] JioHooney commented on #3885
I have same problem.
Has this problem been resolved?

[2018-02-13 08:46] thedrow commented on #3885
Yes in master. Release is coming soon. See #4387 for details.

[2018-02-13 09:32] JioHooney commented on #3885
@thedrow
Thanks for the answer

[2018-02-13 14:34] VictorLeP commented on #3808
@georgepsarakis Yes, I tested it with the latest `master` version (also tested with kombu's `master` version now). I use 'normal' tasks (sent using `app.send_task`), of which there is a constant stream to the workers, but I see in the worker logs that the tasks that appear in the growing subscription list have succeeded. In any case, there are appropriate timeouts and the task ID remain in the sub

[2018-02-13 16:52] 23doors commented on #3921
Is 4.2 coming any time soon then?

[2018-02-13 19:08] vascubrian commented on #4296
how to set delay of 5mnutes in the below code
from flask import Flask, Blueprint, abort, jsonify, request, session
import settings
from celery import Celery

app = Flask(__name__)
app.config.from_object(settings)

def make_celery(app):
    celery = Celery(app.import_name, broker=app.config['CELERY_BROKER_URL'])
    celery.conf.update(app.config)
    TaskBase = celery.Task
    class ContextTask(Tas

[2018-02-14 08:23] johnarnold commented on #4423
@thedrow @auvipy What is the doc bug that is blocking?  What's the task/todo?

If (as it appears to me) automodule just "works correctly now," I don't think that warrants a doc update at all...

[2018-02-14 08:30] vin18 commented on #3128
@allwinpb @kwin-wang
Facing a similar issue
Additionally, I also want to spawn multiple processes to handle this. Seems celery does not support it.

[2018-02-14 08:34] johnarnold commented on #3628
Take a look at https://github.com/celery/celery/pull/4490 for my progress with adding additional attributes to other backends -- you could replicate this into the database backend fairly easily.

[2018-02-14 09:19] thedrow commented on #4423
We need to add a page describing how to activate the Sphinx addon so that tasks will be documented correctly.
I haven't found the time to do so yet.

[2018-02-14 13:14] clokep commented on #4423
http://docs.celeryproject.org/en/master/reference/celery.contrib.sphinx.html seems to document this fairly well (although it's in the reference section, not in the userguide).

[2018-02-14 15:29] vin18 commented on #3128
@auvipy @ask Does celery have a huge memory footprint? I was able to run the worker when the matrix size is very small. However, the matrix original size which works without celery crashes the worker.

Mem stats just before failing step:

With Celery:::
svmem(total=17179869184, available=3193221120, percent=81.4, used=13426524160, free=1235218432, active=6288064512, inactive=1958002688, wired=5180

[2018-02-14 16:46] thedrow commented on #4423
This issue is about including it in the userguide.

[2018-02-14 20:16] tisdall commented on #3389
@luiscastillocr - thank you so much for this!  I got an exception on `sender.queue`, though, and had to replace `send_mail` with `mail_admins` to get it to work.  I also wanted to replicate more of the original email that used to be sent out.

Here's my version based on yours:
[code]

[2018-02-15 00:37] donkopotamus opened #4539 "ResultSet incorrectly calls backend.remove_pending_result"
The master branch currently defines `ResultSet` with:

    class ResultSet(...):
        ...
        def _on_ready(self):
            self.backend.remove_pending_result(self)
            if self.backend.is_async:
                self._cache = [r.get() for r in self.results]
                self.on_ready()

However a typical implemenation of `backend.remove_pending_result` in `celery.backends.async

[2018-02-15 08:45] korycins commented on #3409
Does anyone have a solution for that?
I am having the same issue with celery==4.1.0 and rabbitmq == 3.5.7

[2018-02-15 13:01] fechnert opened #4541 "high concurrency results in OSError"
Working with a high amount on concurrency (> ~128), the worker raises an OSError:

[code]

[code]

`ulimit -a` gives the following output:

[code]

I already checkes the issues

- #887 OSError: Too many open files
- #217 OSError: [Errno 24] Too many open files

And like suggested [here](https://github.com/ansible/ansible/issues/12259#issuecomment-137962724), i'm scared of changing the limit via `u

[2018-02-15 15:00] brabiega commented on #3723
I think I got it...

[code]

This patch fixes my problem although it looks like a workaround and I don't know how to fix it properly...

@auvipy any ideas?

[2018-02-15 16:18] ant31 commented on #4284
I don't see an issue here, many software prioritizes environment variable over conffile when both exist.

Things to eventually improve:
 - document  what's the precedence order
 - log from where the configuration is taken

[2018-02-15 16:46] thedrow commented on #4541
You can change the limit of a running process using https://serverfault.com/questions/201207/set-max-file-limit-on-a-running-process or use `sysctl -p` (see https://www.cyberciti.biz/faq/reload-sysctl-conf-on-linux-using-sysctl/).
You don't have to reboot.

[2018-02-15 16:46] #4541 closed

[2018-02-15 16:49] thedrow commented on #3723
Please use isinstance instead of type() is ...

[2018-02-15 17:10] thomas-riccardi commented on #4284
This is not the current issue: there is no `conffile` involved in the scenario.
The issue is precedence of env vars over explicit configuration passed as `Celery` constructor or otherwise edited by explicit code (dev controlled), not a user controlled conf file vs env var.

[2018-02-15 17:24] brabiega commented on #3723
So just to sum up, the problem was introduced with following commit:
https://github.com/celery/celery/commit/ae3f36f7dadde455098963ecdada12b043fdfe41

Unfortunately in my case I need a bound task as link error because I want to use retry mechanism during error handling - in distributed systems it's common that different components are not 100% available.

Is there any straightforward way to use re

[2018-02-15 22:40] ShaheedHaque opened #4542 "Celery beat throws "psycopg2.InterfaceError: connection already closed" exception at random points"
## Checklist

- [Y] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [N] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

Just run celery beat. At apparently random intervals, the exception is thrown.

## Expected behavior

Rel

[2018-02-16 08:58] fechnert commented on #4541
Thanks @thedrow, will check this asap.

I thought the Exception `OSError: [Errno 24] Too many open files` means there are not enough available file handles. I think celery should raise another Exception to clarify that the running processes limit is the bottleneck and not the open file limit.

[2018-02-16 12:37] ShaheedHaque commented on #4542
Actually, even worse, I think that the Beat process dies after the exception because it happened again this morning, and now there is no Beat process on my system after:

(I did not notice this in my original report, but I now suspect the same happened there). Also, it seems the pidfile was deleted: is that perhaps a clue? Here is how I run it normally according to `ps` (paths slightly redacted fo

[2018-02-16 14:10] ShaheedHaque commented on #4542
And again. Started Beat after previous crash:

and then:

No process, no pid file, no trace. I looked around other system log files (including Postgres), and only found this in Rabbitmq's log:

FWIW, the versions involved are:

[code]

Any ideas on how to investigate further would be welcome.

[2018-02-16 14:58] bhrutledge commented on #4006
@auvipy Can you elaborate on why this was closed? Was it fixed? Or is this now expected behavior (counter to [the docs](http://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html))?

[2018-02-16 16:33] vascubrian commented on #943
Flask I am having problem

[2018-02-16 16:44] vascubrian commented on #943
from celery.schedules import crontab

CELERY_TASK_RESULT_EXPIRES = 30
CELERY_TIMEZONE = 'Africa/Nairobi'

CELERY_ACCEPT_CONTENT = ['json', 'msgpack', 'yaml']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'

CELERYBEAT_SCHEDULE = {
    'test-celery': {
        'task': 'execute_celery.sendSms',
        # Every minute
        'schedule': crontab(minute="*"),
    }
}

[2018-02-16 16:44] vascubrian commented on #943
how to run above things

[2018-02-16 18:53] benjolitz commented on #3781
This bug just took a giant bite out of my ass. I ended up rolling back to v3 to buy time.

It really, really should be documented that the order of a group() result is effectively random and should not be depended on in any circumstance.

[2018-02-17 05:10] auvipy commented on #943
instal django celery beat from github master

[2018-02-17 11:02] PromyLOPh commented on #4480
Is there a workaround I could use in the meantime?

[2018-02-17 12:35] thedrow commented on #4541
This is the error Python provides when too many file descriptors are open. These include files, sockets, pipes etc.

[2018-02-18 12:48] thedrow commented on #3781
I'm sorry you had a bad user experience with Celery.
Feel free to issue a PR with the necessary documentation changes.

[2018-02-18 14:44] AvnerCohen commented on #4513
@ask Anything I can help to resolve this?
Will a patch to remove `select.error` make sense?

[2018-02-18 16:09] thedrow commented on #4513
What you are experiencing doesn't make sense. On Python 2.7.x [select.error()](https://docs.python.org/2/library/select.html#select.error) has an `errno` attribute available. On Python>=3.3 [select.error](https://docs.python.org/3/library/select.html#select.error) is aliased to [OSError](https://docs.python.org/3/library/exceptions.html#OSError.errno) which also has `errno` attribute.

Notice the

[2018-02-18 19:15] benjolitz commented on #3781
I get a distinct feel that this project doesn't take seriously downstream problems. From reading the other bug report, it seems this overall problem is more likely a "Wont-Fix" that's been that way for a few months. If it wasn't a severe enough problem to document then, I don't see the call to action now. I'll have to focus on more integration tests instead.

[2018-02-19 08:14] thedrow commented on #3781
It's not that we don't take issues seriously. We simply don't have the time, the funds or the manpower to handle them properly.
The contribution cycle on this repository is long as it is and we cannot block a PR forever. We also cannot dedicate full time in fixing problems in said PRs.
We welcome contributions and criticism, it's what drives this project forward. If you recognize that something is

[2018-02-19 09:52] AvnerCohen commented on #4513
See this fix please:
https://github.com/pexpect/pexpect/pull/38

Full description of the fix is this comment:
https://github.com/pexpect/pexpect/pull/38#issuecomment-34127762

You can see this behavior in the Apple python compilation, no custom changes or any monkey patching:

[code]

Indeed, I don't see this behavior in python 3.
You can see this exact behavior on this online pyton REPL:
https://

[2018-02-19 11:49] thedrow commented on #4513
This is either a documentation bug in Python 2 or an actual bug since the documentation explicitly specifies that the `errno` attribute exists on `select.error`.

I can confirm that this problem reproduces itself in Python 2.7.14 on Linux as well.

[2018-02-19 11:54] #4513 closed

[2018-02-19 11:55] thedrow commented on #4513
Right this should be fixed. I'll see if anything else is needed to workaround this problem.

[2018-02-19 13:14] AvnerCohen commented on #4513
Thanks!! 👍

[2018-02-19 13:31] hheimbuerger opened #4543 "Contradiction between validation and calling structure for kwargs parameter on signals"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
- [ ] I have verified that the issue exists against the `master` branch of Celery.
- [X] I checked the `master` branch and spotted the same code in the latest [signal.py](https://github.com/celery/celery/blob/master/celery/utils/dispatch/signal.py).

## Steps to reproduce

Celery 4.1.0.

Define a custom signa

[2018-02-19 13:34] hheimbuerger commented on #4543
Looking at this some more, and seeing the examples for the other signals, I'm wondering whether the intended signature is this:

    @task_prerun.connect
    def task_prerun(signal=None, sender=None, task_id=None, task=None, args=None, **kwargs):
        pass

However, I tried that, and I'm still receiving my keyword arguments as a dict to the key `kwargs` *inside* the `kwargs` parameter, so

[2018-02-19 14:06] ju5t opened #4544 "RuntimeError: maximum recursion depth exceeded"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue: unable to.
- [ ] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

`celery -A proj report` is sufficient for us to reproduce it.

We're on `celery==4.1.0`. I was unable to generate any output.

## Expected behavior

Normal output.

## Actual behavior

We get

[2018-02-19 14:24] thedrow commented on #4533
This might be a PyPy bug since [the same condition](https://bitbucket.org/pypy/pypy/src/3f6eaa010fce78cc7973bdc1dfdb95970f08fed2/lib_pypy/_dbm.py?at=release-pypy3.5-v5.10.1&fileviewer=file-view-default#_dbm.py-170) is used in PyPy3.
str in Python 3 is a UTF-8 encoded string.
We can work around this bug but I'd rather you reported this upstream.

[2018-02-19 15:22] thedrow commented on #4544
Since it works for everyone else, I'd suggest you to verify this on another computer. Try to reinstall your Python.

If this problem can be reproduced on another computer we'll need a test case that will help us debug this problem since it's very specific to your code or configuration.

I'm going to close this issue as I cannot reproduce the problem as of yet. If and when you provide us with a way

[2018-02-19 15:22] #4544 closed

[2018-02-19 15:28] thedrow commented on #4528
I think that you are not using the signals module correctly. The infinite loop will cause the worker to be stuck and not process any tasks.
You should write another task and schedule it to run every two seconds.

[2018-02-19 15:28] #4528 closed

[2018-02-19 15:32] thedrow commented on #4538
When you define a queue, mark it as non-durable. Refer to the [docs](http://docs.celeryproject.org/en/latest/userguide/routing.html#defining-queues) to understand how to define queues.
The constructor of Queue accepts a durable argument which in your case should be set to False e.g. `Queue('myqueue`, durable=False)`.

[2018-02-19 15:32] #4538 closed

[2018-02-19 15:43] ju5t commented on #4544
@thedrow this was 100% PEBKAC. The problem was with Sentry where we left out RAVEN_DSN for development environments and forgot that Celery was configured with it too. The container was started with a different flag which shoved the problem under the carpet. Sorry to have opened up an issue for nothing. Hopefully this explanation may be of use for someone in the future.

[2018-02-19 16:19] joshfriend commented on #4533
That's the conclusion I eventually came to as well, though I had forgotten to report to PyPy.

A fix in celery itself would still be helpful since Heroku does not like to update it's versions of PyPy offered in the python buildpack often (5.8.0 is the latest currently offered).

[2018-02-19 16:21] thedrow commented on #4533
I'll try to get to it this weekend.

[2018-02-19 16:30] joshfriend commented on #4533
I've filed [a bug upstream with PyPy](https://bitbucket.org/pypy/pypy/issues/2755/dbmopen-expects-a-str-for-filename-throws)

[2018-02-20 07:15] kakky opened #4547 "How to revoke running task in group or chord ?"
If there are lot of time-consuming tasks in parallel,
When one task is aborting, How do I revoke other running tasks?
[code]
Is there any smart way?

[2018-02-20 08:26] erkib opened #4548 "Task status doesn't change when completed after issued worker shutdown"
## Checklist

- [X] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery version affected).
- [X] I have verified that the issue exists against the `master` branch of Celery.

## Versions used
cx_Oracle==6.0.2
Django==1.11.6
celery==4.1.0
django-celery-results==1.0.1

## Steps to reproduce
1. Execute a task th

[2018-02-20 12:10] thedrow commented on #4521
It is entirely possible to use the same broker with two Celery app instances but you'll need to configure different queues for each app (at the very least).

[2018-02-20 13:34] #3050 closed

[2018-02-20 16:06] ShaheedHaque commented on #4522
I have a similar problem in nature, though not in scale, and like you, I considered:

before concluding

In my case, I have jobs scheduled in the future, which I needed to (a) maintain visibility of and (b) be able to cancel. In the end, I concluded that using eta schedules made (b) hard for the reason you described, and (a) hard because there does not seem to be a race-free way to see what is/is

[2018-02-20 16:44] rrauenza commented on #1300
@ecmascriptguru  See http://docs.celeryproject.org/en/latest/userguide/workers.html

I think Windows may fall in that category?

Regardless, you're asking in an issue that isn't related to your problem.  I suggest asking over at StackOverflow where @ask also responds, but you can also get a larger audience.

[2018-02-20 18:19] #3723 closed

[2018-02-20 18:42] drien commented on #3802
I'm able to reproduce with latest master (f3ef0df5a6e4008d73fdc6e7b6c02c7edf361d5a) and rabbitmq.

Here's the output, I ran the same kind of `sleep()` task as the OP with a couple of extra log messages:

[code]

(Also hi there @alexmic! 👋)

[2018-02-20 20:15] monstermac77 commented on #4524
It seems there was a bottleneck in adding tasks to the queue, so chunking was the solution. Please see here for discussion: https://stackoverflow.com/questions/48630026/celery-workers-utilization-decreases-with-more-workers

[2018-02-20 20:15] #4524 closed

[2018-02-21 10:47] tilaktwe commented on #4523
I am also facing a same issue, please help us

[2018-02-21 11:23] thedrow commented on #4523
"Does not work" is not enough information for anyone to debug a problem.
What are you experiencing? How is this issue reproduced?

[2018-02-21 14:05] vmandke opened #4550 "Warm v/s Cold Shutdown"
How does the warm / cold shutdown of celery work ? I was going through the celery source code and found that the handlers for the signals are mapped here: celery/apps/worker::_shutdown_handler. However, how does it get called? I basically want to override the warm shutdown and always do a cold shutdown with only a single TERM signal.
How is the handling different on sending the second TERM ? As fa

[2018-02-21 15:15] rikkuporta opened #4551 "Multiprocessing in Celery with Billiard?"
Hi!
I'm not sure if this is a bug or intended - so it is either a bug report or a question.

Im using Celery for a server framework running neural entworks. There is a framework called sklearn which is used for optimization of neural networks and some of the methods allow the running of parallel jobs, to reach a desired resolution faster.
This does not work, since I can not spawn new processes fro

[2018-02-21 15:57] mjtamlyn commented on #4511
I'm seeing a similar issue, and I'm not even using the `django-db` results backend.

[2018-02-21 17:19] vin18 commented on #4550
Found a hack!

    @celery.signals.celeryd_after_setup.connect
    def worker_ready(*args, **kwargs):
        try:
            celery.apps.worker.install_worker_term_handler = partial(
                celery.apps.worker._shutdown_handler,
                sig='SIGTERM',
                how='Cold',
                exc=WorkerTerminate,
                exitcode=EX_FAILURE
            )
        except

[2018-02-21 17:31] logandhead opened #4552 "No module named sqs."
I am unable to configure celery to use sqs. I followed the instructions on http://docs.celeryproject.org/en/latest/getting-started/brokers/sqs.html

Here is the stack trace.
`[2018-02-21 12:27:25,073: CRITICAL/MainProcess] Unrecoverable error: ModuleNotFoundError("No module named 'sqs'",)
12:27:25 worker.1 | Traceback (most recent call last):
12:27:25 worker.1 |   File "/Users/logan/.virtualenvs/d

[2018-02-21 18:46] georgepsarakis commented on #4552
Can you please share your configuration (omitting sensitive information of course, such as AWS API keys etc)?

[2018-02-21 19:48] xeor commented on #4387
#3808 have a `5.0` milestone.. Same with #3723

The only one that is left before release if we follow the milestone (https://github.com/celery/celery/milestone/19) is #4423

Are the milestones incorrect?

[2018-02-21 19:52] keaneokelley opened #4553 "ImproperlyConfigured when using allow_join_result"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
[code]
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
[code]
## Expected behavior
Should work as expected, as seen on: https://stackoverflow.com/a/45491380
## Actual behavior
[code]
This is caused because the call to `ResultSet.supports_native_join` r

[2018-02-21 20:32] #4552 closed

[2018-02-22 01:55] tilaktwe commented on #4523
After When I updated the Mac os sierra to   Mac os High Sierra  10.13.3. If
I run a celeryd task it is exiting quickly . and throwing an error
saying *WorkerLostError:
Worker exited prematurely: signal **11 (SIGSEGV)*. In Mac os sierra OS it
is working fine. I am not able to get a solution for this, please help me
to resolve this problem.

On Wed, Feb 21, 2018 at 4:57 PM, Omer Katz <notifications@

[2018-02-22 04:17] auvipy commented on #4387
I updated the milestone

[2018-02-22 06:01] #4423 closed

[2018-02-22 08:45] thedrow commented on #4551
We do not support multiprocessing inside Celery tasks for now.
I recommend to use [Dask](http://dask.pydata.org/en/latest/index.html) and [DaskML](http://dask-ml.readthedocs.io/en/latest/) for your use case.
You can trigger the training/test of your neural network using Celery but leave the calculation to Dask.

[2018-02-22 08:45] #4551 closed

[2018-02-22 08:53] folt commented on #4523
Mac os High Sierra 10.13.3 corrected the processor process protection error. Celery does not respond to tasks. Debug shows the start of the worker, but the chick does not work.
For ubuntu installation with the same environment does not cause problems.

[2018-02-22 09:30] thedrow commented on #4523
We'd appreciate if someone with access to this environment can debug and fix this.

[2018-02-22 11:26] tofay commented on #4506
@adelavega I hit the same problem using celery in a docker and resolved it by setting the [PYTHONUNBUFFERED](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONUNBUFFERED) environment variable to a non-empty string in the container running celery. There's an explanation https://stackoverflow.com/questions/23524976/capturing-output-of-python-script-run-inside-a-docker-container

[2018-02-22 11:53] arthurlogilab opened #4555 "Unstable max-concurrency in celery.inspect()"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).

[code]

- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

For evaluating the availability of our celery workers on a cluster we take a look at the differe

[2018-02-22 12:06] thedrow commented on #4533
I'm unable to reproduce this bug with PyPy 5.8.0. I've written the following test:
[code]

Unfortunately I can't get this to fail on my machine. Any instructions would be beneficial towards providing a proper workaround for this problem.

[2018-02-22 19:54] clokep commented on #4328
@OllieBuilds and I are seeing a similar issue in my configuration, I don't think this is fixed for all cases. It looks like what @gabrielmartin pointed out was fixed in [kombu commit 0f4da8d45](https://github.com/celery/kombu/commit/0f4da8d45): transport broker options are now properly passed to the transport, so when installing kombu from git you're able to set your transport options to include a

[2018-02-22 21:05] joshfriend commented on #4533
Thats really odd. I checked out the source code, added that exact test case to `test_beat.py` and it failed with exactly the error I got in my application.

I'm on macOS 10.13.3 if that makes a difference. My pythons are installed via `pyenv`

Here's the test failure from `tox pypy`:

<details>

[code]

</details>

I can also replicate by creating a virtualenv of pypy2.7-5.8.0 with Celery 4.1.0 in

[2018-02-22 23:08] nemesisdesign opened #4556 "Celery hangs indefinitely (instead of failing) if redis is not started"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

[code]

## Steps to reproduce

Stop `redis-server.`
Initialize a celery instance configured with redis.

## Expected behavior

I

[2018-02-22 23:19] clokep commented on #4556
Sounds similar to #4328 to me, we've been running into a similar issue, although with RabbitMQ.

[2018-02-23 03:46] keaneokelley commented on #4556
I have seen this issue with Redis stopped and when Celery tries to connect to the broker over IPv6 but the firewall is configured to silently drop the connection attempts. It would eventually fall back to IPv4 and get an instant connection refused. Could this be your issue?

[2018-02-23 16:52] keaneokelley commented on #4556
@nemesisdesign what about `ip6tables`?

[2018-02-23 18:09] Subaku opened #4557 "Having troubles with logging."
Hello,

I have a general question about logging with Celery as this may or may not be expected behavior. When logging inside a task it appears as though the logger is not flushing right away. Only when either a lot of output occurs in a single task or if I, inside a python shell, spam the same task repeatedly does the logs finally show up.

Here is the output from a ``celery report``.

software ->

[2018-02-23 21:10] quantoid commented on #3401
But in this solution, dmap is a task that invokes a group of tasks, which I thought was an antipattern for Celery tasks.

In other solutions I’ve seen, dmap returns the group without executing it. Does that mean a task can return a signature, and that signature will be called by Celery to get the true return value of that task?

[2018-02-25 09:14] thedrow commented on #4533
Maybe it's because you are using Mac so dbm is selected over other mechanisms.

[2018-02-25 10:49] thedrow commented on #4557
This has nothing to do with Celery probably. I suspect you should be using [unbuffered output](https://docs.python.org/2/using/cmdline.html#cmdoption-u) if that's the behavior you want.

[2018-02-25 10:49] #4557 closed

[2018-02-25 15:18] auvipy commented on #4041
is this a release blocker for 4.2?

[2018-02-25 22:18] moltman commented on #4041
@auvipy I consider it so. It makes the scheduler unusable given that it randomly goes off the hook and launches thousands of jobs when it shouldn't. We've turned it off in our production environment and are working around it, but we'd rather use it.

[2018-02-26 08:06] jetz commented on #3808
Same issue. In my case, just a few calls like `somefunc.delay()`, produces millions of channels with about 33G memory used, my server is trembling :cry:, must we wait for v5.0?

[2018-02-26 08:14] linar-jether commented on #4331
@monstermac77 the `async` in my example is used in python 2.7, it is just a wrapper of ours that creates a celery signature from an arbitrary callable.

[2018-02-26 08:33] thedrow commented on #4533
I'm wondering if this could be reproduced in Travis-CI using their MacOS builds.
@joshfriend Care to try?

[2018-02-26 14:35] hartym opened #4558 "Unlike what doc states, --app does not behave like -A"
## Steps to reproduce

* Try to run `celery --app foo *anything*`.
* Look at the "celery usage" output instead of the "*anything*" expected output.

## Expected behavior

"-A foo" and "--app foo" to behave the same way.

## Actual behavior

"-A foo" works, while "--app foo" just outputs the "celery usage" screen

## Environment

[code]

[2018-02-26 18:19] monstermac77 commented on #4331
@linar-jether got it, thanks! I ended up using Celery's built-in chunking solution which successfully cut down the time to add tasks to the queue, but I may return to this if I hit the scale where I need more speed-up.

One downside of using Celery's built-in chunking solution is that tasks within a chunk will not execute in parallel, so you're reducing parallelism in exchange for less task overhe

[2018-02-26 20:51] johnarnold commented on #4041
Does anyone have a minimal repro of the problem?  Did this break recently, or has it been an issue for a while (i.e. since 4.0)?

[2018-02-26 22:55] keaneokelley commented on #4553
Did some further testing. This issue only occurs if the call to group contains an iterable of length 0. So it's failing because `results[0]` doesn't exist since there are no tasks to begin with.

I guess the only issue here is that this is a poor error message and the situation (no tasks) has nothing to do with the backend's configuration.

[2018-02-27 00:34] scobb opened #4560 "AttributeError: 'str' object has no attribute 'isoformat' with ETA"
## Checklist
[code]

## Steps to reproduce
Create chord, add eta.

[code]
## Expected behavior
after ETA, chain begins execution and executes to completion

## Actual behavior
Group begins execution after ETA, but callback throws exception:
[code]
Interesting to note, I am using redis as backend, but the exception is thrown in amqp code.

[2018-02-27 06:59] monstermac77 opened #4561 ".get() hangs indefinitely after running smoothly for ~70 hours (Redis broker)"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Report
[code]

## The Issue
After everything running smoothly for thousands of cycles (a cycle being: adding tasks to the que

[2018-02-27 07:06] monstermac77 commented on #4529
It looks like indeed, it is that slow. See here for benchmarks and discussion: https://stackoverflow.com/q/48652282/2611730. A good way to combat this is by using chunking, although you will lose some parallelization if you use Celery's built-in chunking.

[2018-02-27 07:06] #4529 closed

[2018-02-27 13:33] drhagen commented on #3585
I can confirm that this group-following-group error still occurs on 4.1.0. I don't know when 4.1.0 diverged from master, but it was released it a couple months after @georgepsarakis and @yoichi tested master. Strangely, if one of the groups happens to have only one element, then the error does not occur, so there must actually be multiple signatures per group to reliably test for the bug.

[2018-02-27 17:29] alanjds opened #4562 "Canvas: Allow the same Signature to trigger two Chords"
Questions:
1. Can a Task trigger 2 Chords?
1. If not, how to implement the following graph on Celery?

Take a look on the `C1` node on such graph to be described via Canvas primitives:

<img align="left" height="210" src="https://user-images.githubusercontent.com/155623/36743093-29f686cc-1bc8-11e8-9beb-b4a21d9a9d4a.png">

[code]

## Steps to reproduce
I could create such Canvas via code, assuming

[2018-02-27 17:40] marekmalek commented on #3723
@brabiega You don't need bind task to use retries, just use `task name` instead of `self`:
[code]

[2018-02-27 18:04] brabiega commented on #3723
@marekmalek Will that take max_retries under consideration?

[2018-02-27 18:07] marekmalek commented on #3723
@brabiega yes, definitely

[2018-02-27 19:17] johnarnold commented on #4387
@auvipy @georgepsarakis @thedrow @ask

#4041 is making no progress and blocking release of a ton of other fixes.  If this is a pre-existing bug and not a regression, can we get a release of what is already done?

[2018-02-27 19:22] alanjds commented on #4562
Just found that I may not be the 1st to ask for it: https://github.com/celery/celery/issues/893

[2018-02-27 19:24] alanjds commented on #893
Can the more involved people tell what should be done to fix this and #4562 ?

Having a roadmap could allow other people w/ more free hands to take over and take not years to complete ;)

[2018-02-27 22:58] sergii-tkachenko commented on #3642
I was able to get it done using `celery_worker.reload()`:
[code]

This will force `celery_worker` to register the task.

[2018-02-28 01:52] maratkomarov commented on #4089
Prefork pool spawns separate processes, while gevent pool spawns greenlets, all within the same process. You'll experience the same "bug" with `threading` or `eventlet` concurrency modules.

If you need to isolate task data you might consider `threading.local` / `gevent.local`.

[2018-02-28 03:54] quantoid opened #4563 "Worker should get() a GroupResult or AsyncResult returned by a task"
## Checklist

    $ celery -A tasks report
    software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:2.7.12
            billiard:3.5.0.3 librabbitmq:1.6.1
    platform -> system:Darwin arch:64bit imp:CPython
    loader   -> celery.loaders.app.AppLoader
    settings -> transport:librabbitmq results:rpc:///

    accept_content: ['pickle', 'json']
    task_serializer: 'pickle'
    result_serializer: '

[2018-02-28 04:10] quantoid commented on #4563
I guess if `Task.map(items)` executed the task for each item in parallel (like `multiprocessing.Pool.map` does) then that would solve this problem.

[2018-02-28 05:49] liutuo commented on #4041
I am having the same issue, scheduled task duplicates thousands of times. Any suggestion for a quick workaround such as degrade some library versions?

[2018-02-28 06:25] liutuo commented on #4041
Just some random trial and error, I am using celery 4.1, django 1.11.7 django-celery-beat 1.1.0, postgresql as db. After change USE_TZ=True, the scheduler seems to work correctly. Hope this can add some value to the discussion.

[2018-02-28 07:39] jeyraof opened #4564 "Way to define last day of month"
Is there any way to define last day of the month?

I think `day_of_month='31'` means that event triggered at every month's 31st.

However, February has 29 or 28 days.

What can I do for triggering task at last day of the month?

[2018-02-28 09:08] mehdigmira commented on #4089
Yes I'm aware of the difference with Prefork. Still I think a task's behaviour shouldn't depend on wether it's running within a gevent, a threading or multiprocesses pool.
I think there should be one Task instance per running task whatever concurrency pool you're using.
I don't think using gevent.local whenever you want to share data is the right solution to this.

This is what I've been using sin

[2018-02-28 10:21] thedrow commented on #4041
As far as I'm concerned this is a regression and I can't release without a fix or without reverting the offending PR :(

[2018-02-28 15:35] thedrow commented on #4560
@scobb Can you please check and see if the code in the PR fixes your issue?

[2018-02-28 18:07] scobb commented on #4560
Thanks for such a quick turnaround, @thedrow. This branch resolves my issue.
Setup:
[code]
Invocation:
[code]
Worker:
[code]

Thanks again!

[2018-02-28 20:54] thedrow commented on #4560
See https://github.com/celery/celery/issues/4387

[2018-03-01 03:26] quantoid commented on #4563
Perhaps it doesn't work because I need to use a `chord` to wait for the results from the group, and that requires a different backend such as Redis.

[2018-03-01 04:45] yccheok opened #4566 "Rabbitmq will retry every possible even number port, till it exhausted and then restart"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.

[code]

- [ ] I have verified that the issue exists against the `master` branch of Celery.

Yes

## Steps to reproduce

Let's celery + rabbitmq runs for 24 hours.

celeryconfig.py
-----------------
[code]
## Expected behavior
Everything stable

## Actual behavior

After 8 hours, rabbitmq will restart. When w

[2018-03-01 08:28] yccheok commented on #4566
I was able to capture the error message from rabbitmq, before rabbitmq restarts

[code]

[2018-03-01 08:41] newfriend1 opened #4567 "when will the 5.0 release?"

[2018-03-01 14:47] thedrow commented on #4567
Whenever we'll have the time and funding to rewrite some of the major components of this project.

[2018-03-01 14:47] #4567 closed

[2018-03-01 15:48] eillarra commented on #4107
I have the same issue with 4.1.0 not respecting the crontab() configuration: it just creates thousands of tasks until you stop the beat.

Periodic tasks work as expected again if I revert to 4.0.2.

[2018-03-01 18:44] Vichoko commented on #4178
@np-8 solution worked for me too.
Specifications:
+ Windows 10
+ Celery 4.1
+ RabbitMQ

[2018-03-01 20:59] sergei-maertens commented on #4178
Eventually we ditched the solution and are not running celery on Windows anymore. Sometimes, when saving files in Django (`models.FileField`), something in eventlet would error (sorry, don't have the exact error at hand). But, it seems to be in the `os.py` monkeypatching.

Another thing is that starting up celery takes ages (10-15 minutes), and during this startup time, no tasks seem to be picked

[2018-03-01 22:14] magykjames commented on #3949
I have a situation where I have several remote workers that need to pull down code from a repository and execute that code. I need a way that, when there's an update to one of the repositories, I can sync the code down on all the workers using Celery. For that, I need to be able to send a broadcast to all the workers that run code to sync it down.

I've been trying to get Broadcast to work with Ra

[2018-03-02 08:08] dongshengYoung opened #4568 "the periodic task doesn't run normally,but run too frequently than interval"
## Checklist

- [
software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:3.6.3
            billiard:3.5.0.3 redis:2.10.6
platform -> system:Windows arch:64bit, WindowsPE imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:redis results:django-db

DATABASES: {
    'default': {   'ENGINE': 'django.db.backends.mysql',
                   'HOST': '127.0.0.1',
                   'NA

[2018-03-02 08:11] dongshengYoung commented on #4568
this maybe useful
![1519978188](https://user-images.githubusercontent.com/31365352/36889246-2b7e022c-1e34-11e8-9b7b-a4563ed83821.png)

note the maxinterval,   it becomes 5.00 seconds(5s),

[2018-03-02 09:19] eillarra commented on #4568
Related to https://github.com/celery/celery/issues/4107

[2018-03-02 20:53] dwrpayne commented on #4041
I believe this might be a duplicate of #4184, and is fixed in master? It looks similar.

[2018-03-03 02:57] moltman commented on #4041
@dwrpayne I believe  gabriellima mentioned on Jan 23 they tried master and it still has the issue. I'll try master again in a test env and see what we find.

[2018-03-03 15:09] vinicius-ronconi opened #4569 "Celery tasks not registered when using a custom django source folder"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
1 - Create a sample project, like it the one on First Steps with Django
2 - All the tasks will be correctl

[2018-03-03 21:40] trianglesis commented on #4398
I can confirm BEAT deamonizing do not work, until I force options with:
CELERYD_OPTS="--beat --scheduler=django_celery_beat.schedulers:DatabaseScheduler"

Everything is configured and working fine, except of beat, it can only work with this conf below.
It works in "multi" module, but too bad, so I want to move it to deamon-type exec, but stil no luck, and not even live example can be found anywher

[2018-03-04 00:15] trianglesis commented on #4304
wasted about few months and playing that **multi** crap until I found this thread.
Thanks a lot, now working. But why do people should struggle, why don't you update the docs?

[2018-03-04 06:49] georgepsarakis commented on #4304
@trianglesis sorry to hear about that. Contributions are always welcome, you could open a PR with the suggested documentation changes.

[2018-03-04 07:03] Jarch09 commented on #4041
Anyone arriving at this issue should just know that changing the timezone setting back to enable_utc = True seems to solve the issue.

[2018-03-04 07:29] dwrpayne commented on #4041
@moltman It seems that @gabriellima tried master on Jan 23 but got a failure when trying to run a pre-existing `test_task`, and so never actually verified this bug against master.

I believe this bug is a duplicate of #4184 and is fixed on master.

The symptoms of this bug are the same as #4184. So is the workaround (setting `ENABLED_UTC = True`). I cannot reproduce this bug on master.

[2018-03-04 07:35] dwrpayne commented on #4387
Trying to get more visibility on the last 4.2 blocker: I think #4041 is a duplicate of #4184 as they have the same symptoms and workaround. What's the decision process around that?

[2018-03-04 09:04] karol-bujacek commented on #4304
@georgepsarakis , do you insist on PR? I’m asking because I think documentation should be written by core members of the project, otherwise it will be more confusing, more weird and more useless for newcomers.

[2018-03-04 10:25] georgepsarakis commented on #4304
@karol-bujacek certainly, all contributions are more than welcome, in order to help maintain open-source projects! To answer to your argument, especially for this case here, concerning deployment, it is very likely that others that already analyzed and dealt with the problems and replied in this thread, can write a more detailed and accurate guide, explaining their solutions in a more comprehensiv

[2018-03-04 11:34] thedrow commented on #4387
@johnarnold There's one regression we need to fix or revert https://github.com/celery/celery/issues/4041#issuecomment-359875276 and another issue that is yet unclear if it is caused by Celery 4.2.
We need to fix the regression first and see if we can still reproduce the issue on Celery 4.2.

[2018-03-04 14:04] trianglesis commented on #4304
I have found another issue with deamon setup:

`billiard.pool.MaybeEncodingError: Error sending result: ''(1, <ExceptionInfo: P4Exception()>, None)''. Reason: ''PicklingError("Can\'t pickle <class \'P4.P4Exception\'>: it\'s not the same object as P4.P4Exception",)''.`

I can now surely say it happens because deamon runs out of **venv**.
I import P4 class and made a connection in "father" task, lat

[2018-03-04 16:49] moltman commented on #4041
@dwrpayne thanks for the info, will be testing master...I thought we tried the enable_utc = True to no avail but will followup

[2018-03-04 22:14] yccheok commented on #4566
By changing from

    @app.task(name='stock_price_upload_notification.run', bind=True, max_retries=3)
    def run(self, request_data):

to

    @app.task(name='stock_price_upload_notification.run', bind=True, max_retries=3, ignore_result=True)
    def run(self, request_data):

We no longer observe such problem.

[2018-03-04 22:14] #4566 closed

[2018-03-05 09:41] hovi opened #4570 "crontab parameters ordering"
Hello,

I am using crontab scheduling:
http://docs.celeryproject.org/en/latest/_modules/celery/schedules.html#crontab

And I find it extremely weird, that parameter ordering (`minute='*', hour='*', day_of_week='*',
                 day_of_month='*', month_of_year='*'`) does not match ordering of crontab format (`<Minute> <Hour> <Day_of_the_Month> <Month_of_the_Year> <Day_of_the_Week>`).
Example so

[2018-03-05 11:11] linar-jether commented on #4551
@thedrow Should note that the current sklearn version uses joblib which by default now uses `Loky` instead of `multiprocessing` which works fine with celery, and much more robust to deadlocks/worker crashes (might also be a good alternative to billiard, as it is both supported on windows/linux and python2/3)

[2018-03-05 12:56] thedrow commented on #4551
Celery 5 would require an async multiprocessing library but thanks for the pointer. I'll take a look at their design.

[2018-03-05 14:08] vinicius-ronconi commented on #4569
A review on this page fixed my issues, specially the part of Automatic naming and relative imports: http://docs.celeryproject.org/en/latest/userguide/tasks.html

[2018-03-05 14:08] #4569 closed

[2018-03-05 15:13] auvipy commented on #4551
we have a open issue in cep which aims to choose an alternative  for billiard.

[2018-03-05 17:48] georgepsarakis commented on #4570
@hovi perhaps it has to do more with the frequency that the parameters are used, perhaps specifying the month of the year is a bit infrequent (?). You are right about the breaking changes, anyone that uses the positional format, will have a problem. If you have a suggestion to keep this backwards compatible, please feel free.

[2018-03-05 18:26] martin-xia commented on #3270
having the same problem here, duplicate task_id sent to multiple workers within 10 secs. Is there any existing solution?

[2018-03-05 20:55] athal7 commented on #4300
@auvipy any word on 4.2 release? we are experiencing this same issue. Thanks!

[2018-03-05 21:31] quantoid commented on #4244
This is a problem if you are chaining a task into a group, and the group contains chains. In that case I don't think the workaround from @samfrances can be used.

[2018-03-06 03:04] dongshengYoung opened #4571 "celery makes the django stuck"
## Checklist

software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:3.6.3
            billiard:3.5.0.3 redis:2.10.6
platform -> system:Windows arch:64bit, WindowsPE imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:redis results:django-db

CELERY_BROKER_URL: 'redis://localhost:6379/4'
CELERY_RESULT_BACKEND: 'django-db'

- [x] I have included the output of ``celery -A proj r

[2018-03-06 03:30] dongshengYoung commented on #4571
when i debug the django, it seems somthing wrong with
`    def __call__(self, *a, **kw):
        return self._get_current_object()(*a, **kw)`

[2018-03-06 04:14] dralley commented on #4328
@clokep , I also find that confusing.

[2018-03-06 04:27] dralley commented on #4321
@mvaled any update?

[2018-03-06 10:25] thedrow commented on #4571
From what you are describing it sounds unlikely that Celery is the cause of your issue.
The Celery task is run synchronously so there's no communication with the broker.
We need more information to debug this problem.
Do you have a stack trace or a reproducible test case I can use? Does this problem only reproduce on Windows?

[2018-03-06 14:45] thedrow commented on #4041
Master no longer contains the regression described by @gabriellima in https://github.com/celery/celery/issues/4041#issuecomment-359845025
Can we try again using master and see if the same problem reproduces?

[2018-03-06 16:11] tagashy commented on #3270
I'm having the same issue duplicate task with duplicate task on redis ...
i solve it with a decorator (but it's more a hack than something correct) based on https://stackoverflow.com/questions/26831103/avoiding-duplicate-tasks-in-celery-broker

`from redis import Redis
from functools import wraps

def run_only_one_instance(lock_name):
    def real_decorator(func):
        @wraps(func)
        def

[2018-03-06 16:11] tremendcosti opened #4573 "Backend is not consistent in Flask App"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
software -> celery:4.1.0 (latentcall) kombu:4.1.0 py:2.7.12
            billiard:3.5.0.3 py-amqp:2.2.2
platform -> system:Linux arch:64bit, ELF imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> tra

[2018-03-06 18:37] auvipy commented on #3270
can this be added in docs? or any patch in upstream?

[2018-03-06 18:53] trianglesis opened #4574 "Celery cron tab cheduled periodic task executes in delay or till you "inspect" workers."
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
- Register task in CRON
- Set time (17:00)
- Go away and do not touch server or any web application
- See

[2018-03-06 19:21] trianglesis commented on #4525
Had the same with multiproc.
Unfortunately I can't found any solution for this and just make "threading" as multiplying tasks for each "thread" I wanted.
I have now just single worker with concurrency 5 - which run 1000+ task more like in "parallel".
And other 5 workers for each single environment with concurrency 1, and I just fed each worker with set of tasks (tests) which also run in like "para

[2018-03-06 19:35] nikitagromov opened #4575 "Chords and RPC result backend"
Are there any plans to support chords for RPC result backend?

[2018-03-06 20:11] tagashy commented on #3270
If you are speaking about my code
Of course it can be added to docs or patch.
But wait till tomorow i will make a better version whithout hardcoded stuff and i may have found a way to remove the lock name variable and replace it with some data from function
Will do it asap :)

[2018-03-06 21:08] npilon opened #4576 "Eager Application Synchronous Subtask Guard Blocks Canvas"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

[code]

Minimal script to reproduce: https://gist.github.com/npilon/9f3c8469a615081fc8454359945eebd7

##

[2018-03-06 22:11] FurqanKhan1 commented on #4525
I actually ended up using billiard library of python which does allow demonic processes to have child processes and its just working good
U might want to give a look at billiard ,doesn't require much code change as well.
https://pypi.python.org/pypi/billiard

Appreciate your input tough !!

[2018-03-07 02:42] heylucky commented on #3200
thanks，
`pip install -e git+https://github.com/celery/billiard.git#egg=billiard
pip install -e git+https://github.com/celery/kombu.git#egg=kombu`

that solves my problem,but still know the reasons......

[2018-03-07 06:14] vallee11 opened #4577 "BUG: Bad page map in process celery pte:fd20b000 pmd:16d7b08067"
Mar  6 10:13:53 h3class01 kernel: [8883126.929572] swap_free: Bad swap file entry 007e9058
Mar  6 10:13:53 h3class01 kernel: [8883126.929580] BUG: Bad page map: 31 messages suppressed
Mar  6 10:13:53 h3class01 kernel: [8883126.929583] BUG: Bad page map in process celery  pte:fd20b000 pmd:16d7b08067
Mar  6 10:13:53 h3class01 kernel: [8883126.929588] addr:00007fb3611a5000 vm_flags:08100073 anon_vma:

[2018-03-07 08:28] tagashy commented on #3270
so here is a version that is not hardcoded (but it still work only with redis):
lock_name based on module name + function name + args +kwargs (module name is in the case you got two function with the same name in different module who need to run with the same redis)
redis server address is the only parameter and default to 'redis'
i've also added some exception logging with error from the standard

[2018-03-07 08:51] auvipy commented on #3270
would you mind sending a PR on master?

[2018-03-07 09:20] tagashy commented on #3270
done but first time I do a PR.
I hope I have done it correctly.
the file is inside celery/utils/

[2018-03-07 16:10] kleptog commented on #4185
Just chiming in to say we also run into this issue. celery 4.1.0, kombu 4.1.0, billiard 3.5.0.3.
Command line: `/usr/bin/python /usr/local/bin/celery worker --app myapp.celery -B --loglevel INFO --autoscale=5,1 --max-tasks-per-child=50 --max-memory-per-child=1000000 -O fair`

With respect to blocking on file descriptors, we see the same as @harlov above: the master is in a deadlock with one of its

[2018-03-07 16:37] thedrow commented on #4575
I believe @ask did not implement chords for the RPC backend since it is not possible.
If he is wrong, feel free to open a PR with a way to implement chords.

[2018-03-07 16:37] #4575 closed

[2018-03-07 18:26] 2miksyn commented on #4562
U can use two another patterns. First slower than expects (F2 executes after E2), but can be implemented only on celery canvases.
![2](https://user-images.githubusercontent.com/35566749/37110135-1c1db3d2-224d-11e8-97a5-92ed868964b7.png)
Second has expected execution time, but more difficult in code: need catch results of first group and send new group task.
![1](https://user-images.githubuserconte

[2018-03-07 20:41] alanjds commented on #4562
@2miksyn You are right, it is possible. However, not always applicable.

I am talking about very long tasks. For exemple, if D and F takes about 5h and B and E takes only 1h, then the total time goes from 6h to 11 on your 1st proposal, and to 10 on the 2nd proposal.

Even it was about little tasks, this means the full DAG taking from 600ms to 1sec, only on this exemple. Its a lot and can be worst,

[2018-03-08 03:52] bmjr commented on #2964
This issue is still persisting for me now.

see: https://stackoverflow.com/questions/49164797/getting-keras-with-theano-to-work-with-celery

Even with all the imports inside the task function it still fails. Any clue would be greatly appreciated!

[2018-03-08 06:31] thedrow commented on #4577
There's nothing in this issue that helps us reproduce the problem you are having.
Please provide a testcase, the Python version you are using, the OS version, the Celery version you are using etc.
Right now since there's no actionable information to go on, I'm going to close this issue.
Please comment with more information and we'll reopen.

[2018-03-08 06:31] #4577 closed

[2018-03-08 08:44] dmirecki opened #4579 "Call .get() hangs indefinitely and a subtask is never called"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).

[code]
Problem occurs also on version 4.1.0

- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

[code]

## Expected behavior
The job should finish and `6`