[2018-10-22 16:40] OskarPersson commented on #5129
Yes, that is probably the issue. Though how would you then run an **error callback** when a group fails without defining a callback task?

[2018-10-22 20:00] TimothyFitz commented on #3589
Just ran into this and none of the previous solutions worked for me. The exact scenarios that cause this are confusing and rely on the behavior of ref-counting/gc and the exact lifetimes of your decorated functions.

Signal.connect by default only holds a weak reference to the signal handler. This makes sense for other use cases of the Signal object (a short lived object that wires signals shouldn

[2018-10-23 01:37] nthall commented on #4304
Hi, I started work on a PR adding an example for this tonight. I've run into a small issue; the Contributing guide says roughly "there should be no warnings" when building the docs. There are a variety of warnings, unrelated to this. Many, but not all, of them come from docstring type hints. Wondering if it would be preferable to submit this anyway, or if the maintainers would prefer to have the e

[2018-10-23 07:17] zuoakang commented on #4796
### **I have this ploblem too**
[https://github.com/celery/django-celery-beat/issues/80#issuecomment-432122711](url)

[2018-10-23 08:29] sposs commented on #3916
Hi,
Any news after DCUS? I'm facing this issue too and it's quite irritating...

[2018-10-23 11:12] shashank-iitj commented on #2570
+1 Would love some docs/guides on how to split a monolithic task.py file into smaller files.

[2018-10-23 11:33] muzhig opened #5133 "Eager tasks ignore CELERY_*_SERIALIZER settings"
It just uses `json`.
The bug is on master, but not on last production version, probably easy to fix it now than later.
Relevant line is this: https://github.com/celery/celery/blob/master/celery/app/task.py#L529

[2018-10-23 11:59] clokep commented on #4304
(Not a maintainer, but I've contributed some stuff previously.) I'd suggest going ahead and putting up a PR to add this documentation.

It'd also be awesome to get the warnings fixed, but please submit a separate PR(s) to fix those!

[2018-10-23 12:36] sposs commented on #4980
@olii what do you recommend as 'reasonably low'? I have the same sort of issue and try to apply the 'broker_heartbeat=0' fix...

[2018-10-23 13:36] olii commented on #4980
@sposs it is completely up to you. You can experiment with any value you like for your use case. Note that the default Linux TCP timeout is 2 hours.  http://tldp.org/HOWTO/TCP-Keepalive-HOWTO/usingkeepalive.html

[2018-10-23 13:46] Skeen commented on #5127
Hi @xirdneh

I don't believe I have proposed a solution, but rather argued a shortcoming of the prominentness of prioritization of queued jobs with the RabbitMQ broker.

But otherwise; yes, the behavior I was expecting was for consumption to happen from queues with higher priority before queues with lower priority, and while it did happen, the prioritization was not as prominent as I would have li

[2018-10-23 15:19] xirdneh commented on #5129
A chord is a chain with a group and another task `chain(group([...]) | callback.s())`.
And a chain and a chord are signature objects. So, you can use `on_error` to assign an error callback.
[code]
You can also try to set `on_error` within the group:
[code]

[2018-10-23 16:08] xirdneh commented on #5127
I believe these are different issues or shortcomings.
The first one is task priority which is implemented by the broker (as pointed out earlier).
Celery will ask the broker which is the next task and the broker will reorder the tasks in the queue based on its implementation of priority. There's not that much we can do about it other that understand how the broker handles priority.

Now, the second

[2018-10-23 16:22] xirdneh commented on #5107
I'm not sure why Redis is deleting the result I don't think celery actually sends a delete command to redis.
But yeah, probably @bpereto's solution would be the way to go.
[code]

[2018-10-23 16:30] xirdneh commented on #5105
Celery's integration tests also uses `celery_session_worker`.
Although it's probably better to use a fixture that uses `celery_session_worker` and then use that fixture everywhere that way there's only one worker running.

[2018-10-23 16:49] vsag96 commented on #2991
Yes this is still an issue, I am using 4.2.0, I have a rabbitmq 3.6 docker image. If you need more information please let me know, which parts of the codebase should be read for fixing this,I'll be glad to help. This issue has popped up recently #4980 .

[2018-10-23 17:51] bpereto commented on #5107
Chain of calls:
* `AsyncResult.forget()`
* `self.backend.forget(self.id)`
* `BaseKeyValueStoreBackend.forget(task_id)`
* `BaseKeyValueStoreBackend._forget(task_id)`
* `self.delete(self.get_key_for_task(task_id))`
This is for all backends whose inherit from  `BaseKeyValueStoreBackend`.

So yes, calling `result.forget()` does delete the result from the backend.

[2018-10-23 19:03] michaeljaszczuk commented on #5072
I have the same issue.

[2018-10-23 19:22] somtirtha opened #5136 "pidbox received method enable_events() [reply_to:None ticket:None]"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      Using Celery 4.2.0
     amqp 2.3.2
     Running: celery -A proj worker -l DEBUG -E -Ofair

- [x] I have verified that the issue exists against the `master` branch of Celery.
   Yes

## Steps to reproduce
   Running rabbitmq in a docker container and celery on a separate container having exposed rabbitmq

[2018-10-24 02:55] vincenthcui opened #5138 "task DONT run in complex canvas"
hi, we are using canvas to design our asynchronous task system, group and chord parallel tasks, chain serial tasks together. But in some complex cases, tasks DONT run as expected. I write a demo and print output here, please help to check :)

## project report

    software -> celery:4.2.1 (windowlicker) kombu:4.2.1 py:2.7.10
                billiard:3.5.0.4 redis:2.10.6
    platform -> system:Dar

[2018-10-24 04:25] rajeshyogeshwar opened #5139 "Celery inspect queries hang forever."
Hi, I am using Celery inside a Docker container with Redis as the broker for one of my Django projects. I am unable to use any celery inspect queries as the command simply doesn't respond forever and I have to hit CTRL+C every time. My Redis is again in one of the docker containers and it is password protected as well.

**Project Report**

[code]

**Steps to reproduce**

I am not sure how one can

[2018-10-24 05:39] tothegump commented on #5138
It seems that, this bug has been fix in 4.2.
Would you please try in the master branch?

[2018-10-24 07:07] vincenthcui commented on #5138
We use version 4.2.1 now, let me try the latest

[2018-10-24 07:33] vincenthcui commented on #5138
@tothegump however, tasks don't run in master branch too. and it looks like master is now in version 4.2.0, which is lower than version 4.2.1 we used.

[2018-10-24 09:20] othalla opened #5140 "flake8 check fails due to update"
## Steps to reproduce

Simply run flake8 linter

tox -e flake8

## Expected behavior

flake8 linter must pass tests

## Actual behavior

flake8 linter fails

with error W504 line break after binary operator

[2018-10-24 10:24] yoncan opened #5142 "Celery uses redis sentinel as backend exception"
# When redis sentinel is used as backend, the following exception occurs
## Steps to reproduce
celery version:

[code]

The parameter configuration is as follows:

[code]

But the following error occurred:

[code]

The problem occurred because self.app.backend.as_uri() was called when printing BANNER information.

celery/apps/worker.py

[code]

## Fix bug
Use the following method to fix the bug:

[2018-10-24 14:46] adampl commented on #5010
@auvipy Does my case above satisfy your needs?

[2018-10-24 16:23] sihrc opened #5144 "Logger set to 'ascii' instead of 'utf-8': UnicodeDecodeError 'ascii'"
## Checklist
Report:
[code]
## Steps to reproduce
Celery is logging the success result of a task that includes characters outside ascii encoding.

## Expected behavior
I expect the celery logger to use 'utf-8' encoding rather than ascii. I haven't touched the celery logging, nor do I have a python logging setup separately at the moment. I am using Python3.

## Actual behavior
I receive the followi

[2018-10-24 19:04] sihrc commented on #4363
@georgepsarakis  I've attempted to move the logic into the ResultConsumer and thrown it up on a PR. Total disclaimer: I'm uncertain if I have the time to actively push this PR through in a timely manner, but I'll do my best.

[2018-10-24 19:12] sihrc commented on #5144
I've done some more debugging and found that `context` becomes a string here. Msgpack serializes my return value as bytes, but somewhere along the way to the logger, the bytes seem to be cast to a string It looks something like `"b'.. bytes...'"`

At the moment, I'm working around this by patching the `info` method in `celery/app/trace.py` with the following:
[code]

There must be a way to resolve

[2018-10-24 19:28] pabloariasmora commented on #3479
The redis-cluster support is a good feature to have 💯

[2018-10-25 02:39] RoraxHan commented on #5132
Hello, Thanks for replying.
I made test project for you.
Please check it and let me know.
https://bitbucket.org/amcquistan/celery-demo/src/master/

[2018-10-25 04:51] SuperMasterBlasterLaser commented on #3932
I also have this problem. My logs are constantly spammed by this exceptions

[2018-10-25 09:00] thedrow opened #5147 "Migrate from AppVeyor to Travis-CI"
Travis-CI has added preview support for Windows.
We should migrate from AppVeyor to Travis-Ci.
Having one CI platform mean we can manage everything more easily.

[2018-10-25 09:40] auvipy commented on #5147
that would be great!

[2018-10-25 11:17] bimusiek commented on #4022
We have run into same issue, so I don't think this should be closed yet.

1. Worker API: Celery 4.2.1
2. Worker Search: Celery 4.2.1

API triggers task on `search` queue with `link` and `link_error`:
[code]

After Search Worker processes the task, then `eventbus_success` is triggered correctly on `api` queue. However, `eventbus_failure` is executed on `search` worker, even that the queue is specif

[2018-10-25 13:05] teuneboon commented on #4465
I was experiencing a similar issue with the Redis Broker + RPC Backend. When I place `app.backend.result_consumer.stop()` before the `app.close()` the issue seems to go away though. So that might be a temporary workaround for those that use this specific combination, although I'm not sure if it's the best way to do this or if this has side-effects I haven't noticed yet.

[2018-10-25 16:46] sp1thas commented on #3773
Still having the same issue with celery 4.2.1. Hope one more report will be helpful.
[code]

[2018-10-25 16:52] bpereto commented on #3479
@auvipy why not using redis-sentinel?

[2018-10-25 17:09] auvipy commented on #3479
I didn't get your point, could you elaborate more?

[2018-10-25 17:12] xirdneh commented on #5107
Ah, I didn't see that `self.delete`. Might be good to either expose the `reload_task_result` backend method to the result API or add a `delete` flag when forgetting the result.
I think exposing `reload_task_result` is better for readability.

[2018-10-25 17:43] rgeens commented on #3916
In case anybody is interested in digging further, for https://github.com/celery/celery/issues/5047 I added a retry, which while I think a good thing in itself, doesn't fix the underlying rabbitmq connection loss. I suspect that connection loss is causing a bunch of different issues, including this one, it's the same sort of connection reset / command control error behavior.

I was able to reproduc

[2018-10-25 18:39] RoraxHan commented on #5132
@xirdneh  Hello! I uploaded the source that you asked. I hope you check it soon and let me know about it.

[2018-10-25 18:40] bpereto commented on #3479
sorry, mixed up sentinel and redis-cluster.

[2018-10-25 19:03] xirdneh commented on #5147
How much support are we officially offering for Windows?

[2018-10-25 20:51] jasiek opened #5149 "Support for PostgreSQL as a broker - gauge of interest"
PostgreSQL has a LISTEN/NOTIFY mechanism which appears to be capable of implementing a message queue-like functionality (likely not all by itself, as it may require some supporting infrastructure in the form of a table of messages).

Is there any interest in using PostgreSQL as both a broker and a result store (which I believe is currently fully supported)? It looks attractive to me as it would re

[2018-10-26 02:30] yoncan commented on #5117
@FloatingGhost  like this #5146   #5142

[2018-10-26 04:00] auvipy commented on #5147
basic

[2018-10-26 04:52] bbain commented on #4875
We are also having problems with this issue.

The description of this issue is 100% accurate for our problems as well. Additionally, I wanted to say that if you run the task synchronously with `task.apply(headers=headers)` or have `task_always_eager = True` configured then the `headers` are copied to `task.request.headers` as expected.

Looking through the code it seems that https://github.com/cel

[2018-10-26 05:12] auvipy commented on #5149
already we use django and sqlalchemy as broker and result backend for the development environment. but a relational database is not a good option for production level broker, you can certainly do it at your own risk and create a separate package for that to demonstrate your experiment. the main issue is scaling, you can use whatever you want in your production system, and before qualifying anythin

[2018-10-26 06:33] rzlmma commented on #4711
Hi，I have the same problem. Can you explain your solution in detail?

[2018-10-26 08:53] sp1thas opened #5150 "AsyncResult: TypeError in failed method"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [ ] I have verified that the issue exists against the `master` branch of Celery.

## Project Report
[code]
## Steps to reproduce
I created a list of `celery.result.AsyncResult` objects. During the iteration ove

[2018-10-26 09:11] RoraxHan commented on #5132
Did you get the code?
Please update me after you reviewing the code.

[2018-10-26 12:09] thomas-riccardi commented on #5120
bump

Has someone more experience/knowledge on the worker/main process communication/job dispatching mechanism to help me figure out a solution?
With some guidance I'll gladly write a PR to fix this issue.

[2018-10-26 15:58] georgepsarakis commented on #5150
Can you debug and investigate what class is used as `cls` in this case?

[2018-10-26 19:39] djlambert commented on #4775
This looks like it might be a duplicate of #4817.

[2018-10-27 00:31] rthille commented on #5048
I don't think this: https://github.com/celery/django-celery-beat/pull/166/files change fixes this error. We're running django-celery-beat==1.2.0 which has the Pull-166 change and we're still seeing these errors.

[2018-10-27 06:48] shaunakgodbole commented on #5106
Thanks for the help.  I'll get the PR up in a few days.  I plan to take the approach of marking the task as `FAILED` to keep the state consistent, but pass a `None` `request` to [`mark_as_failure`](https://github.com/celery/celery/blob/master/celery/backends/base.py#L150)

This will prevent both `on_chord_part_return`, and `on_err_callback` to be invoked.

[2018-10-27 17:31] drdataflow commented on #4113
using -P eventlet and setting the concurrency fixed this for me

[2018-10-28 03:42] jakepoz commented on #5120
We are also experiencing something similar to this. Jobs are dying as they get into a CPU intensive section, and if enough are scheduled at the same time, we start seeing duplicate work too.

[2018-10-28 06:10] georgepsarakis commented on #4363
@sihrc thank you! That is perfectly understandable, just let us know if you cannot dedicate more time at any point forward.

[2018-10-28 16:37] chrisconlan opened #5151 "Setting beat_schedule to empty dictionary causes cascading DB read errors"
## Version and Environment
This affects Celery version 4.2.1 (windowlicker) on Django 2.1.

## Steps to reproduce
Set `CELERY_BEAT_SCHEDULER = 'django_celery_beat.schedulers:DatabaseScheduler'` in your `settings.py`.

Set `app.conf.beat_schedule = {}` in your `celery.py` file. Run a `--beat` worker.

## Expected behavior
Should act as though no scheduler is set up, and therefore should not attempt

[2018-10-28 20:57] ajosecueto commented on #4081
@wonderfulsuccess

Thanks So Much

[2018-10-29 08:48] hellerbarde commented on #5104
@maximekl

For Github pull requests, you'll have to fork the repository, push the branch to copy of the repo and then there will be a button for creating a pull request. You won't be able to push on a repository that is not yours. (Unless given permission)

[2018-10-29 10:44] sp1thas commented on #5150
I got the same error using the `ready()` method:

[code]
I used some prints  to find out which class is used and the given patameters:
`cls`: `<class 'urllib3.exceptions.MaxRetryError'>`
`exc_msg`: `[u"HTTPConnectionPool(host='127.0.0.1', port=45859): Max retries exceeded with url: /session/22c0a25233507721dc8c1f08303a49f8/elements (Caused by NewConnectionError('<urllib3.connection.HTTPConnection

[2018-10-29 11:50] georgepsarakis commented on #5150
@sp1thas this exception class seems to have a specialized constructor signature which can not be handled correctly:

[code]

I would advise you to catch this specific exception in your task and reraise using a different exception class that accepts a single argument during instantiation (`message`).

[2018-10-29 21:52] oortega commented on #5048
@rthille can you please try this ? https://github.com/celery/django-celery-beat/issues/190#issuecomment-434069315

I have not updated my version of celery :/

[2018-10-29 22:51] rthille commented on #5048
@oortega Try what exactly?  Is there a patch/diff I'm missing?

[2018-10-30 01:51] nthall opened #5153 "Building the documentation throws a variety of warnings"
## Checklist

- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
On a fresh Ubuntu 18.04 system, clone the repo and follow the steps in CONTRIBUTING.rst to build the documentation files.

## Expected behavior
The docs should build without warnings as stipulated in CONTRIBUTING.rst

## Actual behavior
Warnings are thrown for a number of things,

[2018-10-30 06:41] AdriaanRol opened #5155 "Incorrect documentation on seting up `CELERY_CACHE_BACKEND`"
The [First steps with Django](http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html) tutorial of the celery documentation describes what variables to set in the settings.py file of a Django project.
In the section "`django-celery-results` - Using the Django ORM/Cache as a result backend" it indicates that the following settings have to be set:

[code]

This is obviously incor

[2018-10-30 10:22] dejlek opened #5156 "inspect active does not give reliable information"
I am using Celery 4.2.1 with Redis as backend.

    celery --version
    4.2.1 (windowlicker)

I can't verify whether the issue is happening with the dev (master) version of Celery as I can't run that in production.

This issue is not reproducible as it is happening randomly...

## Expected behavior

When I execute celery -A myapp inspect active -d <node running celery> I get a list of N running t

[2018-10-30 13:29] oortega commented on #5048
there is a patch in comment @picturedots

https://github.com/celery/django-celery-beat/issues/190#issuecomment-434069315

[2018-10-30 19:40] rthille commented on #5048
This:
[code]
is pseudocode, not a patch.

[2018-10-30 21:04] dmulter commented on #4895
I have a simple setup along with the default heartbeat setting. I can confirm that the update to Celery 4.2.1 caused this periodic failure. Dropping down to 4.1.1 fixed the problem.

[2018-10-30 21:12] noqcks commented on #4895
@dmulter We resolved this issue by removing the `result=` backend from the celery config.

However, this only works if you're not using a result backend.

Not sure if a fix has been included in upstream celery yet.

[2018-10-31 04:38] RoraxHan commented on #5132
@xirdneh Can you please reply for this issue?
I made the simple project and shared here. Please check and let me know for me.

[2018-10-31 16:37] picturedots commented on #5048
Yeah, I haven't fixed anything, just came up with a workaround method to prevent the error.

[2018-11-01 09:09] spumer commented on #4511
Update above snippet: add Celery retry support

[2018-11-01 14:20] xirdneh commented on #4142
@auvipy Can we also take a look at: https://tidelift.com/lifter/search?q=celery
Seems like we can gather some more money from there.
It's still not enough to have a Celery fellow for one year but we can use that money to create a better community.
The last DjangoCon sprints taught us about the thing we're missing on documentation for people who would like to contribute and we're about to finish th

[2018-11-01 16:29] auvipy commented on #4142
Creating a better community is a myth IMHO. these incentives are not sustainable for the long term. for a project like celery, we need paid workers to work major rewrites of celery. RIght now I managed roughly 20 hours paid work per month for celery and looking for more. I will start more intensive work for celery from November.

[2018-11-01 16:48] clokep commented on #4142
Not really related to this issue, but more to the point of building a community: are there curated short- / medium-term goals? A list of "easy" to tackle issues? Anything else that people who might *want* to contribute, but don't know where to start, could look at?

E.g. there's a ton of code in Celery that is marked as "deprecated", but it's still there, should someone start removing it? Are ther

[2018-11-01 16:59] xirdneh commented on #4142
I think it depends on the definition of a better community. What I mean it's just showing more support and feedback to the users, not so much trying to tell community members how to behave.
It's really more about the face of the project to the greater python community. Things like doing presentations about Celery on conferences, responding to github issues, mailing lists and IRC as well as updatin

[2018-11-01 17:05] xirdneh commented on #4142
We could also create tasks about the rewrites needed and start tackling those even if we're not getting paid for it. I know it might move slower that if there were some paid devs but it's a start.

[2018-11-01 17:53] othalla commented on #4142
Will be glad to help when i'll have some time ;)

[2018-11-02 06:33] #4030 closed

[2018-11-02 07:19] #4391 closed

[2018-11-02 07:58] franchuk82 opened #5157 "celery eventlet/gevent workers missed heartbeats"
**OS:** Debian GNU/Linux 9.5 (stretch)
**Redis:** v=5.0.0
**VENV:**
celery==4.2.1
celery-once==2.0.0
eventlet==0.24.1
gevent==1.3.7
redis==2.10.6

Redis running on local machine (custom instance with port 6384, just another one copy of origin instance).
We have about 120-130/1s task in all the queues together.
Workers after start work perfectly, but periodically after a while, it may be 30 minutes

[2018-11-02 08:46] sposs commented on #5138
I have the same issue, using 4.2.1 too.

[2018-11-02 08:51] thedrow commented on #5138
Pull requests are merged first into master.
Version bumps are done on the maintenance branch.
The fixes are there.

However this seems to be a genuine bug, regardless.

[2018-11-02 10:11] Seraphli commented on #4983
We actually rewrite the retrieving result part of celery to avoid this. Without using `get` or `ready` method, we are able to avoid the memory problem.

[2018-11-02 13:35] appunni-dishq opened #5158 "Celery in solo mode is not consuming tasks, eventlet or gevent mode hangs after some time."
## Checklist

software -> celery:4.2.0 (windowlicker) kombu:4.2.1 py:3.5.2
            billiard:3.5.0.3 py-amqp:2.3.2
platform -> system:Linux arch:64bit, ELF imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:amqp results:disabled

CELERY_ACCEPT_CONTENT = ['json']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'
CELERY_TIMEZONE = 'UTC'
CELERYD_HIJACK_ROOT_

[2018-11-02 15:55] antoine-gallix commented on #4957
Hello there. I've read this thread carefully, but I cant see any conclusion regarding the release cycle. As @mariokostelac remarked, maintenance and adding features requires work, but on the other hand, releasing a new version with changes are already merger on the master branch shouldn't require as much work, yet no version have been released for some months now. That was the original subject of

[2018-11-03 17:30] garvit4512 commented on #4654
@sortigoza I am getting exactly the same issue. Were you able to fix it?

[2018-11-03 17:46] Chikashi-Kato commented on #4654
I believe the issue caused by the lack of pycurl library.
This is the way I fixed this issue on Amazon Linux 1.

1. Install required yum packages
`yum install -y libcurl-devel python-devel`

1. Install pycurl
`PYTHON_INSTALL_LAYOUT='' pip install pycurl`

If environment variable `PYTHON_INSTALL_LAYOUT=amzn` is set, pycurl is installed into unexpected directory and celery/kombu cannot find it witho

[2018-11-03 18:18] dtheodor commented on #2755
The error for this with a modern version of gevent (1.3.7) surfaces with `ConcurrentObjectUseError: This socket is already used by another greenlet`, traceback looking like this

[code]

Adding this in case someone is searching for the issue using the ConcurrentObjectUseError name, took me a while to discover this issue.

[2018-11-04 17:05] slavab89 commented on #5126
Seems like a duplicate of https://github.com/celery/celery/issues/4661

[2018-11-04 23:34] xirdneh commented on #5132
@RoraxHan Sorry, will take a look next week.

[2018-11-04 23:36] xirdneh commented on #5106
@shaunakgodbole Make sure to mention/relate this issue with the PR, please.

[2018-11-04 23:39] xirdneh commented on #4957
@antoine-gallix Probably @auvipy can correct me if I'm wrong. But I believe we can't do a release supporting python 3.7 until we do some more testing with 3.7 as well as add it to the CI workflow.
Have you been able to test the latest master with your project and make sure it's working correctly?

[2018-11-05 02:29] shaoeChen commented on #3759
it work for me , but very strange, i have three tasks, two tasks work normally, only one receive tasks but not execute.
now add the parameter `--without-gossip --without-mingle --without-heartbeat -Ofair`  all work.

[2018-11-05 08:20] hequan2017 opened #5159 "Can excuse me the official document Support Chinese? Thank you very much"
Can excuse me the official document Support Chinese? Thank you very much

[2018-11-05 10:46] thedrow commented on #4957
Actually the tests fail when running with 3.7 and we need to fix https://github.com/celery/py-amqp/issues/206.
This is an open source project with very little donations. We work on it on our spare time.
Contributions are required to improve and support this project.
We can't really make deadlines. We're hoping to release in the coming months if the contributions to support Python 3.7 arrive.

[2018-11-05 14:11] ludoipv opened #5160 "TimeoutError"
Hi,
I have three Docker containers _A_, _B_, _C_ which use celery and rabbitmq as follows:
- _A_ calls a celery task within _B_ and this task calls another task within _C_ and gets an answer before doing stuff with it. The task on _B_ calls the other task on _C_ by name and looks like:

[code]

In the Dockerfile for _B_ I build from master for both celery and kombu. When I run all containers and s

[2018-11-05 14:20] maximekl commented on #5104
My bad, just made a copy..... what a joke :(

[2018-11-05 15:07] #5104 closed

[2018-11-05 15:57] antoine-gallix commented on #4957
@thedrow That's totally understandable. Thanks for the precisions.

[2018-11-05 17:43] yuvadm opened #5161 "DeprecationWarning: Using or importing the ABCs from 'collections' is deprecated"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
Run anything that uses `celery` under Python 3.7, verified against `celery==4.2.1`

## Expected behavior
N

[2018-11-05 21:37] OskarPersson opened #5162 "Class based task not registered in Windows"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

[code]

## Steps to reproduce
Create tasks.py:
[code]

Start the worker and run the task:

[code]

## Expected behavior

The wor

[2018-11-05 21:47] OskarPersson opened #5163 "Calling super in old-style class based tasks not working in Windows"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

[code]

## Steps to reproduce
Create tasks.py:
[code]

Start the worker and run the task:

[code]

## Expected behavior

The wor

[2018-11-06 01:40] kingb commented on #4895
We've downgraded to v4.1.1 and this seems to have fixed the problem. Shipping with v4.1.1. That was painful.

[2018-11-06 11:13] jasiek commented on #5149
My point exactly - this is to gauge interest. May we leave this ticket open for some time to see if there's any?

[2018-11-06 12:03] auvipy commented on #5149
celery is a 10 years old project. if using a database as a broker was a good idea, the request would be more frequent. if you have a dire need, please create your own package.

[2018-11-06 13:52] maccinza commented on #1881
Hello guys, what was the resolution for this?
I have the exact same need expressed by alejandrodnm and jdelic: I would like to get the successful results of a chord for which some dependencies might be failing.

[2018-11-06 14:36] alejandrodnm commented on #1881
This was a long time ago, I wrote this answer I don´t know if it helps

https://stackoverflow.com/questions/29355613/run-a-chord-callback-even-if-the-main-tasks-fail/31454228#31454228

[2018-11-06 15:22] maccinza commented on #1881
Thanks for the feedback alejandrodnm.
I've read that answer before but I was trying to avoid using a datastore for keeping the results of all the tasks and fetch it later.
I might be really wrong about this but it makes no sense to me that the scenario exposed in this issue is not achievable. The whole chord failing because of a single failing task, giving you no chance to collect information abou

[2018-11-06 16:02] alejandrodnm commented on #1881
@maccinza sorry that's all I remember I've haven't worked with celery or python in a long time. Cheers

[2018-11-06 16:32] maccinza commented on #1881
@alejandrodnm
Thanks for the help and feedback mate. Cheers!

[2018-11-06 16:56] jdelic commented on #1881
after I wrote this issue I had passed the job off to another developer and I don't remember how we proceeded with it :(

However, I totally agree that if the scenario that I first described isn't achievable without an additional datastore that's a bug. Especially since it definitely was possible pre-3.1.

@ask I apologize for pinging you on this closed issue, but I want to make you aware of it...

[2018-11-06 17:17] thedrow commented on #5149
I agree. We had that option, it wasn't viable and we don't have the spare time to support it.

[2018-11-06 18:04] msta commented on #4079
For some reason, this readiness probe is nowhere near satisfactory for us. The inspect responds non-deterministically with no load on our cluster. We run the format like this:

celery inspect ping -b "redis://archii-redis-master:6379" -d celery@archii-task-crawl-integration-7d96d86b9d-jwtq7

And with normal ping times (10 seconds), our cluster is completely killed by the CPU celery requires.

[2018-11-06 21:01] fergyfresh commented on #2740
Happening on a fresh install of celery beat v4.2.1

[2018-11-07 09:21] kolapapa commented on #4843
I have a same problem memory leak
**Memory**
![image](https://user-images.githubusercontent.com/17918689/48121683-8c412080-e2b0-11e8-9c31-7d6819c212c6.png)

**Version**
python `3.6.5`  celery `4.2.1`   backend `redis`   broker `rabbitmq`

**Config**
[code]
[code]

**Startup**
[code]

**I can provide more information if needed.**

[2018-11-08 08:09] davidbarton commented on #4957
Can we find somewhere a checklist of what is missing in order to get the next release finished? Would help us to navigate what stuff we can help with and what is the status.

[2018-11-08 08:45] Jamim commented on #4957
Hi @davidbarton,
I believe you could look at [milestones](https://github.com/celery/celery/milestones).

[2018-11-08 13:48] marcomayer commented on #4878
+1 having the same when restarting workers. One job per worker throws the expection about 25% of the time, next one would work again.

[2018-11-08 14:49] peterfarrell commented on #3912
Just wanted to confirm with celery 4.2.1 and django-celery-results (installed as master from github) we encountered this issue on one of boxes but not during local development.

Using the fix from @atkawa7 from above in our celery.py configuration file fixed the issue:

[code]

[2018-11-08 15:33] thedrow commented on #5161
Note that the `collections.abc` module does not exist on Python 2.7.

[2018-11-08 16:01] sposs opened #5164 "High load system fast tasks, some are lost"
This is more a question than a bug report, as I believe the answer is not necessarily in Celery's hands.
My context is the following: I'm running many tasks (100,000) which are very short (on average 0.002s). I see that some tasks are lost. I understand it's probably related to lost connections to RabbitMQ (I have the 'client unexpectedly closed TCP connection' message). I use python 3.5, django 1

[2018-11-08 21:06] michaeltcoelho opened #5165 "SQS - Option for ignoring queue prefix when consuming it"
I have a new application `A` producing messages to a queue named `ao-ic-event-submissions` and an already existent application `B` consuming it, this one (`B`) set `queue_name_prefix` in `broker_transport_options` to `production-queue-`. It happens that i define a task in that existing application (`B`) with name `ao-ic-event-submission-task` and a kwarg `queue` with `ao-ic-event-submissions` valu

[2018-11-09 11:09] OskarPersson opened #5166 "Run single link_error task when multiple tasks in group fails"
[code]

Running the group above results in the `on_error` task being called twice. How can I make it so that the task set on link_error is only called once when multiple tasks fails in a group?

[2018-11-09 16:31] joekohlsdorf commented on #4079
I use this for liveness with a 30s interval: `sh -c celery -A xxxAPPxxx status | grep "${HOSTNAME}:.*OK"`

Readiness probes aren't necessary, Celery is never used in a service. I just set `minReadySeconds: 10` which is good enough for delaying worker startup in rolling Deployments, but it obviously depends on the startup time of Celery for your project so examine logs and set accordingly.

[2018-11-10 05:36] ldav1s commented on #4817
Workaround with `broker_heartbeat = 0` seems to work for me for celery 4.2.0 and gevent 1.2.2 (python 2) / RabbitMQ 3.7.8.   At least it didn't hang up at to default 60s timeout for me.

[2018-11-10 05:41] georgepsarakis commented on #5166
I think you can solve this by adding a chord and attaching an error callback to that chord callback. For details see [here](http://docs.celeryproject.org/en/latest/userguide/canvas.html#error-handling).

[2018-11-11 11:07] OskarPersson commented on #5166
But then I also need a callback task, or is there a way to create a chord without it?

[2018-11-11 13:58] georgepsarakis commented on #5166
I guess you would have to create a noop task, just for this case. How does that sound?

[2018-11-11 18:46] OskarPersson commented on #5166
Sure, that works. Thanks 👍

[2018-11-11 18:46] #5166 closed

[2018-11-11 20:35] ccchang0111 commented on #5031
Hi @simonsterj , I encountered the same issue when trying to pass matplotlib plot object to the app. The problem only occurred in my Mac OS, but not on my ubuntu. Here is what solved the problem for me on Mac:

[code]
I guess this has to do with plotting inline or whatnot. Hope someone can explain the whole Tk stuff in this case. Thanks!

found the solution from [here](https://github.com/MTG/sms-t

[2018-11-11 23:57] sihrc commented on #4867
For what it's worth, I am seeing this as well with a clean project using gevent with rabbitmq. After starting the celery workers for a couple minutes, we'll receive a connection reset and no tasks will be consumed thereafter.

https://github.com/sihrc/celery-connection-reset

[2018-11-12 03:34] wsyzxcn commented on #3808
celery version 4.2.1 still has this problem, I think your are right. I checked the log when celery task publisher subscribe large amount of channels, redis log print exceed output buffer limit lines of this client.
maybe redis-py lib's re-subscribe is not wise enough for celery. or maybe when re-connection we should let the web application aware of the re-connection, and let developer handle this

[2018-11-12 12:48] ksodari opened #5169 "When trying to revoke terminate real quickly to the queued tasks including running one, worker takes CPU Usage to 100% and freezes"
## Checklist
- [x] The Issue exists with Latest version of celery (4.x) since I am using that as of now
- [x] There are other issues similar to this here but none of them describe what is causing it and how it is caused.

## Steps to reproduce
Try to cancel the task by task id as
`app.control.revoke(task_id=task_id, terminate=True, signal='SIGUSR1')`
This step needs to be done in a row with multip

[2018-11-12 13:53] #5161 closed

[2018-11-12 17:36] ingmferrer commented on #4355
I'm having this same issue and the downgrade to 4.1.1 seems to fix this.

[2018-11-12 17:52] itayB commented on #5130
hi @xirdneh, sorry for the late, I tried it at the day you respond but it didn't work for me.
BTW, there is not `integration.txt` - I run it with:
`pip install -r requirements/test-integration.txt`
any other ideas?

[2018-11-12 18:35] sloria commented on #4355
We are also running into this issue. Downgrading to 4.1.1 fixes it, but this is not a feasible workaround for us because 4.2.0 contains some critical bugfixes, including a fix for #4223 .

Is the 4.1.x release line still supported? Will bug fixes be backported?

[2018-11-13 07:13] AvnerCohen commented on #4185
@ryanpetrello wondering, did you deploy this patch and tested?

[2018-11-13 10:14] thedrow commented on #4355
We don't have the resources to maintain two versions currently.
We'd rather invest our effort in investigating bugs like these.

[2018-11-13 10:15] tribals opened #5172 "Please, stop messing with logging, use standard Python approach instead"
I can not see any reason why celery going to mess with log hijacking. There is no one benefit for me, more, it is opposite - I have only disadvantages with this approach. Why can not we just take standard Python logging abilities?

Here is the list of issues I encounter with current approach to logging:

* It is not configurable; celery forces me to use logging in only one possible way. If I want

[2018-11-13 13:15] ryanpetrello commented on #4185
@AvnerCohen because of this and a few other issues, we ended up just solving our problem without using celery (we were able to accomplish what we needed with plain old kombu).  It sounds like others have had luck with this patch, though!

[2018-11-13 15:03] thedrow commented on #4355
At this point, any new information would be good.
Finding the offending commit would be awesome.

[2018-11-13 15:30] sloria commented on #4355
OK, I won't have time to do a code dive in the near future, unfortunately.

All I can say at the moment is that the issue occurs in our codebase when calling

[code]

When `queue` is large, a large payload (~500 Mb) payload is sent to RabbitMQ. The worker hangs, and eventually disconnects with the `client unexpectedly closed TCP connection` as detailed above.

[2018-11-13 15:36] thedrow commented on #4355
Oh, I think others have encountered that but I can't find the relevant issue.
How many tasks are we talking about?

[2018-11-13 15:53] sloria commented on #4355
@thedrow Last time I reproduced the issue, the group contained 18 total subtasks. One of the subtasks was a `chain` of 14 tasks.

[2018-11-13 23:56] jonahfang commented on #2718
I sovled this problem by changing python to v2.7.12 and kombu v3.0.30.

[2018-11-14 01:59] dakechen commented on #3140
loacl_file = excel_write.apply_async(args=(data_list, file_name),
                                         countdown=0)
 while not loacl_file.ready():    #判断任务是否完成
        time.sleep(0.01)
loacl_file.get()   # 取值
你得等这个异步任务做完了，才能get到值

[2018-11-14 03:19] billmccord commented on #2930
@bivald @hheimbuerger Are you still having this issue today? I'm seeing it frequently when using latest RabbitMQ, Erlang, on CloudAMQP with latest Celery, billiard, etc. We've followed all the recommendations from CloudAMQP and can't seem to identify the issue, but it happens nearly every evening like clockwork just after midnight.

[2018-11-14 06:04] georgepsarakis commented on #5172
Thank you for the feedback. Please see the [Logging](http://docs.celeryproject.org/en/latest/userguide/tasks.html#logging) documentation section for details on how to log from within your tasks. We are open to any proposals for on possible improvements.

[2018-11-14 06:44] auvipy commented on #2727
I want to know it's status with 4.2.1 or master

[2018-11-14 12:20] ccate commented on #5139
Experiencing same behavior in a dockerized environment.

[2018-11-14 12:22] timthelion opened #5173 "Celery hangs forever if forget to put `from .celery import app as celery_app` in `__init__.py`"
## Steps to reproduce
Remove the celery_app import line from `project/__init__.py` and run

     $ manage.py shell_plus

## Expected behavior

The ping() command will raise an error immediately saying celery is improperly configured.

## Actual behavior

The ping() command never returns.

[2018-11-14 17:35] scnerd commented on #3558
Wouldn't a pretty simple work-around for the time being be:

[code]
? In particular, I have some methods in my Django models that I'd like to be able to fire-and-forget using Celery, and this seems like a way where the methods could both be defined within the model, and be usable as a Celery task.

[2018-11-14 18:44] jshridha commented on #4355
This issue occurs if my celery beat does not have any tasks that are scheduled to occur less than 1 minute apart. I currently have tasks scheduled to run every 5 minutes and after 60 seconds, the heartbeat is lost and the connection is dropped causing an infinite loop. I was able to track down the offending commit to https://github.com/celery/celery/commit/3af6a635cf90a4452db4e87c2326579ebad750c2.

[2018-11-15 09:14] DZPM commented on #3912
Hi, just got bit by this bug:
- happened in production, didn't notice in local
- used the fix from @atkawa7, successfully (Thanks!)

If the bug is still happening, I guess it shouldn't be closed yet?

[2018-11-15 09:31] jainraj commented on #4002
I have

1. Kombu at 94227bbc43b182477d37be30b881b065489ce833 commit id (commit id of the above merge)
2. Celery at celery==4.2.1

This issue is 99% solved. When I run with tasks having ETA.

**Exact Scenario:**
Made 100 tasks with eta > 1 hr
Started celery. It fetched all the 100 tasks - When I check SQS here, it shows 100 tasks in flight.
Warm shutdown celery
It prints "Restoring 100 unacknowledg

[2018-11-15 10:36] ar-anvd opened #5174 "Duplicated tasks with redis"
## Steps to reproduce
celery 3.1.25 with redis

celery worker -A celery_worker.celery --loglevel=info --logfile=/tmp/celery.log --beat

[code]

## Expected behavior
Unique execution by task

## Actual behavior
Duplicated tasks

Example:
[code]

[2018-11-15 12:16] jainraj commented on #5165
@michaeltcoelho I think this is not an issue, rather a helpful feature to stop sending tasks to same-named queues of different projects. You can disable the prefix setting using the broker_transport_options by setting the prefix to empty string.

I personally would suggest you to make the application `A` to consume with the prefix, so that even you can be perfectly sure that the production queues

[2018-11-15 12:16] jainraj commented on #4002
On further analysis, this seems to be happening when we have high number of tasks. When I try this with 5 tasks, all is well.

@auvipy can we add some status check of the ChangeMessageVisibility API call. That should be failing for the missed message. If it is not so, then this might be an SQS issue :(

[2018-11-15 12:19] jainraj commented on #5072
In `debug` logs can you check if the `ReceiveMessage` API calls are being made or not?

[2018-11-15 12:20] jainraj commented on #4797
Superb feature request. @mariokostelac as you mentioned in the PR, I would like to volunteer to collaborate with you on this.

[2018-11-15 12:29] noufalvlpr opened #5175 "AttributeError: 'float' object has no attribute 'items'"
on running celery -A proj worker throws this error

[2018-11-15 12:02:53,607: CRITICAL/MainProcess] Unrecoverable error: AttributeError("'float' object has no attribute 'items'",)
Traceback (most recent call last):
  File "/user/lib/python3.6/site-packages/celery/worker/worker.py", line 205, in start
    self.blueprint.start(self)
  File "/user/lib/python3.6/site-packages/celery/bootsteps.py", lin

[2018-11-15 13:14] simonschmidt opened #5178 "Support v3 of redis package"
The python redis package has released version 3, which contains a few [backwards incompatible changes](https://github.com/andymccurdy/redis-py/blob/master/CHANGES)

I created two PRs (#5176 #5177) to restrict the version of the dependency, but I guess the long-term fix would be to adapt to the changes, hence this issue

[2018-11-15 15:01] sethsec commented on #5175
I'm getting a very similar error this morning:

[code]
Python 2.7, Redis server v=5.0.1

[2018-11-15 15:11] sethsec commented on #5175
Not a celery issue - Seems to be an issue with Redis 3.0.0.post1 pushed to pip.

Solution: Roll back redis with pip: ```pip install redis==2.10.6```

everything working again for me.

[2018-11-15 15:46] matteomartinelli commented on #3932
Same here with latest celery, any fix available?

[2018-11-15 16:32] odedfos commented on #1628
Acknowledging the task on WorkerLost is very misleading, when acks_late=True.
Processes get killed for numerous reasons, and even when OOM, the conditions on the machine could be that the memory issue isn't related directly to the killed process.

At the least, I think this behaviour should be configurable, and allow for the task not to be acknowledged.
I find myself implementing a watchdog search

[2018-11-15 17:59] ivan-usenka opened #5179 "task.update_state(state='FAILURE') does not fails the task"
In the actual task I'm running spark job using spark-submit tool. The only way I have to check the failed job execution cause is by surrounding with try except and checking the subprocess output in terms of CalledProcessError and set the task state to 'FAILURE'. Seems to be that this doesn't work.
Here is my code - in this case except block is working (I do print() there) but task still finishes w

[2018-11-15 21:48] ThiefMaster commented on #2642
nope

[2018-11-16 00:03] dannyshaw commented on #5175
Dependency pinning is a celery issue. Looks to be fixed here though
https://github.com/celery/celery/pull/5176

[2018-11-16 04:56] Surgo commented on #3932
I try following to suppress logs. It's works fine for me.

- SQS with botocore
- Retry when connection errror

[code]

[2018-11-16 05:34] auvipy opened #5180 "Release version 4.3 of Celery"
@thedrow @georgepsarakis It would be great if we can release the beta version of 4.3 by December 1st. before that, we need to release py-amqp. kombu and other dependencies first though. it's a soft reminder

### If you'd like to contribute, here is a [list of blockers](https://github.com/celery/celery/issues/5180#issuecomment-472043723).
### If you are using Celery to create a commercial product,

[2018-11-16 09:31] yvonneFtMore opened #5181 "Why celery cannot reload my latest codes, it used codes celery was first started."
I have used init-script to make celery daemonized. When I git pull my latest code for my project, I restart celery to reload my latest codes. It seems that sometimes is ok while sometimes is not ok. It puzzled me for days.

My celery version is 4.2.1.

[2018-11-16 09:39] MattBlack85 commented on #5181
Did you check the main process is killed and then restarted? Maybe some orphaned workers? How do you restart celery? Do you have long running tasks that can go beyond the soft kill time limit?

[2018-11-16 09:46] yvonneFtMore commented on #5181
I just use init-script: `/etc/init.d/celeryd restart` to restart celery.

Yeah, there are two soft-time-limit tasks, but I am testing other tasks witch is not soft-time-limit.

Do you know the best way to restart celery?

This problem made me changed the daemonize tool from supervisor into init-script. Finally,  I found it didn't fix my problem.

[2018-11-16 09:49] MattBlack85 commented on #5181
Personally I use supervisord but all my task finish between 20-1000ms.
I had this problem before and the way we were workinh around this was using `kill` command and then restart when normal restart wasn't working

[2018-11-16 09:55] yvonneFtMore commented on #5181
That's crazy! At first, I thought it was cause by supervisor, so I changed it. Maybe I need to check the main process is closed. I used celery for a long time, but this problem never occurred! That's weird...

[2018-11-16 13:12] vikonnikov opened #5182 "In-memory broker"
Current version **Kombu** doesn't support transport **in-memory** and **Celery** has no broker with same name, but this transport mentioned in the many places of the latest documentation.

**Celery** and **Kombu** docs contain poor lists of available brokers and transports:

- http://docs.celeryproject.org/en/latest/getting-started/brokers/index.html
- http://docs.celeryproject.org/projects/kombu/

[2018-11-16 14:54] guyisra commented on #5180
@auvipy @thedrow @georgepsarakis  can we quick release 4.2.2 just for the redis limitation ? as it currently clashes with the latest redis which has incompatible changes

[2018-11-16 15:16] guyisra commented on #5175
Can we quick release 4.2.2 to solve this please?

[2018-11-16 15:31] clokep commented on #5175
You can pin the dependency outside of Celery until this is fixed.

[2018-11-17 12:41] ewenger commented on #4957
@auvipy My company has a customer that is requiring Kafka support.  We'd be interested in funding a celery dev to help get it there.  Happy to talk more next week if you'd like.

[2018-11-17 12:57] RoraxHan commented on #5132
@xirdneh Hi! Didn't you check this yet?
If you are busy, when can I expect the the time for this issue?

[2018-11-17 14:19] auvipy commented on #4957
ping me at auvipy@gmail.com

[2018-11-17 16:16] kleysonr commented on #4980
Facing the same error, using prefork.

python3
celery==4.2.1
amqp==2.3.2

With RabbitMQ running inside a docker container.

[2018-11-17 16:34] #4654 closed

[2018-11-17 17:10] auvipy commented on #4308
@donkopotamus got time to send the PR?

[2018-11-18 06:20] auvipy commented on #2991
@vsag96 could you please install all the package from github master and check?

[2018-11-18 14:37] ronmorannielsen commented on #5075
Is there any solution for this? Did any of you encountered the issue?

[2018-11-18 15:12] auvipy commented on #5133
what is the proposed fix?

[2018-11-18 15:13] #5109 closed

[2018-11-18 15:40] auvipy commented on #4002
I would request you to come with a probable solution :) otherwise, have to wait for next major release

[2018-11-18 15:41] #2689 closed

[2018-11-18 16:15] auvipy commented on #4895
can anyone bisect the regression?

[2018-11-18 16:18] auvipy commented on #4878
can anyone bisect the commit?

[2018-11-18 16:45] auvipy commented on #3377
@bremac could you please send a PR to fix?

[2018-11-18 17:11] jheld commented on #5136
Flower and other clients may be calling that (by default calling it periodically). I'm unsure if rabbitmq itself does so.

[2018-11-18 17:12] jheld commented on #5080
This may be down in the safe_repr or similar method. I'm interested, too!

[2018-11-19 10:49] seocam commented on #3898
I'm suffering with exactly this problem. In my case `hiredis` was installed as dependency of django channels and then the problem started. As temp alternative I'm gonna try removing `worker_max_tasks_per_child` and use `worker_max_memory_per_child` in the meanwhile.

[2018-11-19 10:54] thedrow commented on #3586
@auvipy Why have we closed this issue? Is it resolved?

[2018-11-19 11:03] thedrow commented on #5180
I'm not sure if I'll have the time. I'll try to do so.

[2018-11-19 11:41] auvipy commented on #5180
I can release this time but need some clear instructions

[2018-11-19 11:45] auvipy commented on #3586
I think it was mistakenly closed

[2018-11-19 14:07] seocam commented on #3898
Just to let everybody know: the problem also happens when using `worker_max_memory_per_child` even without `worker_max_tasks_per_child` set.

[2018-11-19 15:58] MeTaNoV commented on #5178
just found out this incompatibility too...

[2018-11-19 16:05] MeTaNoV commented on #5180
It would indeed be gr8 to get a 4.2.2 including the redis dependency fix, because I spent too much time already to find the source of the issue, and would be good for any person jumping into it!

[2018-11-19 19:06] ShaheedHaque commented on #4355
We may be running into the same/similar issues and are running 4.2.1, though downgrade to 4.1.1 seemed to make the issue less frequent, but not completely disappear. However, we have a relatively simple set of usage cases:

1. We use Celery as a timer (i.e. the task is scheduled with a countdown and does a "resume" on the rest of our system, aka Django Viewflow using very little in the way of task

[2018-11-20 02:14] Dog-Boss commented on #3631
4.2.1 +1
I also have the same issue

[2018-11-20 04:32] alexandre-paroissien commented on #5180
I'm looking forward for python redis 3.0 support too, since people who naturally updated their libraries through pip/pipenv (pypi) have to rollback python redis to 2.10.6 to make things work, and same thing with Python 3.7, people who use celery from pip/pipenv (pypi) and use the latest Python (as in arch/manjaro linux) currently have to install a previous Python version (3.6) to make things work

[2018-11-20 04:45] jheld commented on #4207
My new leading hypothesis is that this is related to my project's use of `result_expires`. We used to have this set at 60 seconds, and now we have it at 10 seconds.

Tonight I decided to revisit this. There are a few workflows that would benefit us from having this work _all_ of the time, but we've been hesitant to utilize the chord because we were having issue with it running the body all the tim

[2018-11-20 04:45] jheld commented on #4207
@auvipy please see above.

[2018-11-20 09:03] billmccord commented on #2930
@hheimbuerger Fair and thanks for the advice. I'm testing with a new configuration and will create a new ticket if I still have issues. Seems [CloudAMQP now recommends](https://www.cloudamqp.com/docs/celery.html) setting `broker_heartbeat` to None.

[2018-11-20 10:13] abdarbl0013 opened #5183 "Producer hangs while trying to send task to remote broker"
## Checklist

[code]

**Steps to reproduce:**
[code]
When funciton 'send_create_task' is called, it hangs indefinitely.
Broker URL is for remote rabbitmq broker. If I run it on my local machine, it works perfectly fine

**Expected behavior:**
It should throw error
`gaierror: [Errno 8] nodename nor servname provided, or not known`

**Actual behavior:**
Hangs indefinitely

[2018-11-20 12:30] michaeltcoelho commented on #5165
Hi @jainraj , i agree with you that prefixing queues is a nice feature, but when integrating two different applications as i commented earlier it's not that good because it is not an option to ignore prefixing individually on queue definition or on the task definition itself.

As you proposed to keep the same queue name in both application i think it's a context issue to me, it will keep both appl

[2018-11-20 13:03] michaeljaszczuk commented on #5072
There is no API calls. Logs just stops without any errors. CPU usage is 0% and there is a lot of free memory. EC2 t2.small instance.

[2018-11-20 15:05] jheld commented on #4207
Would it be possible to have a per-task (possibly even on `chord`, too) result expires setting? My team would be very interested in that usage.

We don't care about most of the results of our task runs (in practice), but we don't necessarily wish to always use `ignore_result`, especially if we need the task result around at least briefly but we forget about the global setting.

[2018-11-20 15:41] michaeljaszczuk commented on #5072
My reqirements (python 2.7):
Django==1.11.3
boto3==1.7.76
celery==4.1.1 (also tried 4.2)

In my celery task i also call subprocess but i tried remove that and worker hangs anyway.

subprocess.call(['avconv', '-y', '-i', u'/media/mp4s/863679040636570/2018_11_20_16_07_50_961.mp4', '-acodec', 'pcm_s16le', '-vn', '-f', 'wav', '-'])

When i changed EC2 instance to c5.xlarge worker stay alive longer. Ma

[2018-11-20 21:36] maomorales commented on #4495
Our team recently faced a similar problem and it was because the new redis version (3.0) is not backwards compatible; just in case this helps someone facing a similar issue. Make sure you use redis==2.10.6

[2018-11-20 21:36] brian2be opened #5184 "[Documentation] Too many brackets in Chords' Error Handling example"
http://docs.celeryproject.org/en/latest/userguide/canvas.html#chords

[code]

just one before delay

[2018-11-21 06:44] isknight commented on #5178
just found out about this incompatibility too after hours of debugging....

For now the hotfix is not doing pip install celery[redis], but version locking redis to the previous compatible version (2.10.6 for us) until a fix is made.

[2018-11-21 07:54] abdarbl0013 commented on #5183
As it turns out, Producer was hanging because it was unable to connect to Broker and kept trying to connect on a loop. I looked around for a solution for that. Got the answer from here:

[https://github.com/celery/celery/issues/4627#issuecomment-396907957](url)

I updated the 'BROKER TRANSPORT OPTIONS' and defined only 3 retires to connect with broker:

[code]

[2018-11-21 07:54] #5183 closed

[2018-11-21 09:01] openalmeida commented on #4016
any progress about that ? branch 5.0-devel seems stopped since year 2016.

p.s feel sorry about i am not able to help.

[2018-11-21 09:06] yuda110 commented on #4867
Still have the same issue so far.(celery 4.2) It resolved by downgrading the celery version to 4.1, but do not know why this error occurred.

[2018-11-21 09:15] jainraj opened #5186 "retry_backoff with SQS creating lots of duplicate tasks"
## Checklist
- [x] Output of ``celery -A proj report`` is mentioned in section 2
- [x] I have verified that the issue exists against the `master` branch of Celery.
## Steps to reproduce
Firstly, I have ran the code on the master branches of both kombu (commitId: [5fca408](https://github.com/celery/kombu/commit/5fca408a911f3a9e625447a0b4543ab9cc60a1a4)) and celery (commitId: ac65826cdf984e4728329f0

[2018-11-21 09:20] TheBlusky commented on #5178
So until estimated 2019/03, redis python package cannot be updated to last version ? (this is purely an information request, and not a rhetoric criticism)

[2018-11-21 09:32] thedrow commented on #4016
We simply don't have the time to write the code for it as of yet.
Expect news on that front though.

[2018-11-21 09:52] thedrow commented on #5182
The in memory backend is used only for testing.
I'm not sure what do you mean by not supported.
We're using it on our integration suite.

[2018-11-21 10:04] SharUpOff commented on #4789
I've gotten the similar behaviour. When any task exceeds the hard time limit, the worker is being killed (SIGKILL). And no more tasks are processed after that. Also flower shows that worker is offline. Have no idea for now how to fix that. I temporarily use `task_soft_time_limit` that works fine because it does not kill worker.

# Log
[code]
# Code
[code]
# Config
[code]
# Versions
[code]

[2018-11-21 10:12] auvipy commented on #4016
We are focusing on 4.3 release right now, but have long-standing plan to start work on v5. hopefully after 4.3 release,  this winter.

[2018-11-21 10:53] jainraj commented on #4002
@auvipy Tried to see if the status message from the ChangeMessageVisibility call can give anything. It gives 200 even for the failed message. Seems like some issue in SQS. I am out of my depth here :(

As you suggested, waiting for next major release :)

[2018-11-21 11:01] jainraj commented on #5072
@michaeljaszczuk Do you have the same `BROKER_TRANSPORT_OPTIONS` mentioned by @anderoonies ?

[2018-11-21 11:07] michaeljaszczuk commented on #5072
No, i have only this:
CELERY_BROKER_TRANSPORT_OPTIONS = {'region': os.environ.get('AWS_REGION', 'eu-central-1')}
CELERY_RESULT_PERSISTENT = False
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'
CELERY_ACCEPT_CONTENT = ['json']
CELERY_ACKS_LATE = True

[2018-11-21 11:08] jainraj commented on #5072
@michaeljaszczuk actually can you also provide
`celery report -A proj` output?

[2018-11-21 11:13] jainraj commented on #5072
@auvipy on a separate concern, is it advisable to use subprocess calls inside celery tasks?

[2018-11-21 11:19] auvipy commented on #5178
it's now supported in kombu master

[2018-11-21 11:19] #5178 closed

[2018-11-21 11:20] michaeljaszczuk commented on #5072
software -> celery:4.1.1 (latentcall) kombu:4.2.1 py:2.7.12
            billiard:3.5.0.4 sqs:N/A
platform -> system:Linux arch:64bit, ELF imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:sqs results:disabled

DEBUG: False

CELERY_RESULT_PERSISTENT: False
CELERY_RESULT_SERIALIZER: 'json'
CELERY_BROKER_TRANSPORT_OPTIONS: {
    'region': 'eu-central-1'}
CELERY_TASK_SERIALIZE

[2018-11-21 11:32] michaeljaszczuk commented on #5072
Can I help in some way? Maybe you have idea which settings should work? My only restrictions are: SQS, concurrency>1 and no results ;d

[2018-11-21 11:38] seocam commented on #3898
@popravich I'm deploying that in our testing servers today. In a few hours I can let you know if that worked for us.

[2018-11-21 12:02] jainraj commented on #5072
wait a minute. I think the setting is "BROKER_TRANSPORT_OPTIONS" not "CELERY_BROKER_TRANSPORT_OPTIONS"

Please try with this and report back

[2018-11-21 12:03] jainraj commented on #5072
and also update celery to 4.2.1 @michaeljaszczuk

[2018-11-21 12:07] michaeljaszczuk commented on #5072
I am sure there is CELERY_BROKER_TRANSPORT_OPTIONS because of:
pp.config_from_object('django.conf:settings', namespace='CELERY')

Anyway i will update celery (tried it already but just to be sure) and let you know

[2018-11-21 12:31] michaeljaszczuk commented on #5072
@jainraj > and also update celery to 4.2.1

Done. Did not help.

[2018-11-21 12:50] jainraj commented on #5072
@michaeljaszczuk send the whole celery config file here. in your case, the django settings file. Please remove the secret key and any company info and send

[2018-11-21 12:55] michaeljaszczuk commented on #5072
import os
from django.conf.locale.pl import formats as pl_formats

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.10/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in prod

[2018-11-21 13:16] jainraj commented on #5072
Unable to figure out. We will need to wait for the big guns to see.

[2018-11-21 13:41] jainraj commented on #5186
Update:

When I change the function to the following, celery runs fine.
[code]

So, after some digging, I found that when we call `self.retry()`, it is making 2 tasks. One is due to execution of the `retry` member function, other is since `retry` member function by default throws error (`throw=True`), it is caught and this task goes through the exponential backoff system. Thus, the increasing numb

[2018-11-21 14:05] WisdomPill commented on #5180
Will this new release support python 3.7?

[2018-11-21 14:35] auvipy commented on #5180
yes

[2018-11-21 15:31] seocam commented on #3898
@popravich PR on Kombu (https://github.com/celery/kombu/pull/954) fixes the issue in my case.

[2018-11-21 17:00] greuff commented on #5175
Pipenv users: add `redis = "~=2.10.6"` _before_ the `celery` entry in the `Pipfile`.

[2018-11-21 20:08] #5026 closed

[2018-11-21 22:33] michaeltcoelho commented on #5165
Right @jainraj , thank you!

[2018-11-21 23:50] pawelad opened #5188 "Sending unregistered task to SQS causes an infinite retry loop"
## Checklist
- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [ ] I have verified that the issue exists against the `master` branch of Celery.

[code]

## Steps to reproduce
Send a unregistered task to Celery configured with SQS broker.

## Expected behavior
The task shoul

[2018-11-22 00:17] kingb commented on #4185
So far we're not aware of any more problems since we deployed in production. I think it fixed it.

[2018-11-22 05:47] avborhanian commented on #4154
It's specifically because it's a shared_task in this case, which returns a Proxy object. If the task was created with the @task decorator instead, or if shared_task returned an actual task instead of a Proxy, this wouldn't be problematic.

The Proxy for the shared_task just looks up the task by finding the task in the dictionary of tasks the app has with the same name. So assigning the Proxy to th

[2018-11-22 06:04] auvipy commented on #5169
could you share some more detail? broker, result backend, celery version? also is it possible you try all the package from github master?

[2018-11-22 06:08] #5047 closed

[2018-11-22 06:12] auvipy commented on #5117
closing as duplicate

[2018-11-22 06:12] #5117 closed

[2018-11-22 06:18] auvipy commented on #5151
hopefully fixed in master. please wait for 4.3rc release

[2018-11-22 06:18] #5151 closed

[2018-11-22 06:19] #5150 closed

[2018-11-22 06:20] ksodari commented on #5169
@auvipy Did you go through the detail description I wrote above?
**Celery Version:** 4.2.1 (Latest)
**Broker:** Redis
#redis-server
REDIS_URL = 'redis://127.0.0.1:6379'

**Cekery Config I used:**
BROKER_URL = config('REDIS_URL') + '/1'
CELERY_RESULT_BACKEND = config('REDIS_URL')
CELERY_ACCEPT_CONTENT = ['application/json']
CELERY_TASK_SERIALIZER = 'json'
CELERY_RESULT_SERIALIZER = 'json'
CELERY_EN

[2018-11-22 06:29] asheeshcric commented on #5169
The same problem persists when I try to revoke multiple tasks in the queue simultaneously. The one thing that I've noticed so far is that terminating tasks that are not running and are still in the queue, cause such problem.
@ksodari @amitness Did you guys experience the same problem, or it is only me going through it?

[2018-11-22 06:31] amitness commented on #5169
![image](https://user-images.githubusercontent.com/8587189/48885435-6c812f00-ee50-11e8-8be1-9669d34fc674.png)

[2018-11-22 06:36] #5184 closed

[2018-11-22 06:38] ksodari commented on #5169
@asheeshcric exactly the same thing is going on here with me. I hope somebody have nice explanation about this. Why is this problem happening and how can it be resolved.

When I was searching for the solution and gave some hit and trial with solutions.
Temporary solution was to reboot the worker or kill the worker which was freezing and taking 100% CPU usage. meaning Suppose there are 3 worker as

[2018-11-22 06:39] auvipy commented on #5031
I believe this is not a celery issue. correct me if I am wrong.

[2018-11-22 06:39] #5031 closed

[2018-11-22 06:43] auvipy commented on #5159
Would be highly appreciated! but we need lots of Chinese volunteers and start an unofficial Chinese version first and after refinement, we could point that as an official doc!

[2018-11-22 06:54] auvipy commented on #2755
@dtheodor could you send a pr for fixing this?

[2018-11-22 06:55] #5126 closed

[2018-11-22 07:18] art-vasilyev opened #5189 "Feature Request: Option to rename workers remote control command exchange"
Sometimes several apps with celery are running on the same server. As for now, when using RabbitMQ as the broker, recommended way to isolate different celery apps is to create separate RabbitMQ vhost for each application.

It would be good to add a configuration option to rename default exchanges (celery.pidbox, celeryev, reply.celery.pidbox) to have ability to run several celery apps on the same

[2018-11-22 07:46] auvipy commented on #5189
what is your proposed solution?

[2018-11-22 07:50] auvipy commented on #5106
did you get the time for the PR?

[2018-11-22 07:55] #5174 closed

[2018-11-22 07:58] #5181 closed

[2018-11-22 08:07] art-vasilyev commented on #5189
Add option like `event_default_exchange` ("celeryev" by default) and `mailbox_default_exchange` ("celery" by default). Mailbox initialization (https://github.com/celery/celery/blob/master/celery/app/control.py#L163) would look like:
[code]
As event exchange initializes on module import, it may require lazy initialization to get exchange name from the app config.

If this idea doesn't contradict th

[2018-11-22 08:07] auvipy commented on #5136
post your support questions to mailing list

[2018-11-22 08:07] #5136 closed

[2018-11-22 08:21] auvipy commented on #3631
anyone got a solution for this issue?

[2018-11-22 08:40] sposs commented on #3916
Why closed? Have you found the problem?

[2018-11-22 08:42] #3898 closed

[2018-11-22 08:45] auvipy commented on #3916
please check the issue https://github.com/celery/celery/pull/5066 report if it doesn't fix

[2018-11-22 08:46] auvipy commented on #5175
it's fixed in kombu and celery master

[2018-11-22 08:46] #5175 closed

[2018-11-22 09:57] #5159 closed

[2018-11-22 10:58] godlark commented on #4878
I can confirm that the issue exist. I faced this after upgrading celery from 4.1.0 to 4.2.0. I use `celer[redis]` on Heroku. I run only one worker with `celery worker --app=my_app`. I think it's the simplest configuration possible. Configuration for celery in django settings.py:
[code]

[2018-11-22 11:37] crabhi commented on #4039
Hi, I think I'm facing the same issue. I can open a new one if you think it's different.

I've found the issue when testing RedisLabs Cloud instance as a broker and backend. Intentionally, I connected via public Internet with ping around 15 ms to the AWS datacenter and some packet loss.

Under these conditions, I observe that sometimes the `result.get(timeout=X)` call times out even if **I'm able

[2018-11-22 11:43] crabhi commented on #5004
I've submitted some info into https://github.com/celery/celery/issues/4039#issuecomment-441003405

The packet loss in simulation is extreme to be able to reproduce it quickly but it happens also with lower amount of lost packets.

[2018-11-22 12:46] godlark commented on #4878
I can confirm that the issue exist. I faced this after upgrading celery from 4.1.0 to 4.2.0. I use `celer[redis]` on Heroku. I run only one worker with `celery worker --app=my_app`. I think it's the simplest configuration possible. Configuration for celery in django settings.py:
[code]

The encontered error

The error is:
[code]

[2018-11-22 14:54] joekohlsdorf commented on #3916
It doesn't fix it, it is a band-aid fix.

[2018-11-22 15:48] AvnerCohen commented on #4185
@auvipy When should we expect a formal release including this patch?

[2018-11-22 15:58] auvipy commented on #4039
please try celery and kombu from master branch and report again here

[2018-11-22 16:04] crabhi commented on #4039
Thank you for your reply. I'll do it (I plan it for Tuesday).

[2018-11-22 16:15] auvipy commented on #4185
my target is before Christmas

[2018-11-22 16:17] auvipy commented on #4039
install all the celery dependencies along with celery from master. if the issue still persists will reopen it.

[2018-11-22 17:14] auvipy commented on #4789
another this is install all the dependencies of celery from github master branch along with celery itself and check

[2018-11-22 17:21] ianhoffman opened #5191 "Periodic tasks running 1 day early"
Hey all,

I'm finding that my "day_of_week" Celery tasks are running a day early. Running django 1.11.10 with SQS as my broker, no results backend. I've reproduced against master and also posted the results of `celery -A proj report` (abridged because of proprietary info) below. Any help would be much appreciated. Thanks!

## Checklist

[code]

Confirmed against master: yup.

## Steps to reproduce

[2018-11-22 17:32] rgeens commented on #3916
I think the underlying problem is https://github.com/celery/celery/issues/5047#issuecomment-420665195 . I dug a bit further into it and noted my findings at https://github.com/celery/celery/issues/5047#issuecomment-433733601 . It appears Celery isn't sending rabbitmq heartbeats on one of two connections when using pyamq. This then causes rabbitmq to kill the connection after a while. I also found

[2018-11-22 17:59] glazari commented on #1129
It seams I am having this issue in 2018 with `celery==4.2.1`.

I have tried many different things to solve my memory leak, including what was suggested by https://github.com/celery/celery/pull/4839

But what finally seems to have solved my problem was to remove the `--time-limit` from the cli command.

Is anyone looking in to this? should I open a new issue?

[2018-11-22 18:34] ianhoffman commented on #5191
On more digging, it seems the time returned by `app.now` is at +16 instead of -8. Hence tasks running a day early.

[2018-11-22 18:34] auvipy commented on #1129
please open a new issue referencing this one and related ones

[2018-11-22 20:13] ianhoffman commented on #5191
So I think I very hackily fixed this:

[code]

Why does this work? I'm honestly not entirely sure. I found [this](https://stackoverflow.com/questions/35462876/python-pytz-timezone-function-returns-a-timezone-that-is-off-by-9-minutes) Stack Overflow answer which I cribbed code from.

Anyways, this is obviously not a great fix, but it'll work for me (I hope).

[2018-11-22 22:56] nadavperetz commented on #4495
I solved the problem rolling back to redis==2.10.6!

Python 3.4
Celery==4.2.1
redis==2.10.6

(@maomorales really thanks, I was going crazy!)

[2018-11-23 06:05] shaunakgodbole commented on #5106
Unfortunately did not get time to fix this.  I'll take care of it next week.  Sorry about the delay.

[2018-11-23 07:49] Simage opened #5193 "Unable to add arguments when cloning chain"
## Checklist

Python 3.6.6
Celery 4.2.1

## Steps to reproduce
in a file named tasks.py

[code]
and then from the python shell

[code]
## Expected behavior

The arguments and keyword arguments passed into the clone method should be prepended to those in the source chain

## Actual behavior
An unmodified copy of the source chain is returned

this is due to the args to the chain being explicitly set

[2018-11-23 07:50] Simage commented on #5193
For the time being, I am working around this issue by creating my own clone function that implements the second approach to solving this issue

[code]

[2018-11-23 10:36] SharUpOff commented on #4789
I've checked. It really works without hiredis installed in my virtualenv. A worker is killed after the hard time limit, but a new instance accepts new tasks. Also flower shows that worker is still online.

[code]

[code]

I'll check this case too.

[2018-11-23 10:46] yuklin commented on #5037
Try strace -p your main process pid

In my similar case

open("/proc/loadavg", O_RDONLY)         = 22
read(22, "2.98 2.67 3.03 7/3453 20895\n", 64) = 28
close(22)                               = 0
clock_gettime(CLOCK_REALTIME, {1542964748, 327718695}) = 0
**getrandom("w}~\360\3X\356\30\216u\361D>\r}0", 16, 0) = 16
sendto(18, "*3\r\n$7\r\nPUBLISH\r\n$28\r\n/4.celerye"..., 820, 0, NULL, 0) = 820
rec

[2018-11-23 14:38] fabienmorel opened #5194 "Unable to find the task status in another thread"
## Checklist

[code]

## Steps to reproduce
In a function, create one or more thread and record their task_uuid.
Then create a new thread with a list of task_uuid as parameter. This thread aims to wait for each task_uuid in parameter.

Example :
Main function :
[code]

And the "waiting task" :

[code]

## Expected behavior
At some point, the waiting task should find that the task_uuid is done, and

[2018-11-26 04:55] btruhand commented on #4582
I just want to chime in also that I was left confused for several hours on the expected behaviour of broadcasting tasks

I tried to set the routing as the following:
[code]
I used RabbitMq backend. In the end this didn't work (only one worker will receive the task), which really in the end comes down to RabbitMq's fanout exchange behaviour. But the following does work:

[code]
which is similar to

[2018-11-26 06:09] yuda110 commented on #4867
@auvipy Thanks, it works!

[2018-11-26 06:20] ianhoffman opened #5196 "EncodeError when running Celery unit tests"
When running unit tests against the master branch of Celery, I get the following traceback:

[code]

## Steps to reproduce

- Fork master
- Clone forked master branch
- Build docker image
- Run tests in docker image

(This is essentially the flow described [here](http://docs.celeryproject.org/en/master/contributing.html#id30).)

## Expected behavior

datetimes will be json serializable.

## Actual

[2018-11-26 11:37] #5189 closed

[2018-11-26 11:38] art-vasilyev commented on #5189
Resolved in #5195

[2018-11-26 14:06] auvipy commented on #5196
if you can use cyanide from GitHub master, https://github.com/celery/cyanide/commit/237d5688e9b9d5d0574c1b7bdaf019c8644426a0 should fix the error. could you try that?

[2018-11-26 15:31] dejlek commented on #5004
I am not sure this is Celery problem. py-redis should retry to connect and execute command with some backoff strategy...

[2018-11-26 18:16] alexandernst commented on #5175
Can we get a patch release for celery?

[2018-11-26 22:03] pawelad commented on #5188
For obvious reasons I won't be able to do that in production / staging, but I'll try to reproduce the issue locally with Celery installed from `master`.

[2018-11-26 22:34] hp685 commented on #2991
@auvipy I have also observed this recently using master with rabbitmq 3.6:
Detail from rabbitmq log:
=ERROR REPORT==== 26-Nov-2018::09:36:49 ===
closing AMQP connection <0.5823.374> (127.0.0.1:41877 -> 127.0.0.1:5672):
{handshake_timeout,frame_header}

I also increased the handshake_timeout to 60s from 10 but that did not help.

[2018-11-27 07:53] japrogramer commented on #4688
I have the same issue after upgrading to python 3 and the latest celery[redis]
this is how im running the app
[code]

when i inspect
[code]

[2018-11-27 07:55] japrogramer commented on #4688
I found this traceback

[code]

[2018-11-27 07:59] japrogramer commented on #4688
oh, just noticed this https://github.com/celery/celery/issues/5175

[2018-11-27 08:05] ckdanny opened #5198 "When relative is set to True, microsecond offset still accumulate"
path: celery/util/time.py
When `relative` is set to True, the day, hour, minutes second will be round to the nearest one, however, the original program do not update the microsecond (reset it). As a result, the run-time offset on the microsecond will then be accumulated.

For example, given the interval is 15s and relative is set to True
1.    2018-11-27T15:01:30.123236+08:00
2.    2018-11-27T15:0

[2018-11-27 08:11] YuanBLQ commented on #4980
Facing the same dilemma as @kleysonr

python3
amqp==2.2.2
celery==4.2.1

RabbitMQ running inside a docker container.

[2018-11-27 09:53] jainraj commented on #4988
+1

[2018-11-27 11:48] dejlek commented on #3631
I have the same problem, and it is becoming critical...

Here is the traceback:

[code]

[2018-11-27 13:38] glazari opened #5200 "Memory leak with time limits"
## Checklist

It seams I am having this issue in 2018 with celery==4.2.1.

I have tried many different things to solve my memory leak, including what was suggested by #4839

But what finally seems to have solved my problem was to remove the --time-limit from the cli command.

There a previous isso about this in 2012 #1129 for a previous version of celery. But seeing as this solved my problem, I th

[2018-11-27 15:45] crabhi commented on #4039
Hi, I can confirm the issue with `master` branch and 2% simulated packet loss.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-11-27 16:10] crabhi commented on #4039
A more complete version of the test script that shows the result is indeed already stored.

[code]
[code]

[2018-11-27 16:25] crabhi commented on #4039
@auvipy Thank you for reopening the issue. If you have any pointers what to investigate, I could have a look, although I don't see much into Celery internals.

I see there is still the label "Feedback Needed". Is there anything that would help you reproducing the issue?

[2018-11-27 17:17] crabhi commented on #5004
It might be a problem in py-redis or some race condition in Redis usage. But I don't know Celery internals to further narrow the problem down.

[2018-11-27 17:56] auvipy commented on #4039
celery used billiard which is a fork of multiprocessing. could you try that instead? though I'm not sure that will solve the problem. I don't have enough bandwidth for digging the issue in depth right now. sorry, if you can dig it further deeply that would be really appreciated.

[2018-11-27 17:59] #5196 closed

[2018-11-27 19:16] momonala commented on #3128
I experience this issue using `np.matmul` (similar enough to `np.dot`) and I solved the issue by swapping that method out for using scipy's sparse matrices:

[code]

[2018-11-27 20:20] ianhoffman commented on #5196
Hi @auvipy -- sorry I didn't get back to this before today.
I'll test your fix when I have some time (this weekend hopefully) and let you know if it works. Thanks!

[2018-11-27 20:21] ianhoffman commented on #5191
Ok, this was wrong too. The only thing i found that *really* works (though it's only been running for a day, so we'll see) was to change the crontabs of all our tasks to UTC.

[2018-11-28 05:44] jayendra13 commented on #5073
Something like this I am trying to achieve here https://stackoverflow.com/questions/53483007/multiligual-workers-with-celery-and-jupyter

[2018-11-28 06:18] seiyata commented on #4019
+1

[2018-11-28 06:26] jayendra13 opened #5202 "clean up resources created by Task initialization"
To achieve things mentioned here https://github.com/celery/celery/issues/3919, I tried a different approach.
As I need a jupyter kernel per worker I am adding the code to start it at the Task initialization. So my BaseTask looks like this

    class WorkerTask(Task):
        abstract = True
        reply_futures = {}
        _kernel_manager = None
        _kernel_client = None

        def __del__

[2018-11-28 06:50] dipit2007 commented on #4304
Please merge and update latest document. I have wasted almost 2 days to find out production ready systemd celerybeat.service file for celery beat. There are many article available but all are not up to the mark Except this thread. Thanks a lot.

[2018-11-28 06:55] dipit2007 commented on #4304
What does - do in following line(equal to then why minus )
EnvironmentFile=-/etc/conf.d/celery

[2018-11-28 07:03] dipit2007 commented on #4304
I got the answer : The argument passed should be an absolute filename or wildcard expression, optionally prefixed with "-", which indicates that if the file does not exist, it will not be read and no error or warning message is logged.

[2018-11-28 10:08] #5191 closed

[2018-11-28 10:22] xiantotikui commented on #5180
Will this new release support redis 3.0.1?

[2018-11-28 10:52] thedrow commented on #5144
Do you happen to have a test case for reproducing this issue?

[2018-11-28 11:41] auvipy commented on #5180
yes

[2018-11-28 17:51] dejlek opened #5204 "CRITICAL/MainProcess] Unrecoverable error: TypeError("unhashable type: 'list'",)"
Amazon Linux 2, Python 3.6, Celery 4.2.1, Redis/prefork concurrency

Worker sometimes exits with the following in the log:

[2018-11-28 17:38:44,214: CRITICAL/MainProcess] Unrecoverable error: TypeError("unhashable type: 'list'",)

    Traceback (most recent call last): File "/opt/celery/venv/lib64/python3.6/site-packages/celery/worker/worker.py", line 205, in start self.blueprint.start(self) File

[2018-11-28 22:00] ericraymond commented on #461
Is there a resolution on this before it was closed?

[2018-11-29 01:48] TopcoderWuxie commented on #3760
it also occured in python3.4.3 + celery4.2.0 + redis2.10.6  and redis tenv is 2.8.4, is the version not supported?

[2018-11-29 02:59] TopcoderWuxie commented on #5069
If you have solved this problem, can you tell me how to solve this problem?

[2018-11-29 06:03] georgepsarakis commented on #461
@ericraymond the database result backend still uses [PickleType](https://github.com/celery/celery/blob/master/celery/backends/database/models.py#L29), which maps to a `LargeBinary` field in SQLAlchemy as far as I can tell. I suggest that you review the previous comments and if you can provide or propose a solution please feel free to open a new issue.

[2018-11-29 09:13] ericraymond commented on #461
@georgepsarakis  How about something like:

[2018-11-29 09:31] ericraymond commented on #461
@georgepsarakis   I see your point.

Celery could directly use the MySQL longblob type but that would break the abstraction that Celery uses sqlalchemy for multiple database dialects.  The other alternatives are for SQLAlchemy to change the MySQL dialect mapping or create a new (largeblob) MySQL Dialect.

[2018-11-29 10:14] toti1212 commented on #5069
Sorry but we decide wait to new release. It is possible will be solved.

[2018-11-29 14:37] jozo commented on #5139
Hi. I have the same (or similar) problem. When rabbitmq (my brocker) is not running, celery can't connect to it. But instead of throwing exception after some timeout it waits forever until I hit Ctrl+C. Code example will be probably best:
[code]

Library "kombu" tries to connect every second to rabbitmq and it tries forever. I think it should limited somehow (maybe by "timeout" argument in Inspect

[2018-11-29 14:43] dolfim commented on #4938
Is there any update on this?

We seem to have a similar failure, but for us it comes from calling `result.ready()` inside a task. The stacktrace shows that the `.ready()` function is calling the `.get()` for some caching. This triggers the `assert_will_not_block()` exception.

With celery 4.2.1:
[code]

[2018-11-29 17:19] auvipy commented on #4582
could you send a pr with your suggested docs edits?

[2018-11-29 18:09] ConnorWhalen commented on #4843
For what it's worth, I am having this issue and can reproduce it consistently by opening the rabbitmq management console, going to connections, and closing connections with traffic from celery to rabbitmq.

I've tested with celery 4.1 and 4.2 and rabbitmq 3.7.7-1

[2018-11-29 21:59] fergyfresh commented on #5048
@rthille that doesn't work for me.

[code]
Is what I get with your suggestion.

[2018-11-29 22:16] btruhand commented on #4582
I'll be willing to help in but probably around 2 weeks from now due to my current schedule. Does that sound good?

[2018-11-30 01:07] kanemra commented on #4296
**The problem was that I forgot to add this.**

[code]

[2018-11-30 05:50] georgepsarakis commented on #461
@ericraymond I think I came up with a possible solution. We can redefine the field as [LargeBinary](https://docs.sqlalchemy.org/en/latest/core/type_basics.html#sqlalchemy.types.LargeBinary) and handle the pickling part separately (before storing the result). From the documentation, you can pass a length parameter to the field definition, which MySQL will then map to the corresponding type (`MEDIUM

[2018-11-30 07:39] viennadd commented on #3270
here is my case, if anyone might need

**My celery version:**
3.1.25
**My situation:**
same task id sent to worker twice.
**My solution:**
clear redis data

I had just renamed the queue,
I found that celery put a message to the old queue name (not exist in my code anymore) & new queue (the for loop in method `kombu.Exchange.DirectExchange.deliver`).

[2018-11-30 09:45] ericraymond commented on #461
Looks promising! Nice.

On Thu, Nov 29, 2018, 9:51 PM George Psarakis <notifications@github.com>
wrote:

[2018-11-30 12:35] willharris commented on #4582
I will also write something up, happy to collaborate with @btruhand. Is there a deadline?

[2018-11-30 15:26] vakorol opened #5207 ""task_revoked" signal not handled"
I have a long-running task:
[code]
with a `task_revoked` handler attached:
[code]
The handler works fine, if i start a task and then revoke it normally:
[code]
But the handler **is not called** if i first start the task, then restart the celery worker (with the task surviving the restart), and then revoke. There is nothing in the log file (at DEBUG level) either.

I can steadily reproduce the issu

[2018-11-30 15:55] zhiltsov-sigma commented on #3631
The same issue.
As a workaround `CELERY_TASK_ACKS_LATE = True` "fixes" the exception but it causes another minor issue: tasks which were executing when termination occured had finished before shut down AND they will be invoked again after worker restart.

[2018-11-30 19:21] rthille commented on #5048
@fergyfresh I don't understand. I haven't made a suggestion anywhere here that I see, just a comment that I don't think this issue should be closed because we were still seeing the issue running code which supposedly fixed it.  We've since reverted to an older celery-beat and are waiting to upgrade until the issue seems actually resolved.

[2018-11-30 19:40] fergyfresh commented on #5048
@rthille I'm so sorry. I tagged the wrong person. What version of celery-beat are you on that you don't get this issue?

[2018-11-30 21:37] rthille commented on #5048
@fergyfresh No problem. Just didn't want someone thinking I had a solution I was hiding from everyone :-)
We've got requirements.txt pinning django-celery-beat at 1.1.1 and haven't seen the issue with that version.

[2018-11-30 21:46] fergyfresh commented on #5048
@rthille can you look under the hood to see what version of celery is being used `celery==???`

[2018-11-30 22:07] rthille commented on #5048
@fergyfresh `celery==4.2.1`.

[2018-12-01 06:05] #5096 closed

[2018-12-01 06:35] wsyzxcn commented on #4983
I think this can assumed as a bug,  when celery ``AsyncReslult.get()`` retrieve result from buffer (or get result with state query method or property)  it just return the result without unsubscribe the channel it previously subscribed to.
The problem I think is celery use two system to retrieve result.First is redis get command, the second is redis pubsub mechanism. When publish a task celery subs

[2018-12-02 00:14] Alan-Solitar commented on #4878
Had the same exact issue yesterday when I tried to upgrade my celery to 4.2.1.

I am using 'django_celery_beat.schedulers:DatabaseScheduler' but it seems celery is unable to read the schedule from my postgres database.

Just as many others reported, downgrading to 4.1 fixed the issue.

[2018-12-02 16:06] Gaoyongxian666 opened #5209 "I can‘t stop a task by its task_id"
[2018-12-02 23:53:58,955: INFO/MainProcess] Received task: tasks.add[bb1fe102-c1f9-4361-9370-1129900c0d52]
[2018-12-02 23:54:02,479: INFO/MainProcess] Terminating bb1fe102-c1f9-4361-9370-1129900c0d52 (Signals.SIGTERM)
[2018-12-02 23:54:02,490: ERROR/MainProcess] pidbox command error: NotImplementedError("<class 'celery.concurrency.eventlet.TaskPool'> does not implement kill_job",)
Traceback (most

[2018-12-02 18:31] tyarimi commented on #4167
We have been running with the fix in a large production environment for over a year now, and it works perfectly.
It wasn't merged since it doesn't have tests, which I did not implement as I'm not sure how, using the current test environment.

[2018-12-02 18:44] xirdneh commented on #5180
@auvipy, @thedrow, Anything I can help with for this release?

[2018-12-02 22:34] jenstroeger opened #5210 "Python 3.7 compatibility"
Python 3.7 shipped in June 2018, it is November now. I saw that some issues were fixed but when are you going to actually _ship_ Celery for 3.7?

[2018-12-03 06:04] adib commented on #4167
I suppose for 4.2 the workaround is to use the same AMQP URL as `backend` as well as `broker` ?

[2018-12-03 09:13] auvipy commented on #5210
with 4.3 release.

[2018-12-03 09:13] #5210 closed

[2018-12-03 09:14] jenstroeger commented on #5210
Which is due… when?

[2018-12-03 11:23] thedrow opened #5212 "Stabilize the build"
The build has been failing for quite a while now.
Before releasing 4.3 we need to make sure all the tests pass.

[2018-12-03 13:12] dejlek commented on #5209
Even though I use different concurrency (prefork, using Redis as broker), I've seen the same problem - sometimes worker can't kill some tasks...

[2018-12-03 19:43] monstermac77 opened #5214 "Adding chains to the queue in chunks"
I need to add many tasks to the queue quickly (adding tasks to the queue is currently a bottleneck). These tasks must be organized into `chains`, which means to cut down the time to add the tasks to the queue, I need to figure out how to submit `chains` as `chunks`. Is this possible?

[2018-12-03 19:47] clokep commented on #5133
@muzhig Any steps to reproduce this issue? At first glance that code looks OK.

[2018-12-04 01:39] hp685 commented on #3759
Hi @auvipy,

Is this issue now fixed? Can you point me to the fix if so? Thanks

[2018-12-04 05:39] georgepsarakis commented on #5212
@thedrow is this related to failures with Redis test cases?

[2018-12-04 07:01] 17816123046 commented on #5175
thanks

[2018-12-04 07:17] auvipy commented on #5046
keeping this open for other back-end needed changes

[2018-12-04 07:18] auvipy commented on #5046
if the backend have its own _store_result method, or it will use data in celery/backends/base.py.
Three files in backends have _store_result method:
backends/mongodb.py, backends/database/__init__.py, backends/cassandra.py

[2018-12-04 07:19] auvipy commented on #5212
can we release py-amqp and vine and cyanide etc initially?

[2018-12-04 08:03] auvipy commented on #4296
can anyone come with a suitable solution?

[2018-12-04 08:04] auvipy commented on #2930
thanks for reporting!

[2018-12-04 08:14] auvipy commented on #5207
did you found any solution?

[2018-12-04 08:15] auvipy commented on #4582
doc contributions are not a blocker, so anytime.

[2018-12-04 08:17] auvipy commented on #3631
did you found any solution?

[2018-12-04 08:31] auvipy commented on #3759
I might have closed it unintentionally

[2018-12-04 08:48] vakorol commented on #5207
Not really. In my case particularly, a poor man's solution can be used as a workaround:
The long-running tasks are revoked manually by the user. I could poll and wait (synchronously) until the Celery task stops, and then immediately start another Celery task that would do the stuff that the 'revoke' handler is supposed to do. But this is really something i'd like to avoid..

[2018-12-04 08:48] hp685 opened #5215 "Can only execute a constant number of tasks. All other tasks wait. Issue: connection pool limit reset to 10 (default), intermittently at runtime"
Using a broker pool limit of 0 (disabling connection pooling), my application, after running for several days or a few hours, will land into a state where connection pooling gets enabled during runtime.
Subsequently, it can only process 10 tasks at a time while all other tasks wait until these tasks finish even though I have 40+ workers running. It is potentially an issue with the resize of `Resou

[2018-12-04 08:52] hp685 commented on #3759
@auvipy I have debugged this issue further and created a new ticket with specific details that may help you https://github.com/celery/celery/issues/5215

[2018-12-04 09:45] thedrow commented on #5180
Issue #5212 is critical to the release.
We still need to test Celery with Python 3.7.

[2018-12-04 10:04] thedrow commented on #5212
@georgepsarakis Yes. It does.

[2018-12-04 11:38] hedleyroos commented on #4185
Thanks @kleptog for some great debugging!

I've tried all the suggested fixes, up to running Celery and friends from master, but as soon as a worker encounters a ConnectionResetError it refuses to process any more tasks. Restarting RabbitMQ causes the stuck workers to process tasks again. Naturally this is not a good solution but it does point me in a direction to debug further.

[2018-12-04 13:47] clokep commented on #4296
I think we worked around this by providing transport options that only retry a certain number of times (by default Celery tries forever):

[code]

I can try to find more information if that isn't clear.

[2018-12-04 17:42] shaunakgodbole opened #5219 "default task options from signature not propagated to chain"
We have a setup with different workers and tasks being executed in different workers.  The queues for the tasks are defined in their signatures:

[code]

The queue is correctly picked up when we create a `group` of tasks, but doesn't get picked up when we create a `chain` of tasks.  In the case of `chain`, the queue in the first task is correctly picked up, but the second task gets assigned to the

[2018-12-04 18:53] xirdneh commented on #5180
@thedrow Looks like #5212 is fixed if we do a Kombu release, right?
IF that's correct then we need to add 3.7 testing to our CI. I can work on that.

[2018-12-04 18:55] auvipy commented on #5180
py-amqp and kombu release is the pre-req, after that, I can polish my pr for 3.7 support to get it merged

[2018-12-04 19:40] xirdneh commented on #5180
@auvipy You mean this PR: https://github.com/celery/celery/pull/4859 ?

[2018-12-04 19:42] georgepsarakis commented on #5212
Thanks @thedrow, I'll try and have a look.

[2018-12-04 21:55] erindy opened #5220 "Group of chains hangs forever"
I am trying to create a group of chains and when the group gets executed it just stops and hangs, looks very much like deadlock.

I checked rabbitmq and resultbackend and they are running just fine.

here are my dummy tasks to reproduce:

## Steps to reproduce
[code]

and I call them like this:

[code]

also my settings are as follows:

[code]

## Expected behavior
result should return an async ke

[2018-12-04 22:08] jos3fc0 commented on #4162
la solucion es: sudo service redis-server start

[2018-12-04 23:29] matteius commented on #4167
I could _imaybe_declare try to write a unit test using mock on a fork on your kombu PR once I figure out what that code is actually for.

[2018-12-05 01:42] AlexHill commented on #5215
If this is just happening in prod, I think your best bet would be to log a traceback in `Resource.__init__()` and `Resource.resize()` to see where it's being called from with the wrong value.

Something like `logger.debug(''.join(traceback.format_list(traceback.extract_stack()))`

[2018-12-05 07:49] tyarimi commented on #4167
@matteius that will be great. You can find more details in the [PR conversation](https://github.com/celery/kombu/pull/779#discussion_r132499616).

[2018-12-05 08:32] 26huitailang commented on #5209
I used the  `signal='SIGKILL'` param and got `Task handler raised error: Terminated(9,)`.

[code]

celery log:

[code]

[2018-12-05 10:52] JoonasC opened #5221 "Task results are not being returned when using dynamic queue creation"
So, I have a Celery system set up, where I dynamically create a cloud VM instance for each task, once the task completes the VM instance will delete itself. To accomplish this I am creating a new queue and assigning the worker on the newly created instance to that queue so that tasks can be sent to specific instances. This works with 1 or 2 simultaneous tasks, but if I try more than that, then cel

[2018-12-05 12:37] JoonasC commented on #5221
Ok, it seems that the issue is with `APP.control.add_consumer(celery_queue_name, reply=False, destination=['worker1@{}'.format(created_instance_name)])`. Even though that command returns successfully, the worker still hasn't been added to the queue...

[2018-12-05 13:56] JoonasC commented on #5221
I managed to fix the issue by including the task name in the worker startup command with the -Q parameter, you can close this now.

[2018-12-05 13:56] #5221 closed

[2018-12-05 15:49] the-glu commented on #5138
See #5222 for a partial improvement of your problem, however it will works with my MR if you explicitly set the chord in the second task group.

[code]

[2018-12-05 17:36] stefs304 commented on #3222
Hi @stuaxo , can you please tell me how you fixed this problem? I'm getting the same error but I'm unable to locate the problem.

[2018-12-06 02:02] hp685 commented on #5215
@AlexHill The issue is addressed partially in kombu 4.2.1 and I've created a PR for the remainder:
https://github.com/celery/kombu/pull/961

Can you please review?

[2018-12-06 08:41] auvipy commented on #5212
or even a new kombu release would be great too

[2018-12-06 09:56] stuaxo commented on #3222
Sorry for the lack of detail.  I work short contracts and don't have access to old code if the code isnt open.

I was using chains and chords to run many things in order, might have replaced run_job in my example with a plain (non celery) function.

But it's hard to say 2 years later - if you are using chains of chords like I was I'd look at them further.   Sorry I can't help more.

[2018-12-06 10:48] echoocking opened #5223 "billiard process daemon not work"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

billiard version 3.5.0.5
celery 4.0.2
## Steps to reproduce
i want control long time beat task. like if a task not finish, not r

[2018-12-06 12:47] auvipy commented on #3796
could anyone check this patch https://github.com/celery/kombu/pull/925

[2018-12-06 13:41] xiantotikui commented on #5212
https://github.com/celery/kombu/issues/962

I changed this in kombu and Celery is working.

[2018-12-06 13:44] maximebloch opened #5224 "crontab argument not working like the documentation"
## Output of `celery -A proj report`

`software -> celery:4.2.1 (windowlicker) kombu:4.2.1 py:3.4.9
            billiard:3.5.0.5 redis:2.10.6
platform -> system:Linux arch:64bit imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:redis results:redis://localhost:6379/0

SQLALCHEMY_TRACK_MODIFICATIONS: False
SOCKETIO_MESSAGE_QUEUE: 'redis://localhost:6379/1'
PREFERRED_URL_SCHE

[2018-12-06 14:04] kcolton commented on #5204
@dejlek Any hints/leads on if it's something about Python 3.6 specifically or pre-fork Redis or Amazon Linux.

Having a test case that can reproducibly fail would make it a lot easier for anyone to spin on it and maybe come up with PR.

[2018-12-06 14:12] kcolton commented on #5212
Sorry if dumb questions, am a bit new here (using for a long time, but mostly lurked on github) and trying to get up to speed quickly.

Like, automated builds across everything? 4.2.1, master, and 4.3 branch or just a specific PR/branch for 4.3? (didn't see one, wasn't sure if 4.2 branch is 4.3 in disguise or there is some PR that encapsulates already)

[2018-12-06 14:17] thedrow commented on #5212
The build for master.
We need it for releasing 4.3.

[2018-12-06 14:45] thedrow commented on #5212
@georgepsarakis I just released that fix as kombu 4.2.2.
I don't have time to cherry pick all the other bugs as well.

[2018-12-06 14:51] thedrow commented on #5180
I released Kombu 4.2.2 with that fix only.
The build should pass now.

[2018-12-06 15:31] maximebloch commented on #5224
After setting the timezone to my localized zone it seems to be working normally.
[code]

[2018-12-06 17:43] thedrow commented on #5212
Master is passing.

[2018-12-06 17:43] #5212 closed

[2018-12-06 19:36] georgepsarakis commented on #5212
@thedrow excellent!

[2018-12-06 21:18] stefs304 commented on #3222
Thanks for the quick response.

I looked into chaining, but the usage examples were too abstract for me. I'm just starting to learn about job queuing, and found that rq is more straightforward, so I switched to rq for now.
I may need celery in the future so thanks for the info nonetheless.

[2018-12-07 01:08] charlescapps commented on #5040
We're experiencing a similar issue using Redis for backend and broker. I can't conceive of a way we would be getting deadlock, because we have two separate queues, and our topology is really simple: primary tasks kick off about 50 smaller tasks that run in a separate queue. That should make deadlock impossible.

[2018-12-07 04:05] rammanoj commented on #1798
I got the same error on calling the delay function. May I know how to resolve this. Initially, it worked fine. But I am not sure why suddenly it started popping this error, whenever I call delay function !!

[2018-12-07 07:23] tam04101993 opened #5226 "Config cassandra backend port config not work"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
[code]
- [ ] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

## Expected behavior
Result data should write correctly to cassandra database at: **localhost:6100

[2018-12-07 10:37] UrbanSwati commented on #4680
Check #3085

[2018-12-07 17:38] hexvolt commented on #4185
We are using this patch but still encounter this issue once in a while - worker successfully finishes its job and the main process is locked hanging awaiting for results

[2018-12-08 13:37] auvipy commented on #5223
try more recent versions of celery release or try celery from master with all dependencies from master branch of github too.

[2018-12-08 13:37] #5223 closed

[2018-12-08 13:38] #5214 closed

[2018-12-09 07:58] tyarimi commented on #4167
@matteius regarding the settings - yes we do use the old notation which is still supported, and it works. We run millions of tasks every day without issues. Maybe we have some old leftover settings which are ignored by Celery, but it doesn't affect anything.

I was wondering about the `_i` prefix myself, maybe it means `internal`.

I'm absolutely positive that this is a logical bug in Kombu, and t

[2018-12-09 15:34] mikolaje commented on #4185
I'm using the celery==4.2.1 ; python==3.6.7 ubuntu 16.04. and Redis as backend
I used supervisor to start celery with command:
celery -A project worker -l info --autoscale=10,2

It still got stuck sometimes.

[2018-12-10 00:48] claytondaley commented on #1977
I 100% agree in principle, but not necessarily in practice.  I'm using 3rd party code that has a `@shared_task` that calls `current_task.update_state`.  If this were my code I'd simply redesign it.  Unfortunately, the preexisting code is out of my control.

It seems to me that there should be a simple way to avoid this error.

[2018-12-10 07:42] michaeljaszczuk commented on #5072
Any updates or ideas?

[2018-12-10 08:46] manhtai commented on #4028
@dejlek @SHxKM I see the Celery docs mentions about priority number like this:

So it depends on brokers also.

[2018-12-10 18:27] jessecooper opened #5229 "Issue with chord group task exceptions and Redis backend"
## Checklist
* [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
* [x] I have verified that the issue exists against the `master` branch of Celery.

software -> celery:4.2.0 (windowlicker) kombu:4.2.1 py:2.7.15
            billiard:3.5.0.3 py-amqp:2.2.2
platform -> system:Darwi

[2018-12-10 21:21] jessecooper commented on #4048
I ran into this issue on the latest master branch. I opened a new issue and have also included a hacky work around to fix the type exception.
https://github.com/celery/celery/issues/5229

[2018-12-10 22:59] pawelad commented on #4684
I think this would be a very neat feature (unless we want to actively discourage the use of class based tasks altogether) - if one of the maintainers could mention their opinion on this, I could take a stab at implementing it.

[2018-12-11 15:16] mdtrooper opened #5230 "memory leak with celery.chord (A tiny/simple example with docker-compose)"
Hi.

We have a memory leak with Celery 4.2 at the method celery.chord.

But we made a simple/tiny example to reproduce with two docker containers (one for the rabbitmq).

https://github.com/Unlimiteck/example_celery

Regards.

[2018-12-11 16:08] pietrek928 commented on #3402
For me setting `worker_pool = 'solo'` in celery config helped.
Setting this option disables forking which breaks using pytorch

[2018-12-11 18:45] thedrow commented on #5230
Can you describe the nature of the memory leak?
How severe is it? Where does the memory leak? In celeryd or the client?
Could #4486, #3339 or #1129 or #4832 be related?

[2018-12-11 19:33] hp685 commented on #5215
Deciding to go with broker pool limit of 0. Letting limit values between 0 and 10 default to 10 if pool is in use.

[2018-12-11 19:33] #5215 closed

[2018-12-12 07:39] mdtrooper commented on #5230
When I run the `test_celery_chord_multiple(6)` (in a python shell into the docker container celery), Celery allocate a lot of memory (it is normal) but when the chord finalize (with ready() true) the memory is keeped by Celery process (as can you see with a top tool). And Celery config is default.

#4486, #3339, #1129, #4832 and #4843 are related, but I have been checking each these issues and non

[2018-12-12 09:49] sidnaik03 opened #5231 "AssertionError: daemonic processes are not allowed to have children"
Hi,
I am using celery 4.2.1 with python 3.5.
My multiprocessing code is below:
[code]
This work on Ubuntu 16.04 but not working on WINDOWS 7. Getting below error
Traceback (most recent call last):
  File "d:\siddheshnaik\virtualenvs\agent\lib\site-packages\billiard\process.py", line 327, in _bootstrap
    self.run()
  File "d:\siddheshnaik\virtualenvs\agent\lib\site-packages\billiard\process.py",

[2018-12-12 16:07] jessecooper commented on #5229
I have updated the steps to reproduce section with a test case you can use to reproduce the issue.

[2018-12-12 21:13] ericraymond commented on #4450
Treating this as a documentation issue misses the point.

Why can't celery have an option to add a result status of "truly pending" to the backend when a job is submitted to the broker.   That would allow some type of status request to the result backend which could definitively allow for the distinction between "not found" and "pending".

For an async system to ignore this important state means c

[2018-12-13 19:48] jcaffrey commented on #479
looking more closely it seems that calculating the `runtime` in the `task_success` and `task_failure` signals matches the [`runtime`](http://docs.celeryproject.org/en/latest/userguide/monitoring.html#task-succeeded) variable that is logged by celery

[2018-12-13 20:14] AmbientLighter commented on #4377
FYI: Pull request with fix has been submitted.

https://github.com/celery/celery/pull/5232

[2018-12-14 00:17] cjarv opened #5233 "Application Error when running celery"
celery 3.1.25
reason we are using this is because we are on windows

Any attempt to run celery (even celery -V to show the version) causes issue
python.exe - Application Error
The instruction at 0x########## referenced memory at
0x#############. The required data was not placed into memory
because of an I/O error status of 0xc00000c4.

I am not actually sure how to debug this since I can't get it

[2018-12-14 04:07] #4377 closed

[2018-12-14 06:50] TheBlusky commented on #5180
Any idea of an ETA for this version to release ?

[2018-12-14 07:25] vkartik97 opened #5234 "403 Forbidden When use Celery with ElasticMQ"
## Checklist

- [x] I have included the output of ``celery -A proj report`` [On Pastebin](https://pastebin.com/fiE8xG0a)
       `BROKER_URL: 'sqs://x:********@localhost//'`

## Steps to reproduce
Using Celery with ElasticMQ for Django Local Development of Application using SQS

[code]

[code]
Other Tries : https://gist.github.com/vkartik97/4f7e37ad56663e619e35bf18cd7dc0ac
## Expected behavior
Shou

[2018-12-14 08:13] thedrow commented on #5180
There's still some work to do. We need to fix the build for Kombu as well.
I'll go over the remaining issues.

[2018-12-14 09:10] Eduard-gan commented on #4349
@hassek , @SHxKM
I believe solution is merged into 4th major release: https://github.com/celery/celery/pull/4251
So upgrade to 4.2 should solve this issue.

[2018-12-14 12:32] hedleyroos commented on #4185
@mikolaje what works for me is to set the TCP timeout in redis.conf to resolve the deadlock.

[2018-12-14 12:56] illagrenan commented on #4848
I had the same problem with:

[code]

chaining groups produces:

[code]

This workaround worked for me: https://github.com/celery/celery/issues/3585#issuecomment-406658604

[2018-12-14 12:57] illagrenan commented on #3585
Thanks @denniswalker for this workaround. Group separator worked for me as I commented here: https://github.com/celery/celery/issues/4848#issuecomment-447317343.

[2018-12-14 20:49] claytondaley commented on #1977
In similar situations, [fabric](http://www.fabfile.org/) would use a [context manager](http://docs.fabfile.org/en/1.14/api/core/context_managers.html).  For example:

[code]

I haven't looked at the `fabric` implementation to see if it requires something architectural (like a centralized settings class that propagates context) or something simple/local.

[2018-12-14 20:58] xirdneh commented on #5180
@thedrow Any issue I can take over?
Or are you going to list the remaining issues here?

[2018-12-15 06:09] georgepsarakis commented on #5180
@xirdneh you can check the milestone https://github.com/celery/celery/milestone/20 .

[2018-12-15 06:45] #4342 closed

[2018-12-15 14:12] auvipy commented on #5180
I think we can remove non-blockers from this milestone. and lean down the remaining issues. releasing py-amqp and related packages to check how they work on celery 4.3 rc1

[2018-12-15 18:52] RoraxHan commented on #5132
Any update on this problem?
This is really important for my project.

[2018-12-17 06:54] georgepsarakis commented on #5019
This does not seem like an issue with Celery: https://bitbucket.org/pypy/pyrepl/src/62630c596d7c47ec9c42abc9c16814dcb2813f9c/pyrepl/readline.py?at=default&fileviewer=file-view-default#readline.py-72

I would suggest that you open an issue to `pyrepl` instead.

[2018-12-17 08:37] lvscup opened #5237 "chord callback method can not execute when result_expires =0 or None"
## Checklist
os: ubuntu 16.04
celery version: 4.2.1
python version: 3.6
broker: redis
backend: redis

## Steps to reproduce
* chord(group_tasks)(success_callback.s().on_error(on_error_callback.s()))
* celery.conf.update(result_expires=0) or celery.conf.update(result_expires=None)

## Expected behavior
* success_callback method will execute
* task results' ttl is -1(never expire)

## Actual behavio

[2018-12-17 11:10] wadkar commented on #5175
A patch release would be great!!!

Is there something the community can do to make it possible sooner rather than later? As you can see, many related projects are referring to this issue and pinning down the redis version.

[2018-12-17 14:12] #5226 closed

[2018-12-17 14:17] dejlek commented on #5204
There are other related issues - it seems that people got the same exception in few different cases. I really can't reproduce it - it just happens randomly and I see it in the logs...

[2018-12-17 16:00] thedrow commented on #5130
Try `pip install -e .` so that the pytest extension would be recognized.

Can't you run the integration tests from tox?

[2018-12-17 16:19] AvnerCohen commented on #4185
Did anyone found a good way to monitor the situation of stuck workers?

We are still seeing this behavior with the code from master, can't say if this is improved or not, but initial feel is that at least for our use case, we are still getting stuck workers.

Question is how to monitor the individual workers? right now all we can do is monitor the queue level (messages present and not picked up),

[2018-12-17 17:03] Alkalit opened #5238 "Cannot get arguments of a parent task through AsyncResult"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).

https://pastebin.com/bJZZcc1K

- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
[code]
## Expected behavior
I expect that `result.args` will contain argum

[2018-12-18 04:13] wsyzxcn opened #5240 "AsyncResult.get() block when timeout is set to 0"
If get is called with timeout=0 eg. ``async_result.get(timeout=0)``, it will block until the async task is finished, and then result is returned. However, if I set ``timeout=0``, I just mean check if the result is ready for only once, if not raise Exception. Dose't it more convenient this way?

[2018-12-18 08:36] Alkalit commented on #5238
Here is a simpler example.

In my project.celery.py
[code]

then in django shell

[code]

Is there is any way to get arguments of a task? I mean when there is no access to the original task object.

[2018-12-18 10:33] Sispheor commented on #4186
Hello guys.
On Openshift 3.9 with Celery 4.2 it seems that the `C_FORCE_ROOT` flag is ignored.
I tried with
[code]

I always get the same output
[code]

Not really a big deal because the process started anyway. Just FYI.

[2018-12-18 11:34] thedrow commented on #5240
The API for that usecase is `async_result.result`.
Timeout 0 is ambiguous.

[2018-12-18 11:35] #5240 closed

[2018-12-18 11:45] thedrow commented on #5238
The `result_extended` setting will be added in Celery 4.3 which stores more information about the task.

[2018-12-18 11:45] #5238 closed

[2018-12-18 11:48] thedrow commented on #5175
I did release a patch for kombu. It should resolve the issue.
Please subscribe for release notifications on our repositories instead of pinging us.

[2018-12-18 11:48] thedrow commented on #5226
@auvipy Why is this closed?

[2018-12-18 15:21] thedrow commented on #4002
Any reason this is still open? We merged https://github.com/celery/kombu/pull/926.
Is there anything else to do?

[2018-12-18 15:24] thedrow commented on #3796
I'm gonna close this since #926 should resolve this issue.

[2018-12-18 15:24] #3796 closed

[2018-12-18 15:36] Sovetnikov opened #5241 "head_from_fun failing if task decorated by callable class"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [*] I have verified that the issue exists against the `master` branch of Celery.

celery 4.2.1
python 3.7
## Steps to reproduce
Decorate task with "smart" decorator that can work on method and function as in th

[2018-12-18 18:15] sivang commented on #4932
Was it unreproducible ?

[2018-12-19 02:43] lovemyliwu commented on #3796
I think you mean https://github.com/celery/kombu/pull/926

[2018-12-19 06:17] Sovetnikov commented on #4041
I have same issue with
celery                4.2.1
django-celery-beat    1.4.0
Django                2.1.3

Periodic task with interval of every minute constantly started by beat.

beat_1   | [2018-12-19 09:00:54,586: INFO/MainProcess] Scheduler: Sending due task  (tasks.server_tasks.tasks_scheduler)
beat_1   | [2018-12-19 09:00:54,588: DEBUG/MainProcess] .tasks.server_tasks.tasks_scheduler sent.

[2018-12-19 07:44] wsyzxcn commented on #5240
But ``async_result.result``  is problematic when use redis as backend. because it just get the result key in redis without consuming the pubsub channel previously subscribed to. So after a while your redis backend will subscribe to tons of channels， causing problem to the redis server

[2018-12-19 08:04] thedrow commented on #5240
You need to forget() after you get the result then.

[2018-12-19 08:13] Sovetnikov commented on #4041
After debugging my problem seems because of different approaches of django and celery when dealing with naive times.
Django depends on USE_TZ (when True naive time is UTC, when False naive time is local timezone) and celery is always interprets the naive time as UTC.

Apparently this need to be fixed in django-celeru-beat, i have created an issue with some details https://github.com/celery/django-

[2018-12-19 08:31] wsyzxcn commented on #5240
I don't think forget() is gonna work, as it show in the code, forget() call just call a ``unsubscribe`` to redis server. But if the task is done, it's result has already published to  the channel, which ,if the client not consume it, will stuck in redis server's client-output-buffer, and then exceed output-buffer-limit.
Did i miss something? However this actually cause problem in my project.

[2018-12-19 09:40] jainraj commented on #4002
@thedrow What do you suggest for this?

[2018-12-19 12:56] thedrow commented on #5240
@georgepsarakis Maybe you can weight in here. You know the Redis broker better than I do.

[2018-12-19 12:58] thedrow commented on #3796
@lovemyliwu Yup. thanks. fixed.

[2018-12-19 12:59] thedrow commented on #4002
If it's an issue in SQS, open a support ticket with AWS.

[2018-12-19 12:59] #4002 closed

[2018-12-19 14:04] Eduard-gan commented on #4817
Django 1.8.4, Python 2.7.12
Issue apeared after upgrade from 3.1.25 to 4.2.1
CELERY_BROKER_HEARTBEAT = 0 in settings.py solved this.

[2018-12-19 15:52] oskarsinger commented on #5057
Was there ever a fix for this? I am running into this problem.

[2018-12-19 17:12] 3ddi commented on #5241
@Sonictherocketman they don't support python 3.7 yet, so it makes sense. You should wait for celery 4.3

[2018-12-20 01:36] hosford42 commented on #5105
I just ran into this issue, as well. Using `celery_session_worker` was an effective workaround, fortunately.

[2018-12-20 07:16] basitiyidir commented on #4019
+1

[2018-12-20 07:39] #5019 closed

[2018-12-20 09:39] zhouchengcom opened #5243 "celery hangs"
## Checklist
Celery version 4.2
When the celery node size exceeded 500, and more than 100 nodes were frequently shut down and restarted (about 20 minutes once) each time, some nodes turned into suspended state, can't consume any task. By configuring all nodes with the three parameters --without-gossip - -without-mingle --without-heartbeat , it didn't happen again.

[2018-12-20 09:46] thedrow commented on #5019
Maybe we should switch dependencies?
It seems like pyrepl isn't maintained very well.
What do you think?

[2018-12-20 14:35] gurelkaynak commented on #4296
BROKER_TRANSPORT_OPTIONS fixed it for me, instead of CELERY_BROKER_TRANSPORT_OPTIONS. Using celery 4.2.1, kombu 4.2.1.

[2018-12-21 00:04] hp685 commented on #5243
Did that happen due to heartbeat timeouts?
Can you provide more information or share logs? It's hard to tell otherwise

[2018-12-21 05:49] #5243 closed

[2018-12-21 10:32] ethe opened #5246 "How to open amqp protocol hearbeat"
I used Celery 3.1.12 and set
[code]
to worker used amqp. It stills not work. And I find the consumer's source code as below:
[code]
I checked my workers' initialization, and find that `hub` and `self.hub` is None, it is the reason that hearbeat settings not work, so what the `hub` is? How can I pass the parameter into Consumer.hub? I searched the whole documents but find nothing. Hope for reply, t

[2018-12-21 10:49] ethe commented on #5246
My run command as below:
`['celery', 'worker', '-P', 'gevent', '-l', 'INFO', '-A', 'zeus_core.async.app', '-c', '16', '-Q', u'biz.member', '-n', u'biz.member@alta1-biz-member-async1-1.vm', '--without-gossip', '--without-mingle']`

[2018-12-21 14:31] ethe commented on #5246
Seems gevent processor does not support broker heartbeat?

[2018-12-21 16:18] WillPlatnick commented on #4079
Readiness probes are still useful even if they're not used in a service. Specifically, when you do a deployment of workers and  want to make sure your deployment was successful, you usually use ```kubectl rollout status deployment```. Without readinessprobes, we've deployed bad code that didn't start celery and didn't know it.

[2018-12-21 18:01] djlambert commented on #4817
@auvipy why did you close this? The problem still exists.

[2018-12-23 05:54] georgepsarakis commented on #5019
@thedrow `pyrepl` is not a Celery dependency.

[2018-12-23 13:13] Fel-o commented on #2727
still happens on 4.2.1

[2018-12-23 16:42] #5246 closed

[2018-12-23 17:32] ethe commented on #5246
Can anyone supply some suggestions?

[2018-12-24 10:02] jackejiang commented on #4167
We encountered the similar issue when the heartbeat of rabbitmq connection timeouts and the connection is lost.  To reproduce the issue, we could manually run the python console by following steps:

1, Run below lines:

2, From rabbitmq management UI,  force close the connection established

3, Run an extra line, and it hangs:

From rabbitmq log, we could see a lot of connection logs, and from pyt

[2018-12-25 00:00] R7ramesh commented on #3253
There is a simple solution available:
     Just install redis-server at root machine:-`sudo apt-get install redis-server`
now run the `worker -A <project-name> --loglevel=debug --concurrency=2`at same directory where your project is located.

Or You can change in the celeryconfig.py file where you need to remove the `bind` statement.

Both ways work for me.

[2018-12-25 03:55] AbdealiJK opened #5247 "Connection reset by peer during on_error() callback calling a task"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
- [x] I have verified that the issue exists against the `master` branch of Celery.

[code]
This issue seems very similar to https://github.com/celery/celery/issues/4226 but seems to be happening in the error handling part.

## Steps to reproduce

I have 2 workers with 2 different queues: bulkymachines, dbconn

[2018-12-25 05:46] AbdealiJK commented on #5247
A quick note that on a successful task, I get the following:
[code]

So, it seems like in a successful case also I get this disconnect error. And in that case the result gets sent back to redis and the next task continues on. In the example above `save_result_to_db` does run in the dbconn queue
During error case - it does an infinite loop.

[2018-12-26 01:17] tipfei commented on #5039
i have the same problem as you. but it will recovery after about 10 minutes

[2018-12-26 12:11] baratrion opened #5248 "Warm shutdown does not work as expected since v4"
## Steps to reproduce

Just fire up a simple celery configuration and try Ctrl^C to simulate warm shutdown behavior with latest Celery version. It [does not work as advertised]:(http://docs.celeryproject.org/en/latest/userguide/workers.html#stopping-the-worker) worker cannot wait for all tasks to be finished because main process terminates abruptly with an exception. See log output below where I s

[2018-12-26 12:59] baratrion commented on #5248
OK. I think we got the hang of it. The problem is with `billiard`'s latest version `3.5.0.5`, specifically this change broke the warm shutdown: https://github.com/celery/billiard/compare/v3.5.0.4...v3.5.0.5#diff-42cbdfeee4eeeb2688454e975c2d18ffR697

Falling back to `3.5.0.4` seemed to have worked!

[2018-12-26 15:46] edersonbadeca commented on #4699
I have fixed the problem by import the models only in the tasks and allow the auto discover task to find in the whole application instead of installed apps section.

Thank you

[2018-12-27 19:52] th0th commented on #5010
I am also having this issue. I am running celery worker on container via kubernetes. I am running [liveness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) `celery inspect ping`.

Worker logs this error:

[code]

No such thing occurs when I disable liveness probe.

[2018-12-27 20:14] mvaled commented on #3381
I'm seeing a similar issue with 4.2.1:

[code]

Should I open a new issue?

[2018-12-27 20:21] mvaled commented on #3381
I've just noticed this is a very old issue, so I'm opening a new one.

[2018-12-28 07:17] yifeikong commented on #4843
I'm having a memory leak with celery 4.2.1 and redis broker. The memory grows from 100 MiB to 500 MiB(limited) in 3 hours, and the workers are marked as offline in flower.

[2018-12-28 07:46] georgepsarakis commented on #4843
@yifeikong this may not be the same issue, but for your case could you please try the solution proposed https://github.com/celery/celery/pull/4839#issuecomment-447739820 ?

[2018-12-28 09:34] Bogunzhao opened #5249 "memery leak when task has exception"
## Steps to reproduce
The memery can't release when the task raise exception. Here is the code:
[code]

celery versions: 4.2.1
Start code:
`celery -A test worker -l debug -c 1`
Although I added the ` --max-tasks-per-child=3` opttion, the worker restarted, but memery still can't release completely.

[2018-12-28 10:37] Whpitot commented on #4464
@Kimice I can't run the code you given, there is a error like this:
  File "D:\PigBrother\server\celery_app.py", line 36, in __call__
    return self.run(*args, **kwargs)
  File "d:\myself\venv\lib\site-packages\celery\app\task.py", line 392, in run
    raise NotImplementedError('Tasks must define the run method.')
NotImplementedError: Tasks must define the run method.

The function self.run(*args

[2018-12-28 15:56] kosmos342 commented on #5047
Why this issue was closed? I though that py-amqp is recommended https://github.com/celery/librabbitmq/issues/118#issuecomment-385461136

[2018-12-28 18:14] meysam81 opened #5259 "Celery-v4.2.1, branch master: wrong doc info for tasks_ack_late default value"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce
I have checked my app, the task_acks_late setting is set to False by default, but you are saying in your d

[2018-12-29 03:38] jheld commented on #2122
This looks really cool.

If I'm reading correctly, it means if we had N number of worker nodes with a similar name (say a matching prefix), we could specify just that set, without knowing ahead of time their names? So critical-node-0, critical-node-1, etc, then do a glob or regex for that pattern?

If so, is there any reason not to include this feature? It seems there is talk of refactoring remote

[2018-12-29 09:05] yifeikong commented on #4843
@georgepsarakis I'm using Python 3.6.5, so I'm not affected by this bug. I will use tracemalloc to do some research. If it was a celery bug, I'll open a new issue. Thanks

[2018-12-29 10:06] JackDan9 opened #5260 "Will the celery 3.1.x version continue to be updated?"
## Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [ ] I have verified that the issue exists against the `master` branch of Celery.

## Steps to reproduce

## Expected behavior

## Actual behavior

[2018-12-30 10:47] thedrow commented on #2122
We didn't have the time to implement this.
PRs are welcome.

[2018-12-31 10:59] den4uk commented on #5249
Yes, I observed the leak as well.
Here was my dirty fix to solve the leak:

[code]

It doesn't solve the core issue, but at least it would let you carry on until a proper solution is implemented.

[2018-12-31 15:37] thedrow commented on #5180
Right now the build for master is failing on Python 3.7.
See https://travis-ci.org/celery/celery/jobs/473236382.

[2018-12-31 16:20] vanyakosmos opened #5262 "[request] autodiscover_task: print out exception if task failed to import"
Sometimes error might occur inside task (tasks.py in some django app) when celery tries to import it. But celery doesn't do anything about it, it just silently start up w/o any warning.

Good candidates to place logger (probably):
- https://github.com/celery/celery/blob/master/celery/loaders/base.py#L254-L270
- https://github.com/celery/celery/blob/master/celery/loaders/base.py#L248-L251

---

Aft

[2018-12-31 16:32] georgepsarakis commented on #5180
@thedrow I think this is due to Python 3.7 converting `StopIteration` exceptions raised in generators, to `RuntimeError` exceptions, see [here](https://stackoverflow.com/a/51701040/920374).

My suggestion would be to add an exception handling branch, detecting the specific type of `RuntimeError`:

https://github.com/celery/kombu/blob/e4dc1688a2bfe422813ffc79d9db50c06f38fbaf/kombu/asynchronous/hub.

[2018-12-31 17:09] thedrow commented on #5180
That fix is incorrect.
See https://github.com/celery/celery/blob/master/t/unit/worker/test_loops.py#L386
According to PEP 479, generators should raise `StopIterator` anymore.

[2018-12-31 17:43] thedrow commented on #5180
It seems we have uncovered a more serious issue which is a blocker in my opinion.
See https://travis-ci.org/celery/celery/jobs/473900629#L3204

[2018-12-31 18:31] thedrow commented on #5180
Hopefully, https://github.com/celery/kombu/pull/972 will resolve this issue.

[2018-12-31 18:36] thedrow commented on #5180
The build for kombu is broken so the entire test suite does not run.
See https://travis-ci.org/celery/kombu/jobs/472712374#L1215.

[2018-12-31 18:49] yardensachs commented on #4079
My solution was:
[code]
Others seem to not work 🤷‍♂️

[2018-12-31 19:01] thedrow commented on #5180
I can't reproduce the test failure for kombu locally :(

[2019-01-01 15:06] thedrow commented on #5182
If there's no further comment here, we're going to close this issue.

[2019-01-01 15:06] #5182 closed

[2019-01-01 15:06] thedrow commented on #5172
Closing due to lack of activity.

[2019-01-01 15:06] #5172 closed

[2019-01-01 15:12] thedrow commented on #5073
Celery used to have a webhooks mechanism which nobody used.
We removed it.
Celery 5 may introduce a redesigned version of this feature. I'm still thinking over it.

[2019-01-01 15:12] #5073 closed

[2019-01-01 15:33] thedrow commented on #1599
I'm thinking about this right now and it will require us to design a more sophisticated scheduler.
There are of course algorithms which do this. An example is the Linux kernel which can schedule a process on a limited number of CPUs.
Right now the only scheduling we do is put items in a queue so the scheduling order is essentially FIFO.
To complicate things further, if we'd wish to have a global c

[2019-01-01 16:04] thedrow commented on #1881
Has any of you tried calling `chord_result.parent`?
Does that provide you with the group linked to the chord?

[2019-01-01 16:10] thedrow commented on #4694
This is no longer blocked by Kombu since https://github.com/celery/kombu/pull/910 was merged.
Any chance you'll get to this soon?

[2019-01-01 16:14] thedrow commented on #2833
Since @remeika has split the remaining tasks into issues and some of them are done I'm going to close this issue.
We can keep tracking the progress of this feature request in #4694.

[2019-01-01 16:14] #2833 closed

[2019-01-01 16:19] thedrow commented on #3479
This is a duplicate of #2852.

[2019-01-01 16:19] #3479 closed

[2019-01-02 01:58] Dedal-O commented on #4400
Rcently meet similar bug. Also `ps aux | grep celery` showed more processes than workers started, twice more.  Appending parameter `--pool gevent` to command launching celery workers lowered number of processes to exact number of started workers and celery beat. And now i'm wathnig my tasks execution.

[2019-01-02 04:23] mvaled opened #5265 "Complex canvas when using Redis 3 raise AttributeError: 'dict' object has no attribute 'clone'"
WARNING:  I'm still trying to collect all the necessary details and, if possible, provide a reproducible example.  For the time, the error is happening constantly in one server, but doesn't happen in another one with the same source code.

I'm getting the following:

[code]

When trying to execute a complex canvas.  The canvas itself is dynamically created.  We have a single task that dispatches t

[2019-01-03 08:41] YuZongYangHi opened #5267 "4.2.1 --> bug"
[2019-01-03 16:39:17,487: DEBUG/ForkPoolWorker-6] utf-8  confidence = 0.99
[2019-01-03 16:39:17,487: DEBUG/ForkPoolWorker-6] SHIFT_JIS Japanese confidence = 0.01
[2019-01-03 16:39:17,487: DEBUG/ForkPoolWorker-6] EUC-JP Japanese confidence = 0.01
[2019-01-03 16:39:17,488: DEBUG/ForkPoolWorker-6] GB2312 Chinese confidence = 0.01
[2019-01-03 16:39:17,488: DEBUG/ForkPoolWorker-6] EUC-KR Korean confide

[2019-01-03 08:42] YuZongYangHi commented on #5267
Work keeps executing tasks in a dead cycle, and doesn't listen to beats at all.

[2019-01-03 13:33] sparrowt commented on #5026
The docs are actually correct, but it took me a while to figure out why - I'll explain in case it helps others.

`CELERY_ROUTES` is the old celery setting name which has now been replaced by `task_routes`. However if you want to specify Celery settings in a _Django_ settings file, they must be upper-case as required by Django docs. This would mean adding `TASK_ROUTES` to your Django settings file,

[2019-01-03 13:44] sparrowt commented on #4198
If you come here confused about the difference between `CELERY_ROUTES` and `CELERY_TASK_ROUTES` (or `CELERY_QUEUES` & `CELERY_TASK_QUEUES`) then take a look at [this comment on a related issue](https://github.com/celery/celery/issues/5026#issuecomment-451143900).

[2019-01-03 15:05] matusvalo commented on #5180
@thedrow I have fixed failing kombu tests - see PR https://github.com/celery/kombu/pull/978. Tests were using pyamqp library from master. The tests broke PR https://github.com/celery/py-amqp/pull/221.

[2019-01-04 01:47] alexandernst commented on #3023
Why close it? Leave it open and put a label such as `help wanted`

[2019-01-04 17:42] MRigal commented on #5180
Maybe a low hanging fruit would be to fix the couple `DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working`

[2019-01-04 18:49] anderoonies commented on #5072
still experiencing this. i've done the workaround of restarting the workers on a cron, which isn't great, but it works 🤷‍♂️

[2019-01-05 01:09] jcald1 opened #5268 "Celery worker in Docker exits with exit code 0"
I have a Python Celery docker service that I'm trying to run, but it's exiting with status code 0, whether running the docker-compose command for all the services, or just for celery after the other 2 have started up.  If I go into my flask docker container and run the command in the command line, Celery does start up.

The sh fix_celery_naming.sh just fixes an issue with the naming in celery, whi

[2019-01-05 16:39] mvaled commented on #5265
This went away after updating the redis server.  The server showing the error was using redis 3.  After upgrading to redis 4 the issue went away.

[2019-01-06 02:05] mvaled commented on #5265
I could reproduce the error in my box using redis 3.

@thedrow  Should we reopen this, or let just this issue as historical note.  I don't really know how many people with be affected.  Redis 5 was release some weeks ago.  Maybe must people are using Redis 4.

[2019-01-06 02:11] mvaled commented on #5265
Opps! I have just been hit by the same error with Redis 5.  So, I'm guessing I was just lucky when I upgraded the server in the failing box.  I'm reopening, till I know more.

[2019-01-06 03:17] swang2017 commented on #4654
I got the same error while installing celery on AWS elastic beanstalk with SQS.  On my localhost , everything is fine though.

On my  Elastic beanstalk, the log shows pycurl==7.43.0.1 has been satisfied already, I still got the error.
" yum install -y libcurl-devel python-devel" did not solve the problem.

Could anyone please give me a help? Thanks a lot

[2019-01-06 04:02] mvaled commented on #5265
The only workaround I have found to make this issue gone in my case, is to change the `link_error` method from:

[code]

to:

[code]

No explanation or reproducible scenario yet.

[2019-01-06 10:53] thedrow commented on #5265
The fix itself makes sense.
Though a more preferable solution would be:
[code]

I'd still would like to see a test case so that we can include it in our test suite.

[2019-01-07 06:11] est commented on #591
@suzaku  well that's disappointing.

somewhat related:

https://github.com/celery/celery/issues/2786

[2019-01-07 07:19] rabbit8ge commented on #4457
FYI. In my case, I used chain to run task2 after task1 finished. When the return value of task1 is too large (~100M) and large number of tasks are executing at the same time, the problem occurs. Set and get return value to redis by myself resolved the problem.

[2019-01-07 11:33] thedrow commented on #5268
Can you please provide more information?
How does Celery's log look like?
What happens when you try to start Celery without Docker?
How is `fix_celery_naming.sh` related and what's it's contents? We didn't provide such a script.
What's wrong with it in relation for Python 3.7?

[2019-01-07 11:35] thedrow commented on #5237
Can you please provide a test case I can use to reproduce the problem?
Preferably one that we can execute.

[2019-01-07 12:49] thedrow opened #5269 "Change test worker configuration during testing"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

Version 4.2.x

## Steps to reproduce
Create a fixture that changes the app's configuration after the test worker has already sta

[2019-01-07 16:02] #5056 closed

[2019-01-07 16:20] maarcingebala opened #5271 "'Function' object has no attribute 'get_marker'"
## Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
      (if you are not able to do this, then at least specify the Celery
       version affected).
- [x] I have verified that the issue exists against the `master` branch of Celery.

In Pytest 4.1.0 the `get_marker` function was removed, but it is used in Celery 4.2.1. It isn't used anymore on `master` however

[2019-01-07 21:58] ransford commented on #5271
It appears the relevant fix to celery is in #5097. Since pytest is so common, does this merit a minor version bump to 4.2.2?

[2019-01-08 07:52] WisdomPill opened #5272 "dockerized worker with redis gives broken pipe at every startup"
Healthcheck fails after a few tries about in 5 minutes, and when I ping all the workers using
[code]
I don't find the worker, I find the other ones by the way.
I have three dockerized workers, using Amazon ECS two of which have light work to do and are not dependent on a VPN so I'm using fargate and the one that gives me problems is on EC2 using host networking mode in a server with a VPN. The oth

[2019-01-08 13:26] Ankita-Das opened #5273 "ImportError: cannot import name 'App'"

[2019-01-08 14:55] dromer commented on #4895
We're having the same timeout and loop issues as described in the original post, using ```Celery 4.2.1```.

Reverting to ```4.1.1``` seems to have fixed it, so far.

Hope this issue gets resolved soon.

[2019-01-08 15:01] thedrow commented on #4167
The fix is now merged and scheduled for release on 4.3.

[2019-01-08 15:05] #4167 closed

[2019-01-08 15:38] alwaysused commented on #5273
Hi.I think maybe you got a circular references about celery.Examining your import chain in your file would help.

[2019-01-08 16:35] #5273 closed

[2019-01-08 16:47] auvipy commented on #5271
this should be addressed in 4.3 release soon

[2019-01-08 18:03] WisdomPill commented on #5272
I changed the start worker script, I'm not using autoscale anymore, I'm using the concurrency parameter directly.

[code]

[2019-01-08 18:08] WisdomPill commented on #5272
Found two related issues #4363 in celery and [https://github.com/celery/kombu/issues/681](url) in kombu

[2019-01-08 18:08] thedrow commented on #5272
Could you please attach the Redis log when the connection is severed? It could be that we're sending a large amount of data? See https://github.com/andymccurdy/redis-py/issues/986, https://github.com/antirez/redis/issues/4888 and https://stackoverflow.com/questions/43204496/broken-pipe-error-redis.
It could be that you are creating a canvas large enough to generate a payload that redis rejects.
Co

[2019-01-08 18:10] thedrow commented on #5272
How is this related to https://github.com/celery/celery/issues/4363?

[2019-01-08 18:14] thedrow commented on #5271
Since this is already resolved I'm going to close this.
This enhancement is going to be a part of 4.3.

[2019-01-08 18:14] #5271 closed

[2019-01-08 18:14] thedrow commented on #4895
Can you guys please try https://github.com/celery/kombu/pull/779?
It could be related.

[2019-01-08 18:51] thedrow commented on #5260
The only reason we have to release any 3.x version is because of an issue in our compatibility layer between the v1 and v2 protocol.

[2019-01-08 18:52] thedrow commented on #5226
@auvipy ?

[2019-01-08 19:15] WisdomPill commented on #5272
Sorry, my bad, I confused the issue subject, I will remove the comment, does this remove also the reference in GitHub?

[2019-01-08 19:19] WisdomPill commented on #5272
@thedrow no, I haven't tried it yet with rabbit, I use elasticache in AWS so I can't get the redis logs I will try to reproduce it locally, maybe with the same data in order to have the same load

[2019-01-08 19:23] WisdomPill commented on #5272
I'm quite sure it's not a size issue, I mean, all the parameters that I pass are either, booleans, strings, numbers ir really small dictionaries(one key, sometimes two)

[2019-01-08 20:50] thedrow commented on #5272
Yes.

[2019-01-08 20:58] jcald1 commented on #5268
@thedrow , it turns out that that I needed to use "bash -c" to be able to execute multiple commands.  The 0 exit code was probably from the first command, which executed successfully, but Celery itself never started.

[code]

[2019-01-08 20:58] #5268 closed

[2019-01-08 21:43] kingb commented on #4185
@hedleyroos, you may also have this problem #4895? We're running Celery v4.1.x to avoid that problem.

[2019-01-09 02:05] alwaysused commented on #5209
And if you want to look at the state of the task only by task_id, you can use :
status = AsyncResult( id).status.The query is blocking which sent a request to your backend line database to get the status.

[2019-01-09 13:31] last-partizan commented on #4876
Hello.

I see only one solution here:

1. Revert pull request https://github.com/celery/celery/pull/4148 - broker_heartbeat is worker-only option and should not be used for client connections. It fixes this issue.
2. If someone needs client-side broker heartbeat - it must be separate option and with heartbeat_check.

[2019-01-09 15:45] hedleyroos commented on #2484
Unfortunately https://github.com/celery/kombu/issues/236 is locked and my observation would have been better to add there, but adding it here to avoid creating a new issue.

When running celery over a slow network, basically anything outside of a LAN, I get the error intermittently. The issue seems to be in kombu, not celery, where the response from the Redis server to the worker takes a long time

[2019-01-10 06:42] hedleyroos commented on #4185
@kingb yes I do have that problem. I wanted to avoid downgrading to 4.1 and switched to Redis as broker but still encountered the same issue. Luckily Redis has a `tcp-keepalive` option that I set to 60 seconds. This means Redis will terminate what it considers stale connections, and this in turn leads to the worker breaking out of the deadlock and start consuming tasks again.

[2019-01-10 09:32] rafikmak opened #5278 "Tasks are sent (created) but not executed during 24 hours"
Hello Celery team,

Periodically and during 24 hours interval, all celery beat tasks are just sent but not received and executed. At the end of this period of inactivity (same minute 24 hours later), we get an exception. After this exception, Celey tasks work again during 24 hours exactly. Logs are given below. Have you any idea on the reason of this issue ? We are experiencing this on all our ser

[2019-01-10 10:58] maximekl commented on #5278
hi, same here some of my scheduled tasks are not executed since a range from 2 weeks.

[2019-01-10 12:43] antoarva commented on #4019
+1

[2019-01-10 16:32] Nilad opened #5280 "Celery stop with 1 task"
## Environment & Settings
**Celery version**: 4.2.1 (windowlicker)

**Report**:
<details>

[code]
</details>

# Steps to Reproduce

## Required Dependencies

* **Minimal Python Version**: Python 3.6.7 (default, Oct 22 2018, 11:32:17)
* **Minimal Broker Version**: N/A or Unknown
* **Minimal Result Backend Version**: N/A or Unknown
* **Minimal OS and/or Kernel Version**: : N/A or Unknown

### Python

[2019-01-10 21:44] jjorissen52 commented on #3631
In my case, my workers were choking on objects that were children of `BaseException`. Changing them to `Exception` seems to have resolved my issue.

[2019-01-11 06:41] ikonst opened #5281 "SQS MessageDeduplicationId"
Is there a way to propagate a value as the SQS `MessageDeduplicationId`? Kombu supports it as a message property, but I cannot see a way to propagate it from a Celery task's enqueueing.

Also, it could potentially be propagated from a Task Id, although I'm not sure whether Task Ids being de-duped on will break the existing contract.

[2019-01-11 10:12] alwaysused commented on #5280
Hi.I think the problem will be in the message backend.Try to restart rabbitmq .

[2019-01-12 12:55] okomarov opened #5282 "Problem with factory pattern and init_app() workaround"
- [ ] I have verified that the issue exists against the `master` branch of Celery.

## Environment & Settings
**Celery version**: 4.2.1 (windowlicker)

**Report**:
<details>

[code]
</details>

# Steps to Reproduce

## Required Dependencies
* **Minimal Python Version**: 3.7.2
* **Minimal Broker Version**: N/A
* **Minimal Result Backend Version**: N/A
* **Minimal OS and/or Kernel Version**: : N/A

[2019-01-12 21:35] Strangerxxx commented on #4079
Thanks @yardensachs!
Spend many time for debugging what's wrong with other solutions, but no way
Seems like `celery inspect ping` command do not return exit(0) or something in that way

[2019-01-13 13:30] thedrow commented on #5180
py-amqp 2.4.0 is now released.
Next in turn is Kombu.

[2019-01-13 22:39] donkopotamus commented on #4308
Sorry, I haven't had the time to prepare a pull request (along with the required tests) ... partly as I'm unable to move to `celery-4.2` in any of our environments for testing ... but in case it is useful for anyone at this stage, here is our custom `Task` type that handles decoding errors

[code]

[2019-01-14 08:32] halfdan commented on #5180
@thedrow What's missing for the 4.3 release? The Kombu PR seems to be merged already - are we waiting for a new release of Kombu? Are we waiting for fixes to everything in https://github.com/celery/celery/milestone/20?

Trying to see where I can help.

[2019-01-14 08:55] deounix opened #5284 "Celery beat wont work if I didn't set log-level=debug -_-"
# Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
    (if you are not able to do this, then at least specify the Celery
     version affected).
- [x] I have included the contents of ``pip freeze`` in the issue.
- [ ] I have verified that the issue exists against the `master` branch of Celery.
- [ ] I have tried reproducing the issue on more than one message b

[2019-01-14 09:21] deounix commented on #5284
On linux os: works
On windows os: not

[2019-01-14 10:01] thedrow commented on #5180
I need to triage the issues which are critical for Kombu 4.3.
Anything in https://github.com/celery/celery/issues?q=is%3Aopen+label%3A%22Status%3A+Needs+Test+Coverage+%E2%9C%98%22+milestone%3Av4.3 or https://github.com/celery/kombu/pull/911 will help.
I think we're pretty much ready for a release of Kombu but I need to verify.
In the meanwhile I'm working on release notes.

[2019-01-14 11:17] thedrow commented on #5180
Can we also please resolve the dispute in #5259?

[2019-01-14 12:01] mkielak opened #5286 "Chain of chords takes all resources and fail"
I'm using celery for simple system executing tasks in order. I.e. [[1], [2,3], [4]] - in such case I want task 1 to be executed first, after it finishes I want to execute 2 and 3 parallel and then when both of these tasks finished I want to execute task 4. Simple.

For that case I'm using chain and chords (for parallel) or tasks inside chain. It seems that everyting works untill number od chords i

[2019-01-14 13:19] RomainDLS commented on #5278
When experimenting this problem, the first line of log after the "not executing tasks" period is :
`[2019-01-12 16:22:49,897: WARNING/MainProcess] consumer: Connection to broker lost. Trying to re-establish the connection...`

[2019-01-14 15:37] 007 commented on #5259
https://github.com/celery/celery/blob/9b39fc41998c708c6612f0c7bf4393bf48f72e9b/celery/app/defaults.py#L246 says it's `False` by default, and everywhere else it's initialized explicitly says `None` so this should override.

[2019-01-14 17:19] pranav08 commented on #4855
I am facing exactly same issue. I noticed whenever there is slightly high load, all 4 celery workers get stuck at FUTEX_WAIT_PRIVATE.

[2019-01-14 20:43] okomarov commented on #5282
Figured the problem. Was related to our imports.

The [solution](https://stackoverflow.com/a/14146403/2180721) suggests:

app.py

[code]

It is paramount you do NOT do this:

[code]

Start celery workers with `celery worker -A app:celery -l info -f celery.log`. Note the `app:celery_app`.

In other files you can still import from extension: `from extensions import celery`.

[2019-01-14 20:43] #5282 closed

[2019-01-15 14:19] sparrowt commented on #3383
Although the pickling issue is fixed (presumably by https://github.com/celery/billiard/pull/225) I'm still seeing the 2nd error shown above:
[code]
on celery 4.2.1 when running celery worker with `--pool prefork` argument.

I know Windows is not technically supported but @auvipy your comment suggests that perhaps Windows support has returned in some form, is that correct? Does anyone know how to f

[2019-01-15 14:51] Jiydam commented on #5002
Upgrading to 4.2.0 fixed the issue for me.

[2019-01-15 16:46] swt2c commented on #251
I tried this method.  Unfortunately, if the client holding the NFS lock loses connectivity to the NFS server, the lock can be revoked by the NFS server and given to another client.  When the original lock holder regains connectivity, flock doesn't realize that the lock has been revoked so now there are two nodes believing they are the 'leader.'

[2019-01-15 22:18] rrauenza commented on #251
I ended up using an advisory lock in Postgres.  I made a Django management command that uses the django_pglocks module and runs celery beat in a subprocess.

[2019-01-16 08:37] Nilad commented on #5280
@alwaysused Thank for your reply. I make this `sudo systemctl restart rabbitmq-server.service` and it is not change the problem. I continue to use celery with `nohup` :hushed:

[2019-01-16 19:48] larsrinn commented on #5180
And the same for #5206 . I opened #5289

[2019-01-16 21:11] larsrinn commented on #5180
About that `StopIteration` stuff: In Kombu it was changed to not "convert" the `ValueError` to `StopIteration` https://github.com/celery/kombu/pull/972/files

However, in celery `worker.loops.asynloop` a `StopIteration` error is catched and a new loop is created in that case. Won't the change in kombu without a change in celery cause some issues? Because now instead of creating a new loop, the exi

[2019-01-17 06:52] fishballLin opened #5290 "ready function of group task will re-raise the exception of task with Redis result backend"
# Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
    (if you are not able to do this, then at least specify the Celery
     version affected).
- [x] I have included the contents of ``pip freeze`` in the issue.
- [x] I have verified that the issue exists against the `master` branch of Celery.
- [x] I have tried reproducing the issue on more than one message b

[2019-01-17 16:00] swt2c commented on #251
This seems like it could be susceptible to the same issues that I saw with using NFS.  What happens if the client holding the lock loses connection with the Postgres server, or if the Postgres server is restarted?

[2019-01-17 19:28] sunweiyang opened #5292 "Celery with Redis broker in Django: incorrectly persisting Redis keys and connections remain"
Our Heroku-deployed Python server (Django 1.11.17) uses Celery 4.2.1 with a Redis 3.0.1 broker.

The Celery tasks we have (all `@shared_task`s, as is typical for Django) should definitely have completed within a minute (median completion time is ~100 ms), but we're seeing that Redis keys and connections are persisting for much longer than that (up to 24 hours). Otherwise, tasks are being executed

[2019-01-17 21:59] thedrow commented on #5180
@larsrinn please open an issue about it so we won't forget to look into it.

[2019-01-18 05:56] tonal commented on #4185
I have freeze for celery==4.2.1, billiard==3.5.0.5, kombu==4.2.2.post1, amqp==2.4.0, Python 3.6.8, RabbitMQ, MongoDB v 4

[2019-01-18 10:54] c-o-l-o-r commented on #4213
Was there ever any progress on this?

[2019-01-18 10:59] codeSamuraii commented on #4084
I'm having a similar issue.

I have a group of task executing correctly when using the AMQP backend. When switching to RPC, the group task never finishes and blocks on the `group_result.get()` statement.

[2019-01-18 12:08] manojmspython commented on #4957
Hi Gents, would i be able to expect a Release date for celery 4.3.
I am waiting for the following fixes
https://github.com/celery/celery/issues
https://github.com/celery/celery/issues/4995

[2019-01-19 08:42] thedrow commented on #4213
Not yet. I will try to do this in the next version.

[2019-01-19 09:00] gsemet commented on #4213
For information, I did an airflow chart based on celery, but I think there could be much more in a celery chart (multi queue, autoscaler,...)

[2019-01-19 10:35] roman-ku commented on #3316
Was this ever fixed for Celery 3.1.25 (the last working Windows version)?

My celery listens to `CELERYD_CONCURRENCY` but not `CELERY_TIMEZONE`

[2019-01-20 07:51] ssikyou commented on #4843
Maybe same cause with [#5047](https://github.com/celery/celery/issues/5047), it seems this bug can lead to different phenomenon.

[2019-01-21 13:30] TopcoderWuxie opened #5296 "Task execution process blocking"
I used version is：
python3.4.3
celery3.1.25
rabbitmq3.7.8

When the program is executed for a period of time, there will be some tasks blocked. The research found that rabbitmq did not receive ack. I tried many ways to find solutions, but I didn't find them. I use group()().get() at the outermost level to receive execution results, which results in my program blocking all the time. How can we solv

[2019-01-21 13:47] richardsonlima commented on #5175
Worked thank you !!

[2019-01-21 18:04] ychouinard commented on #5013
Had the same issue when tasks were created from another project using send_task(). The other project was configured with `task_serializer = 'pickle'` and the worker was configured with the default `'json'`.

Getting both our projects to use `'pickle'` fixed the issue.

[2019-01-21 19:43] sunweiyang commented on #5292
Resolved my own question: if the `CELERY_IGNORE_RESULT` config variable is set to `True` (which I'm able to do because I don't use any return values from my tasks), then the keys and connections are back under control.

Source: [Celery project documentation][1]

  [1]: http://docs.celeryproject.org/en/3.1/configuration.html#std:setting-CELERY_IGNORE_RESULT

[2019-01-21 19:43] #5292 closed

[2019-01-21 20:32] mvaled commented on #5265
I've been unable to create a test case.  I created PR #5297 in the mean time.

[2019-01-22 08:20] luckydonald commented on #3631
@jjorissen52  "_choking on_" as in "trying to have those as parameters to the `.delay`ed function"?

[2019-01-22 08:34] SilenCELIkemes opened #5298 "wait minutes later and send task again"
when  I  receive a False through the task，I want to  wait minutes and send this task again，please add this feature in next release，thank you

[2019-01-22 08:38] SilenCELIkemes commented on #5298
if  this feature already in current release，please tell how to use it and send it's api document to me。thank you so much。

[2019-01-22 10:11] aliaksandrmelnik1 commented on #5072
I have the same problem.

[2019-01-22 13:18] clokep commented on #5298
Can you describe your use-case a bit more? It sounds very specific (and probably capable with the current API).

[2019-01-22 14:17] jjorissen52 commented on #3631
@luckydonald

That's the one!

[code]
Yields

[code]

[2019-01-22 15:34] clokep commented on #5298
Instead of returning `False`, you can automatically retry as part of the task: http://docs.celeryproject.org/en/latest/userguide/tasks.html#retrying

If you look down a little bit there's a `default_retry_delay` that can be customized.

[2019-01-22 16:47] tuky opened #5299 "Celery worker using 100% CPU around epoll w/ prefork+SQS but still consuming tasks"
## Environment & Settings
**Celery version**:
- celery==4.2.1 but also tried the latest master, where the problem also occurs:
- -e git+https://github.com/celery/celery.git@c1d0bfea9ad98477cbc1def99157fe5109555500#egg=celery
- django-celery-beat==1.4.0
- kombu==4.2.2.post1

**Report**:
<details>

[code]

</details>

# Steps to Reproduce

## Required Dependencies

* **Minimal Python Version**: 3.6

[2019-01-22 19:26] salty-horse opened #5301 "docs: undocumented use of CELERY_CACHE_BACKEND in django-celery-results"
# Description

When using `django-celery-results` with the `CELERY_RESULT_BACKEND = 'django-cache'` setting, it is possible to use the `CELERY_CACHE_BACKEND` to specify a Django cache other than `default`.

This is undocumented. Furthermore, the Configuration page of the user guide [describes](http://docs.celeryproject.org/en/v4.2.0/userguide/configuration.html#std:setting-cache_backend) this sett

[2019-01-23 05:47] PeterBeklemishev commented on #5262
Source of this - incorrect ImportError handling when celery tries to import tasks.
see https://github.com/celery/celery/pull/5211

[2019-01-23 07:47] alvarolloret opened #5302 "ERROR/MainProcess] consumer: Cannot connect to amqp://guest:**@127.0.0.1:5672//: Socket closed."
# Checklist

- [ ]  output of ``celery -A proj report``:

[code]

- [ ]contents of ``pip freeze`` in the issue.

I am using pipenv. Pipfile:
[code]

# Steps to Reproduce
I am in WSL:
1. sudo apt-get install rabbitmq-server
2. sudo service rabbitmq-server restart
3. chmod -R 777 ./     ## otherwise I don't have permissions

### Other infos
tasks.py:

[code]

rabbitmqctl status:

[code]

## Output:

[2019-01-23 09:40] matusvalo commented on #5302
@alvarolloret can you telnet 127.0.0.1:5672? If yes, maybe try to connect to rabbitmq using just py-amqp library if you are able to.

[2019-01-23 09:55] alvarolloret commented on #5302
I'm gonna try it in 2h! I'll keep you updated

[2019-01-23 10:55] PhungXuanAnh commented on #3848
Anyone has workaround for this issue?
@Salamek could you share your custom RPC result backend for this issue

[2019-01-23 12:54] alvarolloret commented on #5302
So I just tried :  `telnet localhost 5672` with the following output:

[code]

[2019-01-23 13:41] alvarolloret commented on #5302
Tried with pika. So far i've done in terminal:
`pip install pika`

then in python I executed:

[code]

Which also gave me an error:

[code]

[2019-01-24 00:41] dougthor42 opened #5303 "Add an option to load configuration from a file, rather than an importable module."
# Checklist

- [x] I have checked the issues list for similar or identical feature requests.
    - I searched for the following terms and found nothing: "config from_pyfile", "config_from_pyfile", "flask-like config loading from file not module", "config from pyfile not module"
- [x] I have checked the commit log to find out if a feature was already implemented in master.
    - OK, I lied: I didn'

[2019-01-24 03:08] akath20 opened #5304 "GitCommandError yields TypeError: __init__() takes at least 3 arguments (1 given)"
## Environment & Settings
[code]

# Steps to Reproduce

In the middle of a task, Git had a failed operation causing the task to fail. The task result is simply populated with `{"exc_type": "GitCommandError", "exc_message": [], "exc_module": "git.exc"}` causing backends/base.py line 254 to try and instantiate GitCommandError class with only one argument but it expects 3. Removing the result and set

[2019-01-24 15:43] ericman93 opened #5305 "Num of workers for different runs"
# Checklist

- [X] I have checked the issues list for similar or identical feature requests.
- [X] I have checked the commit log to find out if a feature was already implemented in master.

# Brief Summary
manager num of workers per apply_async

# Design

## Architectural Considerations
None

## Proposed Behavior
Most of the time I want to use the default num of workers. But in some cases, I would

[2019-01-24 17:48] arthurlogilab opened #5306 "Tasks running multiple times with CELERY_ACKS_LATE and visibility_timeout"
# Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
    (if you are not able to do this, then at least specify the Celery
     version affected).
- [x] I have included the contents of ``pip freeze`` in the issue.
- [ ] I have verified that the issue exists against the `master` branch of Celery.
- [ ] I have tried reproducing the issue on more than one message b

[2019-01-24 21:26] rclecha commented on #5057
I'm hitting this too. Is there at least a workaround?

[2019-01-25 02:05] shaoeChen commented on #3932
hi.
i have the same problem when i use package version celery 4.2.1 and amqp 2.4.0.
now i try celery 4.2.1 and amqp 2.3.2, it seems good.
work well.
hope can help somebody who have the problem.

[2019-01-25 02:57] amahlaka commented on #5180
Will this include fix for the async issue?
i hope this gets released as soon as possible.

[2019-01-25 05:34] georgepsarakis commented on #5057
@rclecha @oskarsinger can you try the following:

[code]

[2019-01-25 07:39] larsrinn commented on #5180
Yes, I'm waiting for it, too.

But I must say I'm a bit afraid about the future of celery. Python 3.7 is out for 7 months already and still not supported. I know this project is run by volunteers who probably have a ton of other things to do. But I contributed a couple of PRs in the past weeks, mostly adding test coverage and getting the CI to pass. It seems like none of them has been looked at, l

[2019-01-25 08:08] OskarPersson commented on #3810
I'm having the same problem given the test provided above using the following setup (master):

[code]

[2019-01-25 10:44] tinylambda opened #5307 "Why there's not a classic thread pool"
We have prefork, eventlet/gevent pools, and can run worker in solo mode.

it looks like that solo-mode worker is a single thread worker, but it's not really a pool. it does not support warm shutdown correctly(all tasks in solo-mode worker will shutdown immediately but not to wait them to finish when stopping the worker, event after setting CELERY_ACKS_LATE=True)

If we can have a classic thread po

[2019-01-25 11:02] tobami commented on #5180
It would be a great improvement to the project to do much smaller releases. 4.3 is a big release that still needs work, and in the meantime many users have critical issues like the [severe memory leak](https://github.com/celery/celery/issues/4843), which could get fixed quickly in a 4.2.X release. Even contributing a particular fix is not very useful because it will not be released for months.

[2019-01-25 12:42] tinylambda commented on #3631
I met the same issue, But the tasks finishes correctly, no lost tasks.

what confused me is "billiard.exceptions.WorkerLostError: Worker exited prematurely: exitcode 0."
How to define "prematurely"?

as you can see, the exitcode is 0, which imply that this is a normal shutdown, in this case, the exception should just be caught and do nothing (or just log some message)

[2019-01-25 19:43:15,078: ER

[2019-01-25 13:02] clokep commented on #5307
I think there's a PR to add this, see #5099.

[2019-01-25 13:20] tinylambda commented on #5307
Cool~

[2019-01-25 13:20] #5307 closed

[2019-01-25 19:37] georgepsarakis commented on #4878
As @colinrieger [pointed out](https://github.com/celery/celery/issues/4878#issuecomment-440063737), Celery takes into account the Django [CONN_MAX_AGE](https://docs.djangoproject.com/en/2.2/ref/settings/#conn-max-age) setting. So you will need to set it to zero, for the workers specifically, so that you revert to the previous behaviour.

[2019-01-25 20:18] matusvalo commented on #5180
@larsrinn I will review your PR if I will have time.

[2019-01-25 23:46] pansen commented on #3642
You can override this fixture from Celery contrib and it wont search for the ping task anymore.

[code]

[2019-01-26 11:07] halfdan commented on #5180
I definitely agree with the above statements. Python 3.7 support is the most important thing for me right now.

Is there an option to add additional maintainers?

[2019-01-26 16:01] tinylambda commented on #3631
I created a PR for this **very old** issue, anyone can verify it ?
https://github.com/celery/celery/pull/5308

[2019-01-26 16:35] vikvns opened #5310 "Function annotated with @worker_process_init.connect is not getting called"
### Description
Function annotated with @worker_process_init.connect is not getting called when worker processes are starting.
### Environment & Settings
**Python**: Python 2.7.10
**Celery version**: 4.2.1

**Startup**
[code]

**tasks.py**
[code]

### Steps to Reproduce
Start worker
[code]

### Expected Behavior
worker_process_init_handler is called on startup.
worker_process_shutdown_handler is c

[2019-01-27 14:06] liormaynhypr opened #5311 "does a celery task remain in the same worker when retried ?"
# Description
could you please try and help me understand if a task returns to the queue when retried or remains in the worker's memory?
can't say for sure that something is missing in the documentation, but i couldn't find an explanation for this or something that tells me for sure what happens in this case?
https://stackoverflow.com/questions/54387941/celery-retried-messages-remain-in-same-worke

[2019-01-28 03:02] shazoom commented on #4376
I just retried with a new virtualenv and it seems the test now works as expected 😊

[code]

[2019-01-28 03:03] #4376 closed

[2019-01-28 13:30] clokep commented on #5311
I'm fairly certain that Celery just puts the task back in the broker's queue during a retry (meaning...that no, there's no guarantee it will end up at the same worker). This also seems to match the answer given on StackOverflow.

[2019-01-28 13:47] liormaynhypr commented on #5311
@clokep
that's what i think should happen too , but as i explained in the question - i tried and saw a different result.. (with perfect multiplier and concurrency set to 1)

[2019-01-28 14:17] #5310 closed

[2019-01-28 14:19] vikvns commented on #5310
Typo in function name. Both handlers are having the same name causing the issue.

[2019-01-28 18:30] #5296 closed, assigned to nobody

[2019-01-28 20:19] gsmethells commented on #4003
If the documentation says it is there, then I do not see how anyone could argue that it isn't supported. It is a bug until the documentation reflects that it was deprecated (properly! where usage causes an error!) and the CHANGELOG calls it out in explicit terms. Fix this situation before you muddy the reputation of this project.

[2019-01-29 00:36] rsyring commented on #4627
I'm running into the problem of infinite connection retries when first starting Celery:

Using a bad port number deliberately for demonstration purposes: `amqp://guest@localhost:5679//`
[code]
The key to me was seeing "sin_port=htons(5679)" repeated over and over again, indicating a repeated attempt to connect to the broker.

I have the config set:

[code]

But it does not seem to apply.  The conn

[2019-01-29 06:58] auvipy commented on #5301
could you send pr for the changes?

[2019-01-29 08:35] famagusta opened #5314 "duplicate consumer registered"
Sometimes the celery worker is printing the following message
"Received and deleted unknown message. Wrong destination?!?"
This happens on every alternate message.
On further investigation I could seeing a duplicate consumer in rabbitmq (list_consumers).
I use supervisor to run the workers. Any idea why this behaviour is happening?

[2019-01-29 13:05] clokep commented on #5301
Should this be documented in `django-celery-results`, not in Celery itself?

[2019-01-29 13:49] salty-horse commented on #5301
Ideally both, but `django-celery-results` documentation is unfortunately empty, and all the guides on how to install it are in Celery's docs, so it might as well stay in Celery.

That, and Celery's docs mention `CELERY_CACHE_BACKEND` already, which needs to be updated.

[2019-01-29 14:01] clokep commented on #5301
Oops, I didn't realize that! Sorry for the noise then! 🤐

[2019-01-29 15:06] guettli opened #5315 "Docs still favor init.d"
# Description

The page "Daemonization" starts with the dated init.d way:

http://docs.celeryproject.org/en/master/userguide/daemonizing.html

Systemd is available today nearly everywhere.

Please update the docs, and start with a systemd service file.

[2019-01-30 08:35] mygitnote opened #5316 "please help me. can you chinase?"
我有个一个问题，为什么python manage.py celery worker -l info,在linux（openSUSE）系统上启动过程和在Windows上不一样。我现在程序在Windows上运行ok，就是用paramiko这个库利用celery异步执行在远程服务器上执行命令，在linux发起task 的时候报错。
`[tasks]
  . XH.celery.debug_task
  . schedule.tasks.SyncTaskDispatcher

[2019-01-30 07:40:35,441: INFO/MainProcess] Connected to amqp://yxh:**@127.0.0.1:5672/vhost
[2019-01-30 07:40:35,464: WARNING/MainProcess] celery@SZX1000387127 rea

[2019-01-31 04:30] laixintao opened #5317 "Consider send celery event using redis stream?"
# Checklist
* [x] I have checked the issues list for similar or identical feature requests.
* [x] I have checked the commit log to find out if a feature was already implemented in master.

# Brief Summary

I setup my own celery `event` consumer (using redis as broker), but I can only have 1 process consume the event, if the process is down, then will cause outage. I can't set multiple event consum

[2019-01-31 06:05] mygitnote commented on #5316
now, python manage.py celery worker -l info -P threads running is ok, but with prefork is wrong.

[2019-02-01 01:10] ransford commented on #5180
Celery is slightly broken against current pytest (another popular module); #5271 describes the problem and #5097 fixes it. Perhaps if the 4.3 release is becoming too daunting, a minor version bump to 4.2.2 could roll up several smaller fixes (#5271 and other bug fixes)? I realize this is probably easier said than done, but it might allow a bunch of us to rejoin the release cycle instead of maintai

[2019-02-01 07:38] #5298 closed

[2019-02-01 09:31] lk-geimfari commented on #5180
Celery exactly needs sponsorship. This is a commonly used Task Quee so it's must be maintained, but no one wants to maintain the project for free. So, maybe it makes sense to run crowdfunding or something like this to collect the money?

[2019-02-01 10:05] farhaanbukhsh commented on #4378
Hey I want to try and fix this @auvipy can you help me narrow it down?

[2019-02-01 16:51] menecio commented on #4843
We are facing the same memory leak running Celery 4.2.1, Kombu 4.2.2 and python3.6 with RabbitMQ as broker.

[code]

I can say we have tried many things that other people mentioned as possible workarounds (redis as broker, using jemalloc, libamqp, monkey path `__del__` on `AsyncResult`) but we always ended up having memory leaked.

By analysing our log we noticed that we had a lot of messages rela

[2019-02-01 18:37] auvipy commented on #4457
@rabbit8ge could you come up with a pr with an appropriate fix?

[2019-02-01 19:40] auvipy commented on #5180
so which companies are going to sponsor our work? Is anyone interested? I will be very much interested to get some companies backing my time for working with celery part time/full time!

[2019-02-01 19:56] antoine-gallix commented on #5180
I'm sure if there was a proper setup for regular donations, it would be easier for companies to just subscribe for a monthly support and forget about it. This might be the source of a more stable income than a simple paypal one-time donate button. I could easily convince my company to do so for example, than asking them to give a lot in one go, or to remember them to make a manual regular donation

[2019-02-01 19:58] bsod90 commented on #5180
I think sponsorship is very possible, but you need to plant the idea in people's heads. E.g. outside of this thread, nobody even thinks that this project may need support, they just download and install celery and think it just "exists". I think, if you guys had started a fundraiser, a lot of companies would donate.
I saw the donation link in the README and contributed a bit from a personal accoun

[2019-02-01 21:30] luckydonald commented on #3631
To understand better, why is it working with a `Exception` (i.e. logging a stacktrace)
but not with a `BaseExcepton` (crashing abnormally)?

From my simple testing having a `try` block somewhere in the worker-launcher block which calls the `@celery.task` function would be enough to handle it correctly, without crashing the worker?
[code]

[2019-02-03 06:35] #5302 closed

[2019-02-03 16:59] auvipy commented on #4851
could you check https://github.com/celery/celery/issues/3642#issuecomment-457773294

[2019-02-03 17:00] #5002 closed

[2019-02-04 07:04] rinkuameotech commented on #943
I am having the same issue it is firing the task every second
I am using celery == 4.2.1 and django-celery-beat==1.1.1 with django==1.11

[2019-02-04 08:04] AvnerCohen commented on #4843
Why was this issue closed?

[2019-02-04 09:49] marcosbc commented on #4694
It seems it will be included with Kombu 4.3, which is not yet out.

[2019-02-04 14:00] the-glu opened #5320 "Redis backend not unsubscribling in all cases"
# Report

software -> celery:4.2.0 (windowlicker) kombu:4.2.1 py:3.7.2
            billiard:3.5.0.5 py-amqp:2.3.2
platform -> system:Linux arch:64bit
            kernel version:4.20.5-arch1-1-ARCH imp:CPython
loader   -> celery.loaders.app.AppLoader
settings -> transport:amqp results:redis

(Using master)

# Context

We're hitting a strange issue with the redis backend as result.

In some cases, c

[2019-02-04 15:41] the-glu commented on #5320
After a few tests, this is more complex that just subscriptions not unsubscribed:

This fix the number of subscription on redis, but doesn't really fix the issue during the reconnection we had. There is also an extra issue of redis buffer full, forcing the client to disconnected.

To give more context: The full buffer was happening since the beginning. After a lot of debugging, we thought that was

[2019-02-04 15:51] the-glu commented on #5320
Potential linked issues:

#5004 : We have the same behavior - but not sure it's the same problem
#4995 : Same behavior, https://github.com/celery/celery/issues/4995#issuecomment-420456548 also takling about celery not consuming message not fast enought
#4983 : Same behavior, same error in redis logs.

[2019-02-04 18:11] georgepsarakis commented on #4843
There is active feedback and interest in this issue, so I am reopening.

[2019-02-04 18:38] NadavK opened #5321 "query_task does not return task"
# Checklist

- [x] I have included the output of ``celery -A proj report`` in the issue.
- [x] I have included the contents of ``pip freeze`` in the issue.
- [x] I have verified that the issue exists against the `master` branch of Celery.
- [ ] I have tried reproducing the issue on more than one message broker and/or result backend.
- [ ] I have tried reproducing the issue on more than one workers

[2019-02-05 06:14] willemt commented on #4734
I had the same issue when upgrading. I'm using Django and had to add this to my `LOGGING` dict for it to work again.

[code]

[2019-02-05 10:08] auvipy commented on #943
try https://github.com/celery/django-celery-beat/releases/tag/v1.4.0 or from master

[2019-02-05 11:03] auvipy commented on #4734
@willemt which version of celery are you using?

[2019-02-05 11:08] auvipy commented on #5286
which version of celery you are facing this?

[2019-02-05 11:09] ovidiu-munteanu commented on #3932
@auvipy, I can see that this issue was closed but I am not sure if there is a fix for it yet or if one is planned... It would be great if you could confirm what the current status is, thanks.

[2019-02-05 11:13] auvipy commented on #3932
could you please try celery and kombu from the master and report again?

[2019-02-05 11:17] mkielak commented on #5286
I wrote it above - Celery 4.2.1

[2019-02-05 11:21] #5306 closed

[2019-02-05 11:23] #5311 closed

[2019-02-05 11:32] auvipy commented on #4734
could you try a newer version of celery? till then I am going to close this

[2019-02-05 11:34] liormaynhypr commented on #5311
Hey @auvipy - where is the right place for types question? i'm still searching for it's answer :)

[2019-02-05 11:41] auvipy commented on #5311
https://groups.google.com/forum/#!forum/celery-users or IRC

[2019-02-05 12:22] guettli commented on #5315
@auvipy I created a pull request.

[2019-02-05 13:12] auvipy commented on #5315
thanks!

[2019-02-05 14:46] hollowbit opened #5324 "Cannot run sample script from guide: ImportError: cannot import name 'Celery'"
# Checklist

- [ x ] I have included the contents of ``pip freeze`` in the issue.
- [ x ] I have verified that the issue exists against the `master` branch of Celery

## Environment & Settings
4.2.1 (windowlicker)

# Steps to Reproduce

## Required Dependencies

* **Minimal Python Version**: 3.6.7
* **Minimal Broker Version**: N/A or Unknown
* **Minimal Result Backend Version**: N/A or Unknown
* *

[2019-02-05 15:00] hollowbit commented on #5324
Well, it turns out I needed to run it with the celery command, not with python directly...
[code]

[2019-02-05 15:00] #5324 closed

[2019-02-05 15:38] xirdneh commented on #5180
@auvipy I saw most of the issues in the 4.3 milestone were moved or closed now.
Are we planning on doing a 4.3 release soon?

[2019-02-05 15:44] auvipy commented on #5180
yes!!! as it's a long overdue!!

[2019-02-05 16:16] thedrow commented on #5180
I'm on it. Expect an RC very soon.

[2019-02-05 16:23] tell-k commented on #5180
Celery authors. I have become a backer from https://opencollective.com/celery. Thank you for your awesome tool.  Your tools are helping me a lot :)

[2019-02-05 20:46] wowkin2 commented on #4118
@teeberg thanks, following helps at least to see what is the error.
I have `celery` logger, but for some reason it doesn't work properly.
[code]

[2019-02-06 00:54] willemt commented on #4734
@auvipy I upgraded to Celery 4.2.1 and have reproduced this issue (ie. missing the "succeeded in" message). The message returns when I apply the `celery.app.trace` fix in my comment above.

It might be worth mentioning that I'm running my celery worker like this:
`celery worker -A project.celery_app -Q default -c 1 -l INFO --logfile=../log/celery-default.log  -n 1`

 It could be that the `--logfil

[2019-02-06 06:44] ikonst commented on #5281
@auvipy
[code]
Let's assume that this "/generate-report" endpoint is called when the "Generate" button. I was trying to think up a way for a single task to be enqueued even if the user pressed the button twice (or perhaps a network retry is performed in some middleware or proxy).

Reading it again, I think I misunderstood the [SQS documentation on the matter](https://docs.aws.amazon.com/AWSSimpleQ

[2019-02-06 06:46] auvipy commented on #4734
could you send that as docs improvement?

[2019-02-06 09:20] willemt commented on #4734
@auvipy I'll give it a go 👍

[2019-02-06 09:53] auvipy commented on #3085
closing as duplicate of #5120

[2019-02-06 09:53] #3085 closed

[2019-02-06 12:46] renzop commented on #3409
I ran into the same problem with celery==4.2 and rabbitmq==3.6
When I delete the clerybeat-schedule file, beat works fine again... So deleting that file in a cron job. could be a dirty fix

[2019-02-06 13:38] aimestereo commented on #2834
thanks for the fix of the original bug, but I've faced the second bug mentioned by @underyx `chain is not a real task` when trying to schedule chain with celerybeat. I couldn't find any issue for that, so I suppose it's still not fixed, @ask do you know about this issue?

P.S. we are still on `v4.1.0`

[2019-02-06 14:35] thedrow commented on #5180
Anyone objecting to codename 4.3 as [Rhubarb](https://www.youtube.com/watch?v=_AWIqXzvX-U)?
It's one of my favourite tracks from Selected Ambient Works II.

If you have any other suggestions, please make note of them here.

[2019-02-06 14:49] auvipy commented on #5180
I like it :)

[2019-02-06 16:42] thedrow commented on #5180
Kombu 4.3 is now released!

[2019-02-06 17:16] Jamim commented on #4627
Hello @auvipy,
Just wanted to remind that a milestone is missing for this bug currently.

[2019-02-06 17:37] VladimirSpigiel commented on #2727
Have same issue here, on 4.2.1. Hope the team will fix this old issue.

[2019-02-06 19:05] auvipy commented on #5248
this should be fixed with billiard 3.6 and celery 4.3

[2019-02-06 19:05] #5248 closed

[2019-02-07 05:48] #4734 closed

[2019-02-07 06:38] calhamdower commented on #5075
Bump also, I have ran into this issue. Anyone have a work around?

[2019-02-07 08:42] thomasjohn1994 commented on #3029
Please reopen this

[2019-02-07 12:45] van4oza commented on #1078
same issue on 4.2.1, any workaround besides `sys.setrecursionlimit`?

[2019-02-07 13:08] van4oza opened #5327 "Recursion error on complex chains of chords"
Issue on 4.2.1, any workaround besides `sys.setrecursionlimit`?

[code]

Now we have recursion
[code]

[2019-02-07 13:13] mariusburfey commented on #4079
`celery inspect ping` does work, but you need `bash` to replace the environment variable like this:
[code]

[2019-02-07 13:16] nmakarun commented on #4792
Hello ddavtian, georgepsarakis,

Could you please help me with this issue,  consumer: Cannot connect to redis: Error while reading from socket: (104, 'Connection reset by peer'),

My redis connection string looks as below,

broker_url = redis://:password@hostname:port/0

broker_use_ssl={'ssl_cert_reqs': ssl.CERT_NONE}.

I have no issues when I am using a rabbitmq backend.

[2019-02-07 13:27] ikthecatt commented on #5327
такая же история.

[2019-02-07 13:29] auvipy commented on #5327
could you try celery master with kombu 4.3?

[2019-02-07 13:59] van4oza commented on #5327
celery==git+https://github.com/celery/celery.git
kombu==4.3.0

same behaviour(

[2019-02-07 14:15] van4oza commented on #5327
@auvipy
it fails even here

[code]

[2019-02-07 15:27] nmakarun commented on #4812
Hello,

Could you please help me with this issue, consumer: Cannot connect to redis: Error while reading from socket: (104, 'Connection reset by peer'),

My redis connection string looks as below,

broker_url = redis://:password@hostname:port/0

broker_use_ssl={'ssl_cert_reqs': ssl.CERT_NONE}.

I have no issues when I am using a rabbitmq backend.

[2019-02-07 15:33] clokep commented on #4812
@nmakarun I believe you have to use `rediss` (with an extra "s" at the end).

[2019-02-07 15:44] nmakarun commented on #4812
@clokep I tried that as well celery is not able to recognize rediss:// and i believe it is still in development and will be available from celery 4.3 version based @georgepsarakis might know better on this.

[2019-02-07 15:49] thedrow commented on #5180
Can someone please take a look at our Windows build?
Some of the tests are failing.
Also, we're missing some Python versions there, we should add them (although that's not a blocker).

[2019-02-07 16:05] thedrow commented on #4812
I think we should consider this a blocker for 4.3 GA.
Right now we're releasing an RC so we're fine.

[2019-02-07 16:08] nmakarun commented on #4812
@thedrow I am not sure what RC means and I am fairly new to celery.Could you  please let know how to fix the url to access the azure redis with SSL ON.

[2019-02-07 17:08] rogerio-geru commented on #4875
Also, unfortunately, none of the ways are getting set in a Signal...
[code]
This would be very important to work.
Thanks.

[2019-02-07 17:13] clokep commented on #4875
This smells like it might be related to protocol v2 vs. v1? Does this issue disappear if you use protocol v1?

[2019-02-07 18:01] thedrow opened #5328 "Update our documentation for the new compression methods introduced in Kombu 4.3"
# Description

The new release of Kombu 4.3 introduced a few new optional compression methods.
They are currently not documented in Celery.

# Suggestions

We should document those new compression methods and instruct how to enable them.

[2019-02-07 19:35] rogerio-geru commented on #4875
Thanks @clokep, but unfortunately it doesn't.

In protocol v1 (task.request):
[code]
Note that ** 'headers': {}** is here, but empty.

In protocol v2:
[code]
`headers` does not even appear here.

[2019-02-07 21:06] rogerio-geru commented on #4875
I'm sorry @clokep, it does work! It was a mistake in another point of my code (I did delete the messages to not confuse anyone).
And actually FWIW, it is related to protocol as you thought. In v1 it fails in both task and Signal, in v2 it works in both.

Now I'm waiting for `headers` field to work, as in this ticket.
Thanks again!

[2019-02-08 00:19] ldav1s commented on #4843
Well @georgepsarakis since we diagnosed my leak as not being #4839, and you [suspected](https://github.com/celery/celery/pull/4839#issuecomment-458817459) that it was #4843, I'll flip over to this leak thread at least for now.  I'm not sure #4843 is my leak either.  According to the initial issue on this thread:

Celery is running on Ubuntu 16 and brokers use RabbitMQ.

I'm currently on:

python 2

[2019-02-08 22:28] xirdneh commented on #5180
@thedrow Where are the Windows build running? Appveyor?

[2019-02-09 01:14] ldav1s commented on #4843
I applied 022f447 to Celery 4.1.1 and installed gevent 1.3.7.  That Celery + gevent combination ran...and produced memory usage patterns consistent with the leak I've been experiencing.  I'll install Celery 4.2.1 + gevent 1.2.2 (with the reverse patch) and see if I get the usual memory usage pattern.

I notice gevent 1.4.0 is out.  Maybe I should give that a whirl as well to see how that behaves.

[2019-02-09 09:09] ansonurpants commented on #3932
I'm also having this issue. I tried the solution from @shaoeChen above using 2.3.2 amqp and 4.2.1 celery but still having this problem

[2019-02-09 13:54] ciarancourtney commented on #5180
PR here https://github.com/celery/celery/pull/5329

[2019-02-09 14:11] larsrinn commented on #5180
So 4.3 is good to go now?

[2019-02-09 18:32] seirl commented on #5180
Hi! You closed this issue, but the version on pypi is still 4.2.1. Is there somewhere we can track the release on pypi? Thanks.

[2019-02-10 08:08] Jamim commented on #5180
Hi folks,

@seirl I believe that this issue was closed accidentally due to description of #5329 contains `Fixes #5180` text.

@auvipy Could you please reopen this issue until `4.3` isn't actually released?
Thanks!

[2019-02-10 11:23] ciarancourtney commented on #5180
My bad, I thought auto-close would just be an option for pullee

[2019-02-10 11:41] auvipy commented on #5180
this was closed automatically by GitHub!!!

[2019-02-10 12:02] thedrow commented on #5180
@xirdneh yup.

[2019-02-11 02:32] chidg commented on #3932
Same issue,
celery 4.2.1
kombu 4.3.0
amqp 2.4.1
redis 2.10.5

[2019-02-11 05:11] cronywalls commented on #5204
The hash() is a built-in python method, used to return a unique number . This can be applied to any user-defined object which won’t get changed once initialized. This property is used mainly in dictionary keys .

TypeError: [unhashable type](http://net-informations.com/python/iq/unhashable.htm): 'list' usually means that you are trying to use a list as an hash argument. This means that when you tr

[2019-02-11 17:26] cinnamennen opened #5330 "`disable_sync_subtasks` setting not being respected"
It appears as though the `disable_sync_subtasks` setting doesn't get propagated sometimes (I get intermittent errors).

## Environment & Settings
**Celery version**: 4.2.1

# Steps to Reproduce

## Minimally Reproducible Test Case

[code]

# Expected Behavior

# Actual Behavior

[code]

[2019-02-11 19:47] thedrow commented on #5180
I'm almost done with the Changelog. I still have to elaborate on some of the items and I need to complete adding the remaining items I haven't gotten to.

The what's new section is still largely incomplete.

Feel free to help in any way possible.

[2019-02-12 08:07] mygitnote opened #5333 "'TaskPool' object has no attribute 'grow' - linux, Python 3.6"
amqp==1.4.9
anyjson==0.3.3
celery==3.1.26.post2
cryptography==2.4.2
Django==2.0.8
django-celery==3.2.2
idna==2.8
kombu==3.0.37
paramiko==2.4.2
pyasn1==0.4.5
pycparser==2.19
PyMySQL==0.9.3
PyNaCl==1.3.0
pytz==2018.9
redis==3.1.0
threadpool==1.3.2

[2019-02-12 15:52:24,946: INFO/MainProcess] Received task: schedule.tasks.SyncTaskDispatcher[0141c066-e14f-49e8-91d8-509fd56b21e6]
[2019-02-12 15:52:24,9

[2019-02-12 10:29] nguyenign commented on #3631
I have this problem with celery 4.2.1, please help!

sparkworker_1  | [2019-02-12 10:09:09,518: INFO/MainProcess] Received task: querySystem[ed21f2c4-e3ef-4fbf-8ddb-923184c664d7]
webapp_1       | 172.18.0.1 - - [12/Feb/2019 10:09:09] "GET /socket.io/?EIO=3&transport=polling&t=MZXBeR8&sid=e76ea00bc8914d3db3a775b8834f269e HTTP/1.1" 200 -
webapp_1       | 172.18.0.1 - - [12/Feb/2019 10:09:11] "POST /

[2019-02-12 12:44] Karuhanga commented on #3584
This might hopefully help someone.
I modified my code and neglected to restart the celery worker.
`Restarting the celery workers` helped.

[2019-02-12 12:57] anirvan-majumdar opened #5334 "Sub-tasks making up a Group task not returning their result as expected"
# Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
    (if you are not able to do this, then at least specify the Celery
     version affected).
- [ ] I have included the contents of ``pip freeze`` in the issue.
- [x] I have verified that the issue exists against the `master` branch of Celery.
- [ ] I have tried reproducing the issue on more than one message b

[2019-02-12 14:41] wevsty opened #5335 "If call asyncio.sleep celery will memory leak"
I tried the celery latest master branch (commit  #9149285) and I still ran into a memory leak.
I found that once I call in the middle of apply_async() and get() and wait for asyncio.sleep() I will get a memory leak.

### test environment:
Ubuntu 18.04.2 LTS
Python 3.6.7

### example code:
debug.py
[code]

debug_worker.py
[code]
### Test step
1.Run the debug_worker.py
[code]
2. Run the debug.py
Her

[2019-02-12 14:59] RadekBiba opened #5336 "E_UNSUPPORTED_PYTHON isn't printed due to a syntax error"
# Checklist

- [ ] I have included the output of ``celery -A proj report`` in the issue.
    (if you are not able to do this, then at least specify the Celery
     version affected).
- [ ] I have included the contents of ``pip freeze`` in the issue.
- [x] I have verified that the issue exists against the `master` branch of Celery.
- [ ] I have tried reproducing the issue on more than one message b

[2019-02-13 11:23] thedrow commented on #5336
Version 4.0 does not support Python 2.6. Please refer to the [4.0 version documentation](http://docs.celeryproject.org/en/4.0/whatsnew-4.0.html#dropped-support-for-python-2-6) for the list of supported Python versions.
Please upgrade your Python runtime. Python 2.6 is ancient and does not receive security updates.

[2019-02-13 11:28] thedrow opened #5337 "Update our documentation regarding the new S3 backend"
# Description
When building the documentation we get:
[code]
# Suggestions
Include it in the reference section's table of contents.

[2019-02-13 11:31] thedrow opened #5338 "Update our documentation regarding the new CosmosDB result backend"
# Description
When building the documentation we get:
``
/home/omer/Documents/Projects/celery/docs/internals/reference/celery.backends.cosmosdbsql.rst: WARNING: document isn't included in any toctree
``
# Suggestions
Include it in the reference section's table of contents.

[2019-02-13 11:38] RadekBiba commented on #5336
I know, but that's not the point. The point is the code in `setup.py` tries hard to advise what to do if you're running Python 6:

[code]

But in fact the exception is never raised, and the error message is never printed, as the code fails to compile on Python 2.6 (or less) in the first place. It's kind of like unreachable code.

If `setup.py` is made compatible with Python 2.6, then the error mes

[2019-02-13 12:18] thedrow commented on #5336
So you're suggesting we'll release a new 4.0.x version that fixes this?
Will it be even picked up by REHL?
BTW 4.0 is pretty old. We have plenty of bug fixes in 4.2 and the upcoming 4.3.
Would you consider to upgrade?

PRs are of course welcome if you think this is worth your while.

[2019-02-13 12:20] thedrow commented on #5336
I see that you work for RedHat so scratch my suggestion to upgrade.
Is this a formal request from RedHat? Does it hurt their customers?

[2019-02-13 12:58] RadekBiba commented on #5336
I don't have any suggestions or preferences regarding the version that might fix this. We've decided not to use Celery 4 on RHEL 6.

This isn't a formal request. Besides, even if the syntax in `setup.py` is changed, the main Celery 4 code won't run on Python 2.6 / RHEL 6, and I respect that. To give more information about the origin of this issue:

The issue occurred while trying to make a newer v